<div class="wrapper" *ngIf="myglobal.init">
    <div *ngIf="validToken()">
        <header class="main-header">
            <a href="#" [routerLink]="['Dashboard']" class="logo">
                <span class="logo-mini">
                    <img src="assets/img/logo-blanco-mini.png" class="img-responsive">
                </span>
                <span class="logo-lg"> <img src="assets/img/logo-blanco.png" class="img-responsive col-lg-10 col-md-10 col-sm-10 col-xs-6"> </span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a *ngIf="menu_list=='1'" href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Button trigger menu modal -->
                <button *ngIf="menu_modal=='1'" type="button" class="btn btn-blue glyphicon glyphicon-th"  style="font-size: x-large" data-toggle="modal" data-target="#myMenu">
                </button>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <!-- Notifications Menu -->
                        <li class="dropdown notifications-menu">
                            <!-- Menu toggle button -->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                            <!--<i class="fa fa-bell-o"></i>-->
                            <!--<span class="label label-warning">10</span>-->
                            <!--</a>-->
                            <ul class="dropdown-menu">
                                <!--<li class="header">You have 10 notifications</li>-->
                                <li>
                                    <!-- Inner Menu: contains the notifications -->
                                    <ul class="menu">
                                        <li><!-- start notification -->
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <!-- end notification -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="{{myglobal.user.image?myglobal.user.image:'assets/img/user-guest.png'}}"
                                     class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">{{myglobal.user.username}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="{{myglobal.user.image?myglobal.user.image:'assets/img/user-guest.png'}}" class="img-circle" alt="User Image">
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" (click)='profile($event)'
                                           class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" (click)='logout($event)' class="btn btn-default btn-flat">Salir</a>
                                    </div>
                                </li>
                                <p class="version">
                                    &nbsp;&nbsp;<i class="fa fa-gears"></i>&nbsp;<strong>N. de compilaci&oacute;n:&nbsp;</strong>{{myglobal.getParams('VERSION_CACHE')}}
                                </p>
                            </ul>
                        </li>
                        <li *ngIf="myglobal.existsPermission('165')">
                            <a (click)="activeMenu($event,'monitor')" href="#" data-toggle="control-sidebar">
                                <i class="fa fa-video-camera"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside *ngIf="menu_list=='1'" class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">

                    <div class="pull-left image">
                        <img src="{{myglobal.user.image?myglobal.user.image:'assets/img/user-guest.png'}}"
                             class="img-circle">
                    </div>
                    <div class="pull-left info">
                        <p>{{myglobal.user.name}}</p>
                        <!-- Status -->
                        <i class="fa fa-building text-success"></i> {{myglobal.user.companyName}}
                        <!--<p><a href="#" (click)="loadPermisos($event)"><i class="fa fa-refresh">Permisos</i></a></p>-->
                    </div>

                </div>
                <ul class="sidebar-menu" >
                    <li class="header" ><i class="fa fa-circle text-success"></i> {{myglobal.user.email}}</li>
                    <li  *ngFor="let item of menuItemsVisible(menuItems)"
                         [class.treeview]="item.treeview"
                         [class.active]="item.key && activeMenuId==item.key"
                    >
                        <a *ngIf="item.routerLink" href="#" [routerLink]="[item.routerLink]">
                            <i class="{{item.icon}}"></i>
                            <span>{{item.title}}</span>
                        </a>
                        <a *ngIf="item.key" (click)="activeMenu($event,item.key)">
                            <i class="{{item.icon}}"></i>
                            <span>{{item.title}}</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul *ngIf="item.treeview" class="treeview-menu">
                            <li  *ngFor="let subItem of menuItemsVisible(item.treeview)">
                                <a *ngIf="subItem.routerLink" href="#" [routerLink]="[subItem.routerLink]">
                                    <i class="{{subItem.icon}}"></i>
                                    <span>{{subItem.title}}</span>
                                </a>
                                <a *ngIf="subItem.modal" (click)="subItem.function($event,myglobal)" data-toggle="modal" [attr.data-target]="subItem.modalId">
                                    <i class="{{subItem.icon}}"></i> <span>{{subItem.title}}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
    </div>
    <router-outlet></router-outlet>
    {{loadMenuMain()}}

    <save [rules]="mhelp.rulesSave" [params]="mhelp.paramsSave" (getInstance)="setInstance($event,mhelp.prefix)" ></save>
</div>
<div class="main-footer-container noprint" *ngIf="validToken() && myglobal.init">
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            Aguaseo, C.A
        </div>
        <strong>Copyright &copy; 2016 <a href="#">AGUASEO</a>.</strong> Todos los derechos reservados.
        <br/>En caso de error comunicarse al
        {{myglobal.getParams('PHONE_SUPPORT')}} / {{ replace(myglobal.getParams('EMAIL_SUPPORT')) }}
    </footer>
</div>
<div *ngIf="validToken() && !myglobal.init" class="col-lg-12 cargar noprint">
    <h1 *ngFor="let status of myglobal.getKeys(myglobal.status)">
        <i class="fa fa-lg fa-check" *ngIf="myglobal.status[status].status"></i>
        <i class="fa fa-spinner fa-spin" *ngIf="!myglobal.status[status].status"></i>
        &nbsp;{{myglobal.status[status].title}}
    </h1>
</div>


<aside *ngIf="myglobal.existsPermission('165')" class="control-sidebar control-sidebar-dark noprint"
       [class.control-sidebar-open]="activeMenuId=='monitor'" [hidden]="activeMenuId!='monitor'">
    {{loadMonitor()}}
    <div class="tab-content">
        <div class="tab-pane active" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Camiones en el vertedero</h3>
            <ul class="control-sidebar-menu">
                <li *ngFor="let data of monitor.list">
                    <a (click)="outAnt($event,myglobal,data)" data-toggle="modal" data-target="#operacionManual">
                        <i class="menu-icon fa fa-truck bg-red"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">{{data.vehiclePlate}}</h4>
                            <p>{{data.companyName}}<br/>RUC:({{data.companyRUC}})</p>
                            <p>{{formatDate(data.dateCreated,'DD/MM/YYYY, LT')}}</p>
                        </div>
                    </a>
                </li>
                <li *ngIf="!monitor.list || (monitor && monitor.count==0)">
                    <div class="menu-info">
                        <h4 class="control-sidebar-subheading">No hay camiones</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</aside>

<!-- ./wrapper -->

<!-- Modal menu -->
<div *ngIf="menu_modal=='1'" class="modal fade" id="myMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#fff; opacity: 1;"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel" style="color:#fff; font-size:15pt;">Men&uacute; Principal</h4>
            </div>
            <div class="modal-body menu-modal">
                <div *ngFor="let item of menuItemsTreeview(menuItems)"
                     [class.treeview]="item.treeview">
                        <a *ngIf="item.routerLink" data-dismiss="modal" class="a-menu-modal" href="#" [routerLink]="[item.routerLink]">
                            <i *ngIf="!item.image" class="{{item.icon}}"></i>
                            <img *ngIf="item.image" src="{{item.image}}"/>
                            <p>{{item.title}}</p>
                        </a>
                    <div class="row" *ngIf="item.treeview">
                        <h1 style="color:#ffffff; font-size: 12pt;">{{item.title}}</h1><br/>
                        <div class="col-lg-2 col-md-2" *ngFor="let subItem of menuItemsVisible(item.treeview)">
                            <a *ngIf="subItem.routerLink" data-dismiss="modal"  href="#" class="a-menu-modal" [routerLink]="[subItem.routerLink]">
                                <i class="{{subItem.icon}}"></i>
                                <p>{{subItem.title}}</p>
                            </a>
                            <a *ngIf="subItem.modal" data-dismiss="modal" (click)="subItem.function($event)" class="a-menu-modal" data-toggle="modal" [attr.data-target]="subItem.modalId">
                                <i class="{{subItem.icon}}"></i> <p>{{subItem.title}}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--End menu modal-->