.titulo{
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: bold;

}
.marginmodel{
    margin: 3%;
}
.cabesera{
    background-color:#3c8dbc;
}
.volver{
    /*text-align: center;*/
    /*margin: 1%;*/

    float: left;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #4b5d67;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
     /*opacity: .2;*/
}  .cursor{
    cursor: pointer;
   }
   .imagen{
        margin-bottom: 34px;
   }