<div class="login-box">
    <div class="login-logo">
        <img src="app/assets/images/logo.png" class="img-responsive">
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">INICIAR SESION</p>
        <form [ngFormModel]="form" (submit)="login($event)">
            <fieldset>
                <div class="form-group input-icon right">
                    <i class="fa fa-user"></i>
                    <input id="cntrlUsername" ngControl="username" class="form-control" #username placeholder="Usuario" name="username" type="text" autofocus maxlength="20">
                    <div class="control-msgs" *ngIf="username.dirty && !username.valid && !username.pending">
                        <p *ngIf="username.errors.required">Username is required.</p>
                    </div>
                </div>
                <div class="form-group input-icon right">
                    <i class="fa fa-key"></i>
                    <input id="cntrlPassword" ngControl="password" class="form-control" #password placeholder="Contraseña" name="password" type="password" value="" maxlength="20">
                    <div class="control-msgs" *ngIf="password.dirty && !password.valid && !password.pending">
                        <p *ngIf="password.errors.required">Password is required.</p>
                    </div>
                </div>
                <button id="cntrlsubmit" type="submit" [disabled]="!form.valid" class="btn btn-lg btn-success btn-block">Entrar
                </button>
            </fieldset>
        </form>
        <p>¿Olvido su contraseńa? <a href="#" (click)="recover()">Recuperar Aqui</a></p>
        <p>¿Usuario nuevo? <a (click)="signup()">Registrese ahora</a></p>
    </div>
</div>

