<div class="content-wrapper">
    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <div class="col-lg-12 margin-bottom">
                    <h4>Lista de control de accesso</h4>
                </div>
                <div *ngIf="dataRoles.count" class="col-lg-4">
                    <select [(ngModel)]="roleSelect"  (ngModelChange)="setRole($event)"  sm-dropdown class="ui fluid search selection dropdown">
                        <option data-hidden="true"></option>
                        <option *ngFor="let n of items"  [attr.value]="n.id" >{{n.text}}</option>
                    </select>
                </div>
                <div class="col-lg-4 margin-bottom">
                    <div class="pull-left">
                        <button type="button" class="btn btn-success fa fa-plus" data-toggle="modal" data-target="#saveRol"></button>
                        <button type="button" class="btn btn-success fa fa-refresh" (click)="loadRoles()"></button>
                        <button type="button" class="btn btn-success fa fa-list" (click)="loadMyPermissions()">
                            &nbsp;Cargar mis permisos
                        </button>
                    </div>
                </div>
                <div *ngIf="!role.id" class="col-lg-10 text-red ">
                    Seleccione un rol
                </div>
            </div>
            <div class="box-body with-border">
                <div *ngIf="role.id" class="row col-lg-10 col-lg-offset-1">
                    <div *ngFor="let mod of modules" class="margin-bottom">
                        <div class="row modulo">
                            <h4>{{mod}}</h4>
                            <div *ngFor="let data of dataPermissionsAll.list">
                                <span *ngIf="data.module == mod">
                                    <div class="col-lg-4 padding-bottom">
                                         <label>
                                            <div class="material-switch">
                                                <input (click)="assignPermission(data.id)" value="{{data.id}}" [attr.id]="data.id" type="checkbox" [checked]="existsPermission(data.id)"/>
                                                <label [attr.for]="data.id" class="label-success"></label>
                                                &nbsp;<strong>{{data.title}}</strong>&nbsp;[{{data.id}}]
                                            </div>
                                         </label>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="role.id" class="box-footer with-border">
                <div class="pull-right">
                    <button type="button" class="btn btn-success" (click)="selectPermission(true)">
                        <i class="fa fa-plus"></i>&nbsp;Agregar Todos
                    </button>
                    <button type="button" class="btn btn-success" (click)="selectPermission(false)">
                        <i class="fa fa-minus"></i>&nbsp;Eliminar Todos
                    </button>

                    <button type="button" class="btn btn-success" (click)="savePermissions()">
                        <i class="fa fa-save"></i>&nbsp;Guardar
                    </button>

                </div>
            </div>

        </div>
    </section>
</div>
<rol-save idModal="saveRol" (save)="assignRol($event)"> </rol-save>

