<div class="content-wrapper">
    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <div *ngIf="dataRoles.count" class="col-lg-4">
                    <ng-select [allowClear]="true"
                               [items]="items"
                               (data)="refreshValue($event)"
                               placeholder="Seleccione un Rol">

                    </ng-select>
                </div>
            </div>
            <div class="box-body with-border">
                <div *ngIf="role.id" class="row col-lg-10 col-lg-offset-1">
                    <div *ngFor="let mod of modules">
                        <div class="row">
                            <h4>{{mod}}</h4>
                            <span *ngFor="let data of dataPermissionsAll.list">
                                <span *ngIf="data.module == mod">
                                    <label  class="checkbox-inline">
                                    <input type="checkbox" value="{{data.id}}" [checked]="existsPermission(data.id)" [disabled]="!data.enabled">
                                        {{data.title}}
                                    </label>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer with-border"></div>

        </div>
    </section>
</div>
