<div class="content-wrapper">
    <section class="content">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Parametros</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                            Agregar
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body" >
                    <div>
                        <table class="table table-striped table-hover tarjeta">
                            <thead>
                            <tr data-title="email">
                                <th>ID</th>
                                <th>Clave</th>
                                <th>Valor</th>
                                <th>Tipo </th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let data of dataList" >
                                <td>{{data.id}}</td>
                                <td (blur)="onUpdate($event,data)" accessKey="key" contenteditable="true">{{data.key}}</td>
                                <td (blur)="onUpdate($event,data)" accessKey="value" contenteditable="true">{{data.value}}</td>
                                <td (blur)="onUpdate($event,data)" accessKey="type" contenteditable="true">{{data.type}}</td>

                                <td> <i (click)="onDelete($event,data.id)" class="fa fa-trash fa-lg btn"></i></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- ./box-body -->
            </div>
            <!-- /.box -->
        </div>
    </section>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar</h4>
            </div>
            <div class="modal-body">
                <form role="form" [ngFormModel]="form" (submit)="onSave($event)">

                    <div class="form-group input-icon right">
                        <i class="fa fa-list"></i>
                        <input id="cntrlKey" ngControl="key" class="form-control" #key
                               placeholder="Clave" name="key" type="text">
                        <div class="control-msgs" *ngIf="key.dirty && !key.valid && !key.pending">
                            <p *ngIf="key.errors.required">Requerido</p>
                        </div>
                    </div>
                    <div class="form-group input-icon right">
                        <i class="fa fa-list"></i>
                        <input id="cntrlValue" ngControl="value" class="form-control" #value
                               placeholder="Valor" name="value" type="text">
                        <div class="control-msgs" *ngIf="value.dirty && !value.valid && !value.pending">
                            <p *ngIf="value.errors.required">Requerido</p>
                        </div>
                    </div>
                    <div class="form-group input-icon right">
                        <i class="fa fa-list"></i>
                        <input id="cntrlType" ngControl="type" class="form-control" #type
                               placeholder="Tipo" name="type" type="text">
                        <div class="control-msgs" *ngIf="type.dirty && !type.valid && !type.pending">
                            <p *ngIf="type.errors.required">Requerido</p>
                        </div>
                    </div>


                </form>

            </div>
            <div class="modal-footer">
                <button (click)="onSave($event)" data-dismiss="modal" type="button" class="btn btn-primary"
                        id="cntrlsubmit" [disabled]="!form.valid">
                    <i class="fa fa-save"></i>
                    Registrar
                </button>
            </div>
        </div>
    </div>
</div>
