.title{
    font-weight: bold;
}
.error-vehicle{
    background: #b93f42 !important;
    color: white;
}
.font-12pt{
    font-size: 12pt;
}
.btn-blue a{
    color: black !important;
}
.btn-blue a:hover{
    color: black !important;
}
.margin-right-2{
    margin-right: 2px;
}