<button *ngIf="data.id" data-html="true"  class="btn btn-box-tool noprint" title="Ver ayuda"
      [attr.id]="configId"
      [attr.data-placement]="data.position"
      [attr.title]="data.title"
      [attr.data-content]="data.detail"
      data-toggle="popover"

>
    <span class="{{data.size}} {{data.icon}}" [style.color]="'#'+data.color"></span>
</button>
<button *ngIf="permissions.update && data.enabled &&  myglobal.objectInstance['INFO']" class="btn btn-box-tool  noprint" title="Editar ayuda">
    <span class="fa fa-pencil-square-o {{data.size}}" [style.color]="'#'+data.color" (click)="edit($event,data)" data-toggle="modal" [attr.data-target]="'#'+ myglobal.objectInstance['INFO'].params.idModal"></span>&nbsp;
</button>