<div class="content-wrapper">
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">
                    {{viewOptions.title | translate }}
                </h3>
                <div class="pull-right" *ngIf="viewOptions['buttons']">
                    <button *ngFor="let buttom of getViewOptionsButtons()"
                            class="{{buttom.class}}" type="button" data-toggle="modal"
                            [attr.data-target]="'#'+buttom.modal">
                        <i class="{{buttom.icon}}"></i>
                        {{buttom.title | translate}}
                    </button>
                </div>
            </div>
            <div *ngIf="model.permissions.list" class="box-body">
                <div *ngIf="dataList && dataList.count>0">
                    <tables [dataList]="dataList" [model]="model" [params]="paramsTable" [where]="where"></tables>
                </div>
                <div *ngIf="dataList && dataList.count == 0">
                    <div class="alert alert-warning alert-dismissable">
                        <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                        <strong><i class="fa fa-warning"></i></strong> {{msg.notFound}}
                    </div>
                </div>
            </div>
            <div *ngIf="!model.permissions.list">
                <div class="btn-red padding-error">
                    <h5><i class="fa fa-warning"></i>&nbsp;<strong>{{msg.warningTitle}}</strong></h5>
                    {{msg.noAuthorized}}
                </div>
            </div>
        </div>
    </section>
</div>
<div *ngIf="model.permissions.add">
    <save [params]="model.paramsSave" [rules]="model.rulesSave" (save)="setLoadData($event)"></save>
</div>
<div *ngIf="model.permissions.filter">
    <filter [params]="model.paramsSearch" [rules]="model.rules" (whereFilter)="loadWhere($event)"></filter>
</div>