<div class="content-wrapper">
    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{viewOptions.title | translate }}</h3>

                <div class="pull-right" *ngIf="viewOptions['buttons'].length > 0">
                    <button *ngFor="let buttom of getViewOptionsButtons()"
                            class="{{buttom.class}}" type="button" data-toggle="modal"
                            [attr.data-target]="'#'+buttom.modal">
                        <i class="{{buttom.icon}}"></i>
                        {{buttom.title | translate}}
                    </button>
                </div>

            </div>
            <!-- /.box-header -->



            <div *ngIf="permissions.list" class="box-body">
                <div>
                    <table class="table table-striped table-hover tarjeta">
                        <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Placa</th>
                            <th>Fecha de entrada</th>
                            <th>Fecha de salida</th>
                            <th>Peso E.</th>
                            <th>Peso S.</th>
                            <th>Neto</th>
                            <th>Registrar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of dataList.list">
                            <td>
                                <a class="btn btn-box-tool"
                                   (click)="goTaquilla($event,data.companyId)">
                                    {{data.companyName}}<br/>({{data.companyRUC}})
                                    <i class="fa fa-external-link"></i>
                                </a>
                            </td>
                            <td>{{data.vehiclePlate}}</td>
                            <td>{{formatDate(data.dateIn,'DD/MM/YYYY, LT')}}</td>
                            <td>{{formatDate(data.dateOut,'DD/MM/YYYY, LT')}}</td>
                            <td>{{data.weightIn | number:'.0-3'}}</td>
                            <td>{{data.weightOut | number:'.0-3'}}</td>
                            <td>{{(data.weightIn - data.weightOut) | number:'.0-3'}}</td>
                            <td>
                                <a (click)="cargarData($event,data)" data-toggle="modal" data-target="#operacionManual2" >
                                    <i class="fa fa-sign-in fa-lg"></i>&nbsp;Cargar
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- ./box-body -->
            <div *ngIf="permissions.list" class="box-footer with-border">
                <div *ngIf="dataList.page && dataList.page.length > 1 && dataList.count > 0" class="btn-group pull-right">
                    <button (click)="loadData(max*(val-1))" *ngFor="let val of dataList.page" type="button"
                            class="btn btn-default">
                        {{val}}
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>
<operacion-save idModal="operacionManual2" [rules]="rulesSave" [inAnt]="dataOperation" (save)="liberar($event)"> </operacion-save>
