<div class="content-wrapper">
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Reporte por consumo de rutas</h3>
            </div>
            <div *ngIf="myglobal.existsPermission('93')"  class="box-body">
                <div class="row padding-bottom">
                    <div class="form-group input-icon right col-lg-4">
                        Ruta:&nbsp;{{routeName!="all"?routeName:"Buscar una ruta especifica"}} <button  *ngIf="myglobal.existsPermission('151')"
                                                                                                             type="button" class="btn btn-box-tool fa fa-search text-blue"
                                                                                                             data-toggle="modal" data-target="#searchModal">
                    </button><br/>
                        <label>
                            <div class="material-switch ">
                                <input (click)="cambiarAll()" id="todos" [attr.accesskey]="msgLabelAll" type="checkbox" [checked]="msgLabelAll" [disabled]="msgLabelAll"/>
                                <label for="todos" class="label-success"></label>
                                <span>&nbsp;{{msgLabelAll?"TODOS":"BUSCAR TODOS"}}</span>
                            </div>
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-icon right">
                            <i class="glyphicon glyphicon-calendar"></i>
                            <input [class.hide]="msgLabel" datepicker [format]="formatDate1" (fecha)="loadMatriz($event)" value="Ingresar un periodo" type="text" class="form-control">
                            <input [class.hide]="!msgLabel" datepicker [format]="formatDate2" (fecha)="loadMatriz($event)" value="Ingresar un periodo" type="text" class="form-control">
                        </div>

                    </div>
                    <div class="col-lg-3" style="padding-top: 5pt;">
                        <label>
                            <div class="material-switch ">
                                <input (click)="cambiar()" id="formato" [attr.accesskey]="msgLabel" type="checkbox" [checked]="msgLabel"/>
                                <label for="formato" class="label-success"></label>
                                <span>&nbsp;{{msgLabel?"Año":"Mes/Año"}}</span>
                            </div>
                        </label>
                    </div>
                </div>
                <div *ngIf="dataList && dataList.list">
                    <div class="col-lg-12 enableOverflow">
                        <div class="col-lg-12 text-center">
                            <strong>REPORTE POR CONSUMO DE RUTAS DEL {{dataConsult.date}}</strong>
                        </div>
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="text-center" colspan="4">Balance del periodo ({{dataList.metric}})</th>
                            </tr>
                            <tr>
                                <th>Minimo</th>
                                <th>Maximo</th>
                                <th>Promedio</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>{{minG | number:'.0-3'}}</th>
                                <th>{{maxG | number:'.0-3'}}</th>
                                <th>{{avgG}}</th>
                                <th>{{totalG | number:'.0-3'}}</th>
                            </tr>
                            </tbody>
                        </table>
                        <table id="content" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="text-blue text-title">Grupo/{{dataList.metric}}</th>
                                <th *ngFor="let cat of dataList.categories">{{cat}}</th>
                                <th>Minimo</th>
                                <th>Maximo</th>
                                <th>Promedio</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{minMaxAvgSumGlobal()}}
                            <tr *ngFor="let data of dataList.list">
                                <td>
                                    {{data.title}}
                                </td>
                                <td *ngFor="let ton of data.data">
                                    {{ton | number:'.0-3'}}
                                </td>
                                <td *ngFor="let val of minMaxAvgSum(data.data)">
                                    {{val | number:'.0-3'}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-12">
                        <button (click)="exportCSV()" type="button" class="btn btn-default pull-right">
                            <i class="fa fa-download"></i>&nbsp;Exportar a CSV
                        </button>
                    </div>

                </div>
            </div>
            <div *ngIf="myglobal.existsPermission('93')"  class="box-footer with-border">
                <div *ngIf="dataList && dataList.count > 0 && dataList.page > 1" class="btn-group pull-right">
                    <button (click)="loadData(max*(val-1))" *ngFor="let val of dataList.page" type="button" class="btn btn-default">
                        {{val}}
                    </button>
                </div>
            </div>
            <div *ngIf="!myglobal.existsPermission('93')">
                <div class="btn-red padding-error">
                    <h5><i class="fa fa-warning"></i>&nbsp;<strong>ADVERTENCIA</strong></h5>
                    No tiene permisos para listar las operaciones
                </div>
            </div>

        </div>
    </section>
</div>
<div *ngIf="myglobal.existsPermission('151')">
    <search [params]="searchRuta" (result)="assignRuta($event)"></search>
</div>