<div class="content-wrapper">
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Reporte por veh&iacute;culos y grupos</h3>
            </div>
            <div *ngIf="myglobal.existsPermission('93')"  class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group input-icon right col-lg-6">
                            Lapso
                            <div class="input-icon right">
                                <select [(ngModel)]="fechaSelect"  (ngModelChange)="setFecha($event)"  sm-dropdown class="ui fluid search selection dropdown">
                                    <option data-hidden="true" value="-1"></option>
                                    <option *ngFor="let n of itemsFecha"  [attr.value]="n.id" >{{n.text}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div *ngIf="companyTypes.list" class="form-group input-icon right">
                                Grupos
                                <select [(ngModel)]="typeSelect"  (ngModelChange)="setType($event)"  sm-dropdown class="ui fluid search selection dropdown">
                                    <option data-hidden="true" value="-1" >TODOS LOS GRUPOS</option>
                                    <option *ngFor="let n of companyTypes.list"  [attr.value]="n.title" >{{n.title | uppercase}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-9">
                            <form role="form" [ngFormModel]="form" (submit)="loadReporte($event)" >
                                <div datepicker [format]="formatDateFact" (fecha)="loadFechaFac($event)" class="input-daterange input-group">
                                    <input type="text" class="input-sm form-control" name="start" accessKey="1" placeholder="Inicio"/>
                                    <span class="input-group-addon">Hasta</span>
                                    <input type="text" class="input-sm form-control" name="end" accessKey="2" placeholder="Fin"/>
                                </div>
                                <div class="form-group input-icon right">
                                    <i class="fa fa-truck"></i>
                                    <input ngControl="plate" class="form-control" [(ngModel)]="plate.value"  placeholder="Placa del vehículo" type="text">
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-3 margin-top-8">
                            <button (click)="loadReporte($event)" type="button" class="btn btn-success"
                                    id="cntrlsubmit" [disabled]="!form.valid">
                                <i class="fa fa-bank"></i>
                                Consultar
                            </button>
                        </div>
                    </div>

                </div>
                <div *ngIf="dataList && dataList.list" class="margin-top-12">
                    <div class="col-lg-12 enableOverflow">
                        <div class="col-lg-12 text-center">
                            <strong>CONSUMO EN {{dataList.metric | uppercase }} POR VEH&Iacute;CULOS Y GRUPOS </strong>
                        </div>
                        <table id="content" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="text-blue text-title">Veh&iacute;culos/Grupo</th>
                                <th *ngFor="let cat of dataList.categories">{{cat}}</th>
                                <th>Minimo</th>
                                <th>Maximo</th>
                                <th>Promedio</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let data of dataList.list">
                                <td>
                                    {{data.plate}}
                                </td>
                                <td *ngFor="let ton of data.data">
                                    {{ton}}
                                </td>
                                <td *ngFor="let val of minMaxAvgSum(data.data)">
                                    {{val}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-12">
                        <button (click)="exportCSV()" type="button" class="btn btn-default pull-right">
                            <i class="fa fa-download"></i>&nbsp;Exportar a CSV
                        </button>
                    </div>

                </div>
            </div>
            <div *ngIf="myglobal.existsPermission('93')"  class="box-footer with-border">
                <div *ngIf="dataList && dataList.count > 0" class="btn-group pull-right">
                    <button (click)="loadData(max*(val-1))" *ngFor="let val of dataList.page" type="button" class="btn btn-default">
                        {{val}}
                    </button>
                </div>
            </div>
            <div *ngIf="!myglobal.existsPermission('93')">
                <div class="btn-red padding-error">
                    <h5><i class="fa fa-warning"></i>&nbsp;<strong>ADVERTENCIA</strong></h5>
                    No tiene permisos para listar las operaciones
                </div>
            </div>

        </div>
    </section>
</div>