<div class="content-wrapper">
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h4 class="box-title">
                    REPORTE POR GRUPO DE CLIENTES
                </h4>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form" [ngFormModel]="form" (submit)="loadReporte($event)" >

                            <div datepicker [format]="formatDateFact" (fecha)="loadFechaFac($event)" class="input-daterange input-group">
                                <input type="text" class="input-sm form-control" name="start" accessKey="1" />
                                <span class="input-group-addon">Hasta</span>
                                <input type="text" class="input-sm form-control" name="end" accessKey="2"/>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="companyTypes.list" class="form-group input-icon right col-lg-3">
                        <select [(ngModel)]="typeSelect"  (ngModelChange)="setType($event)"  sm-dropdown class="ui fluid search selection dropdown">
                            <option data-hidden="true" value="-2" >Sin grupos</option>
                            <option data-hidden="true" value="-1" >Todos los grupos</option>
                            <option *ngFor="let n of companyTypes.list"  [attr.value]="n.id" >{{n.title}}</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <button (click)="loadReporte($event)" type="button" class="btn btn-success"
                                id="cntrlsubmit" [disabled]="!form.valid">
                            <i class="fa fa-bank"></i>
                            Consultar
                        </button>
                    </div>
                </div>
                <div id="reporte" *ngIf="dataList.list" class="col-lg-12 col-xs-12 col-md-12 col-sm-12 table-group">
                    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 text-center table-head">
                        <div class="pull-right noprint">
                            <i (click)="onPrint()" class="btn fa fa-print fa-lg"></i>
                        </div>
                        <strong>
                            <h2>AGUASEO, S.A</h2>
                            <strong>RELLENO SANITARIO DE MONTE ESPERANZA</strong><br/>
                            REPORTE POR GRUPO DE CLIENTES<br/>
                        </strong>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-bottom">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            Fecha: {{ fechaRegistro | fecha | date:'dd'}}/{{ fechaRegistro | fecha | date:'MM'}}/{{ fechaRegistro | fecha | date:'yyyy'}}<br/>
                            Hora: {{ fechaRegistro | fecha | date:'h:mma'}}
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">COMPROBANTE DEL {{params.dateStart}} AL {{params.dateEnd}}</div>
                    </div>
                    <div class="row table-title">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">CODIGO</div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">CLIENTE</div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">PLACA</div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">DOC</div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">FECHA</div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">HORA</div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">PESO NETO</div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">VALOR</div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngFor="let type of dataList.list; let i = index">
                            <div class="row text-center title-companygroup"><h3>{{type.companyTypeTitle}}</h3></div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngFor="let recharge of type.recharges">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{recharge.companyRuc}}</div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{recharge.companyName}}</div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{recharge.vehiclePlate}}</div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{recharge.reference}}</div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    {{recharge.referenceDate | fecha | date:'dd'}}/
                                    {{recharge.referenceDate | fecha | date:'MM'}}/
                                    {{recharge.referenceDate | fecha | date:'yyyy'}}
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{recharge.referenceDate | fecha | date:'h:mma'}}</div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                    {{recharge.weightIn-recharge.weightOut}}
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                    {{recharge.quantity}}
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="font-weight: 900;">
                                <div class="col-lg-offset-8 col-md-offset-8 col-sm-offset-8 col-xs-offset-8 col-lg-2 col-md-2 col-sm-2 col-xs-2">Viajes - {{type.recharges.length}}</div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{sumTotalPeso(i)}}</div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{sumTotalFact(i)}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>