.table-group{
    background-color: rgba(0, 0, 0, 0.02);
    margin-top: 10pt;
    border-radius: 5pt;
}
.table-head{
    margin-top: 10pt;
    margin-bottom: 10pt;
}
.title-companygroup{
    margin-bottom: 10pt;
    background-color: rgba(0, 0, 0, 0.34);
    color: white;
    font-size: 12pt;
    padding-top: 2pt;
    padding-bottom: 2pt;
}
.padding-bottom{
    padding-bottom: 10pt;
}
.table-title{
    color: black;
    font-weight: 500;

}
.margin-top-12{
    margin-top: 12pt;
}

/*Toggle*/
.padding-bottom{
    padding-bottom: 10pt;
}


.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(255, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -12px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 0, 0);
    border-radius: 16px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -13px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}