<div class="content-wrapper">
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{title}}&nbsp;
                    <tooltip code="CODE_28"></tooltip>
                </h3>
            </div>
            <div class="box-body">
                <div class="row padding-bottom noprint">
                    <div class="col-lg-12">
                        <!-- [type]="'range'"-->
                        <date-range (output)="loadRange($event)" [type]="'range'"></date-range>
                    </div>

                    <div class="form-group input-icon right col-lg-12">
                        Cliente:&nbsp;{{ (valueSearch && valueSearch.title)?valueSearch.title:"Buscar un cliente"}}
                        <button type="button" class="btn btn-box-tool fa fa-search text-blue"
                                data-toggle="modal" [attr.data-target]="'#'+client.paramsSearch.idModal">
                        </button>
                    </div>
                </div>

                <div style="align-content: center" *ngIf="(valueSearch && valueSearch.id)"></div>

                <span *ngIf="url">

          <div class="col-md-4 col-sm-6 col-xs-12">
            <a [attr.href]="url+'&formatType=pdf&lands=true'" (click)="debugLog(url+'&formatType=pdf&lands=true')"
               target="_blank" title="Exportar a pdf">
                  <div class="info-box bg-red">
                    <span class="info-box-icon"><i class="fa fa-file-pdf-o"></i></span>
                    <div class="info-box-content">
                          <span class="info-box-text">{{title}}</span>
                      <span class="info-box-number">Cliente: {{valueSearch.title || 'Todos'}}</span>
                      <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                      </div>
                          <span class="progress-description">
                            Descargar En PDF
                          </span>
                    </div>
                  </div>
            </a>
              <!-- /.info-box -->
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <a [attr.href]="url+'&formatType=xls&lands=true'" (click)="debugLog(url+'&formatType=pdf&lands=true')"
               target="_blank" title="Exportar a excel">
                  <div class="info-box bg-success">
                    <span class="info-box-icon"><i class="fa fa-file-excel-o"></i></span>
                    <div class="info-box-content">
                          <span class="info-box-text">{{title}}</span>
                      <span class="info-box-number">Cliente: {{valueSearch.title || 'Todos'}}</span>
                      <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                      </div>
                          <span class="progress-description">
                            Descargar En Excel
                          </span>
                    </div>
                  </div>
            </a>
              <!-- /.info-box -->
          </div>
     </span>

            </div>

        </div>
    </section>
</div>
<div *ngIf="client && client.paramsSearch">
    <search [params]="client.paramsSearch" (result)="assignSearch($event)"></search>
</div>
