<div class="content-wrapper">
    <section id="reporte" class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{viewOptions.title | translate }}&nbsp;<tooltip code="CODE_11"></tooltip>
                    <div class="btn-group dropdown noprint">
                        <button type="button" data-toggle="dropdown"
                                class="btn btn-box-tool dropdown-toggle"
                                aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-filter fa-lg"></i>
                        </button>
                        <ul role="menu" class="dropdown-menu text-left submenu-config">
                            <li *ngFor="let view of orderViewData" >
                                <span (click)="setVisibleView(view)"
                                      class="btn fa {{view.visible?'text-green fa-eye':'text-red fa-eye-slash'}}">
                                &nbsp;{{view.title}}</span>
                            </li>
                        </ul>
                    </div>
                </h3>

                <div class="pull-right noprint" *ngIf="viewOptions['buttons'].length > 0">
                    <button *ngFor="let buttom of getViewOptionsButtons()"
                            class="{{buttom.class}}" type="button" data-toggle="modal"
                            [attr.data-target]="'#'+buttom.modal">
                        <i class="{{buttom.icon}}"></i>
                        {{buttom.title | translate}}
                    </button>&nbsp;

                    <button *ngIf="model.permissions.viewDelete" class="btn btn-red" [class.btn-outlined]="!viewDelete" type="button" [attr.title]="viewDelete?'Ocultar eliminados':'Ver eliminados'" (click)="loadViewDelete($event)">
                        <i class=" fa fa-trash fa-lg"></i>
                    </button>
                    <tooltip code="CODE_46"></tooltip>
                </div>

            </div>
            <!-- /.box-header -->
            <div *ngIf="model.permissions.list" class="box-body">
                <div>
                    <div class="pull-right noprint">
                        <i (click)="export('print')" class="btn fa fa-print fa-lg" title="Imprimir"></i>
                        <i (click)="export('xls')" class="btn fa fa-file-excel-o fa-lg" title="Exportar"></i>
                    </div>
                    <table class="table export table-striped table-hover tarjeta">
                        <thead>
                        <tr>
                            <td *ngFor="let view of orderViewData" [hidden]="!view.visible">
                                {{view.title}}
                                <br/>
                                <div class="btn-group btn-box-tool row noprint">
                                    <span (click)="setOrden(view,'asc')" class="fa fa-caret-left btn"></span>

                                    <span (click)="setVisibleView(view)" class="fa fa-eye text-green btn"></span>

                                    <span (click)="setOrden(view,'desc')" class="fa fa-caret-right btn"></span>
                                </div>
                            </td>
                            <th class="noprint" *ngIf="getViewOptionsActions().length > 0 && !viewDelete">
                                Acciones&nbsp;<tooltip code="CODE_47"></tooltip>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of dataList.list">
                            <td *ngFor="let view of orderViewData" [hidden]="!view.visible">
                                <span [ngSwitch]="view.key">
                                    <span  *ngSwitchWhen="'company'">
                                        <a class="btn btn-box-tool"
                                           (click)="goTaquilla($event,data.companyId)">
                                        {{data.companyName}}<br/>({{data.companyRUC}})
                                        <i class="fa fa-external-link"></i>
                                        </a>
                                    </span>
                                    <span   *ngSwitchWhen="'companyTypeName'">
                                        {{data.companyTypeName}}
                                    </span>
                                    <span   *ngSwitchWhen="'containerCode'">
                                        {{data.containerCode}}
                                    </span>
                                    <span   *ngSwitchWhen="'neto'">
                                        {{( (data.weightIn || 0) - (data.weightOut || 0)) | number:'.0-3'}}
                                    </span>
                                    <span   *ngSwitchWhen="'rechargeReferenceDate'">
                                        {{formatDate(data.rechargeReferenceDate,'DD/MM/YYYY, LT',false,data.id)}}
                                        <i *ngIf="viewChangeDate(data.rechargeReferenceDate)" class="fa fa-exchange btn" (click)="changeFormatDate(data.id)"></i>
                                    </span>
                                    <span   *ngSwitchWhen="'rechargeReference'">
                                        {{data.rechargeReference || "-"}}
                                    </span>
                                    <span   *ngSwitchWhen="'dateCreated'">
                                        {{formatDate(data.dateCreated,'DD/MM/YYYY, LT',false,data.id)}}
                                        <i *ngIf="viewChangeDate(data.dateCreated)" class="fa fa-exchange btn" (click)="changeFormatDate(data.id)"></i>
                                    </span>
                                    <span   *ngSwitchWhen="'route'">
                                        {{data.routeTitle}}&nbsp;({{data.routeReference}})
                                    </span>
                                    <span   *ngSwitchWhen="'trash'">
                                        {{data.trashTypeTitle}}&nbsp;({{data.trashTypeReference}})
                                    </span>
                                    <span   *ngSwitchWhen="'usernameCreator'">
                                        {{data.usernameCreator}}
                                    </span>
                                    <span   *ngSwitchWhen="'rechargeQuantity'">
                                        <span [class.text-red]="data.rechargeQuantity<0" [class.text-green]="data.rechargeQuantity>=0">
                                            {{data.rechargeQuantity | number:'.0-2' || "-"}}
                                        </span>
                                    </span>
                                    <span   *ngSwitchWhen="'vehicle'">
                                        {{data.vehiclePlate}}
                                    </span>
                                    <span   *ngSwitchWhen="'choferName'">
                                        {{data.choferName}}
                                    </span>
                                    <span   *ngSwitchWhen="'weightIn'">
                                        <!--<a x-editable [endpoint]="endpoint" [function]="onEditableWeight" [data]="data"-->
                                           <!--[disabled]="!model.permissions.update" [rules]="model.rules" field="weightIn"></a>-->
                                        {{data.weightIn}}
                                    </span>
                                    <span   *ngSwitchWhen="'comment'">
                                        <!--<a x-editable [endpoint]="endpoint" [function]="onEditableWeight" [data]="data"-->
                                        <!--[disabled]="!model.permissions.update" [rules]="model.rules" field="weightIn"></a>-->
                                        {{data.comment}}
                                    </span>
                                    <span   *ngSwitchWhen="'weightOut'">
                                        <!--<a x-editable [endpoint]="endpoint" [function]="onEditableWeight" [data]="data"-->
                                           <!--[disabled]="!model.permissions.update" [rules]="model.rules" field="weightOut"></a>-->
                                        {{data.weightOut}}
                                    </span>
                                    <span   *ngSwitchWhen="'enabled'">
                                        <button  class="{{getBooleandData('enabled',data).class}}" (click)="onLock('enabled',data)" [disabled]="getBooleandData('enabled',data).disabled || viewDelete">
                                            {{getBooleandData('enabled',data).text}}
                                        </button>
                                    </span>


                                </span>
                            </td>

                            <td class="noprint" *ngIf="getViewOptionsActions().length > 0 && !viewDelete" style="vertical-align: middle">

                                <div class="btn-group">
                                    <label *ngFor="let action of getViewOptionsActions()" >

                                        <a *ngIf="action == 'delete' && data.enabled" data-toggle="modal" [attr.data-target]="'#modalDelete'"
                                           (click)="dataSelect = data" href="#" title="Eliminar">
                                            <span class="fa fa-trash fa-lg btn"></span>
                                        </a>

                                        <a *ngIf="action == 'edit' && data.enabled" (click)="edit(data)" [attr.title]="viewOptions.actions.edit.title"
                                           data-toggle="modal" [attr.data-target]="'#'+viewOptions.actions.edit.modal">
                                            <span class="fa fa-pencil-square-o fa-lg btn"></span>
                                        </a>

                                        <a *ngIf="action == 'close' && data.enabled && data.rechargeQuantity == 0" [attr.title]="viewOptions.actions.close.title"
                                           data-toggle="modal" [attr.data-target]="'#modalClose'" (click)="dataSelect = data">
                                            <span  class="fa fa-lg btn fa-lock"></span>
                                        </a>

                                        <a *ngIf="action == 'automatic' && data.rechargeId && !data.rechargePaid && data.rechargeQuantity != 0"
                                           data-toggle="modal" [attr.data-target]="'#modalAutomatic'"
                                           (click)="dataSelect = data;dataSelect.option=1" title="Recarga automatica">
                                            <span class="fa fa-money fa-lg btn"></span>
                                        </a>

                                        <a *ngIf="action == 'print' && data.rechargeId && !data.enabled" (click)="onPrint(data)" title="Imprimir">
                                            <span class="fa fa-print fa-lg btn"></span>
                                        </a>

                                        <a *ngIf="action == 'print' && data.rechargeId && data.enabled  && !data.companyTypeFree && !data.companyTypeCredit && data.rechargeQuantity != 0"
                                           (click)="dataSelect = data;dataSelect.option=2" title="Imprimir"
                                           data-toggle="modal" [attr.data-target]="'#modalAutomatic'">
                                            <span class="fa fa-print fa-lg btn"></span>
                                        </a>

                                        <a *ngIf="action == 'print' && data.rechargeId && data.enabled  && !data.companyTypeFree && !data.companyTypeCredit && data.rechargeQuantity == 0"
                                           (click)="dataSelect = data;dataSelect.option=3" title="Imprimir"
                                           data-toggle="modal" [attr.data-target]="'#modalAutomatic'">
                                            <span class="fa fa-print fa-lg btn"></span>
                                        </a>

                                        <a *ngIf="action == 'print' && data.rechargeId && data.enabled  && !data.companyTypeFree && data.companyTypeCredit"
                                           (click)="dataSelect = data;dataSelect.option=3" title="Imprimir"
                                           data-toggle="modal" [attr.data-target]="'#modalAutomatic'">
                                            <span class="fa fa-print fa-lg btn"></span>
                                        </a>

                                        <a *ngIf="action == 'print' && data.rechargeId && data.enabled  && data.companyTypeFree"
                                           (click)="dataSelect = data;dataSelect.option=3" title="Imprimir"
                                           data-toggle="modal" [attr.data-target]="'#modalAutomatic'">
                                            <span class="fa fa-print fa-lg btn"></span>
                                        </a>


                                    </label>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- ./box-body -->
            <div *ngIf="model.permissions.list" class="box-footer with-border">
                <div *ngIf="dataList.page && dataList.page.length > 1 && dataList.count > 0" class="btn-group pull-right">
                    <button (click)="loadData(val)" [class.btn-green]="val==((offset/max)+1)" *ngFor="let val of dataList.page" type="button"
                            class="btn btn-default">
                        {{val}}
                    </button>
                </div>
            </div>
            <div *ngIf="!model.permissions.list" class="box-body">
                <div class="btn-red padding-error">
                    <h5><i class="fa fa-warning"></i>&nbsp;<strong>{{viewOptions.errors.title}}</strong></h5>
                    {{viewOptions.errors.list}}
                </div>
            </div>

        </div>
    </section>
</div>
<div *ngIf="model.permissions.add">
    <operacion-save [(idModal)]="model.paramsSave.idModal" (save)="assignData($event)"></operacion-save>
</div>

<div *ngIf="model.permissions.filter">
    <filter [rules]="model.rules" [params]="model.paramsSearch" (whereFilter)="loadWhere($event)"></filter>
</div>

<div *ngIf="model.permissions.delete && viewOptions.actions.delete">
    <div class="modal fade" [attr.id]="'modalDelete'" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header btn-red text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i
                            class="fa fa-warning"></i>&nbsp;<strong>{{viewOptions.actions.delete.title}}</strong></h4>
                </div>
                <div class="modal-body">
                    ¿ {{viewOptions.actions.delete.message}} <strong>{{dataSelect[viewOptions.actions.delete.keyAction]}}</strong> ?

                    <textarea  [(ngModel)]="commentDelete.value" (keyup)="onKeyComment($event)" class="form-control" rows="5"
                              placeholder="Por favor ingrese la razon por la que desea eliminar esta operación">
                    </textarea>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outlined btn-red fa fa-close" data-dismiss="modal">&nbsp;{{ 'Cancelar' | translate }}</button>
                    <button (click)="onPatchDelete($event,dataSelect.id)" data-dismiss="modal" type="button"
                            class="btn btn-red fa fa-trash">&nbsp;{{ 'Eliminar' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div  *ngIf="model.permissions.print">
    <operacion-print [data]="operacionPrint"></operacion-print>
</div>

<div *ngIf="model.permissions.automatic">
    <div class="modal fade" id="modalAutomatic" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabe">
                        <strong>CONFIRMAR</strong></h4>
                </div>
                <div class="modal-body">

                    <span *ngIf="dataSelect.option==1 || dataSelect.option==2">
                        <span *ngIf="dataSelect.option==2" class="text-red">
                            Debe realizar el pago de la operación<br>
                        </span>

                        ¿ Estás seguro que deseas realizar un pago automatico al cliente
                        <strong>{{dataSelect.companyName}}&nbsp;({{dataSelect.companyRUC}})</strong> por
                        {{(dataSelect.rechargeQuantity)*-1}} {{MONEY_METRIC_SHORT}}?<br/>
                        <input (keyup)="onKey($event)" type="text" class="form-control" placeholder="Recibo {{AUTOMATIC_RECHARGE_PREF}} {{dataSelect.rechargeReference}}" >

                        <span class="text-red">Esta operación no podrá ser modificada ni eliminada, luego de hacer click en {{dataSelect.option==1?'Pagar':'Pagar e imprimir'}}.</span>
                    </span>

                    <span *ngIf="dataSelect.option==3">
                        Esta accion finalizara la operación con la referencia: {{dataSelect.rechargeReference}}<br>
                        <span class="text-red">Esta operación no podrá ser modificada ni eliminada, luego de hacer click en Imprimir.</span>
                    </span>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outlined btn-red fa fa-close" data-dismiss="modal">&nbsp;Cancelar</button>

                    <button *ngIf="dataSelect.option==1" (click)="onRechargeAutomatic($event,dataSelect)" data-dismiss="modal" type="button"
                            class="btn btn-green fa fa-print">&nbsp;Pagar
                    </button>

                    <button *ngIf="dataSelect.option==2" (click)="onRechargeAutomatic($event,dataSelect);onPrint(dataSelect)" data-dismiss="modal" type="button"
                            class="btn btn-green fa fa-print">&nbsp;Pagar e imprimir
                    </button>

                    <button *ngIf="dataSelect.option==3" (click)="onPatch('enabled',dataSelect);onPrint(dataSelect)" data-dismiss="modal" type="button"
                            class="btn btn-green fa fa-print">&nbsp;Imprimir
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalClose" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header btn-red text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    <i class="fa fa-warning"></i>&nbsp;
                    <strong>ADVERTENCIA</strong>
                </h4>
            </div>
            <div class="modal-body">
                Esta accion finalizara la operación con la referencia: {{dataSelect.rechargeReference}}<br>
                <span class="text-red">Esta operación no podrá ser modificada ni eliminada, luego de hacer click en finalizar.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outlined btn-red fa fa-close" data-dismiss="modal">&nbsp;{{ 'Cancelar' | translate }}</button>
                <button (click)="onPatch('enabled', dataSelect)" data-dismiss="modal" type="button"
                        class="btn btn-red fa fa-lock">&nbsp;{{ 'Finalizar' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
