.padding-error{
    padding: 5pt;
}
.padding-top-4{
    padding-top: 4pt;
}
.img-search{
    width: 28pt;
}
.form-margin{
    margin-bottom: 10pt;
}
.z-index{
    z-index:1;
}
.alert{
    margin-bottom: 0px !important;
}
/*Factura*/
.subrayar{
    text-decoration: underline;
}
.head-fact{
    margin-top:0.4cm !important;
    font-weight: 600;
    margin-bottom: 3px;
    font-size: 12px;
}
.body-print{
    font-size: 10px;
    font-family: times, arial !important;
}
.detalle-title{
    border-bottom: 1px solid #949494;
    border-top: 1px solid #949494;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.body-fact{
    border-bottom: 1px solid #949494;
    margin-bottom: 3px;
    padding-bottom: 3px;
}
.borde-margin{
    border-top: 1px solid black;
    margin-top: 30px;
}
.texto-head{
    color: white;
    font-weight: 600;
    background-color: #7b7b7b;
}
.text-foot{
    color: red;
    font-size: 12pt
}
.text-search{
    margin-left: 5pt;
    color: blue;
}
.cursor-pointer{
    cursor: pointer;
}
ul.submenu-config li{
    min-width: 250px !important;
}