<div class="modal fade" id="{{idModal}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar</h4>
            </div>
            <div class="modal-body">
                <form role="form" [ngFormModel]="form" (submit)="submitForm($event)">
                    <div class="form-group input-icon right">
                        <i class="fa fa-list"></i>
                        <input id="cntrlVehicle" ngControl="vehicle" class="form-control" #vehicle
                               placeholder="Vehiculo" name="vehicle" type="text">
                        <div class="control-msgs" *ngIf="vehicle.dirty && !vehicle.valid && !vehicle.pending">
                            <p *ngIf="vehicle.errors.required">Requerido</p>
                        </div>
                    </div>
                    <div class="form-group input-icon right">
                        <i class="fa fa-image"></i>
                        <input id="cntrlNumber" ngControl="number" class="form-control" #number
                               placeholder="Numero" name="number" type="text">
                        <div class="control-msgs" *ngIf="number.dirty && !number.valid && !number.pending">
                            <p *ngIf="number.errors.required">Requerido</p>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button (click)="submitForm($event)" data-dismiss="modal" type="button" class="btn btn-primary"
                        id="cntrlsubmit" [disabled]="!form.valid">
                    <i class="fa fa-save"></i>
                    Registrar
                </button>
            </div>
        </div>
    </div>
</div>
