<div class="content-wrapper">
    <section class="content">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{viewOptions.title}}</h3>
                </div>
                <!-- /.box-header -->
                <div *ngIf="permissions['list']" class="box-body">
                    <div>
                        <table class="table table-striped table-hover tarjeta">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Nombre</th>
                                    <th>Saldo</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of dataList.list" class="btn-cursor" >
                                    <td (click)="goTaquilla(data.id)">{{data.code}}</td>
                                    <td (click)="goTaquilla(data.id)">{{data.name}}</td>
                                    <td (click)="goTaquilla(data.id)">{{data.balance}}</td>
                                    <td><span class="btn" (click)="RecargarSaldo(data)"
                                              data-toggle="modal" data-target="#saveRecarga"
                                    >
                                        &nbsp;<i class="fa fa-money text-green fa-lg"></i>
                                        Pagar deuda
                                    </span></td>
                                </tr>
                            </tbody>
                            <tfoot *ngIf="dataList.count == 0">
                                <tr>
                                    <td colspan="3">
                                        {{viewOptions.errors.notItems}}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div *ngIf="!permissions['list']" class="box-body">
                    <div class="btn-red padding-error">
                        <h5><i class="fa fa-warning"></i>&nbsp;<strong>{{viewOptions.errors.title}}</strong></h5>
                        {{viewOptions.errors.list}}
                    </div>
                </div>
                <!-- ./box-body -->
                <div *ngIf="permissions['list']" class="box-footer with-border">
                    <div *ngIf="dataList.page && dataList.page.length > 1 && dataList.count > 0" class="btn-group pull-right">
                        <button (click)="loadData(val)" *ngFor="let val of dataList.page" type="button" class="btn btn-default">
                            {{val}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div *ngIf="myglobal.existsPermission('111')">
    <recarga-save  idModal="saveRecarga" [idCompany]="dataCompany.id" (save)="assignRecarga($event)"> </recarga-save>
</div>