<div class="modal fade" id="{{idModal}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar</h4>
            </div>
            <div class="modal-body">
                <form role="form" [ngFormModel]="form" (submit)="submitForm($event)">

                    <div class="form-group input-icon right">
                        <i class="fa fa-list"></i>
                        <input id="cntrlName" ngControl="name" class="form-control" #name
                               placeholder="Nombre" name="name" type="text">
                        <div class="control-msgs" *ngIf="name.dirty && !name.valid && !name.pending">
                            <p *ngIf="name.errors.required">Requerido</p>
                        </div>
                    </div>
                    <div *ngIf="companyTypes.count" class="form-group">
                        <ng-select [allowClear]="true"
                                   [items]="items"
                                   (data)="refreshValue($event)"
                                   placeholder="Seleccione un tipo de empresa">

                        </ng-select>
                    </div>
                    <div class="form-group input-icon right">
                        <i class="fa fa-list"></i>
                        <input id="cntrlRuc" ngControl="ruc" class="form-control" #ruc
                               placeholder="RUC" name="ruc" type="text">
                        <div class="control-msgs" *ngIf="ruc.dirty && !ruc.valid && !ruc.pending">
                            <p *ngIf="ruc.errors.required">Requerido</p>
                        </div>
                    </div>
                    <div class="form-group input-icon right">
                        <i class="fa fa-list"></i>
                        <input id="cntrlResponsiblePerson" ngControl="responsiblePerson" class="form-control" #responsiblePerson
                               placeholder="Persona Responsable" name="responsiblePerson" type="text">
                        <div class="control-msgs" *ngIf="responsiblePerson.dirty && !responsiblePerson.valid && !responsiblePerson.pending">
                            <p *ngIf="responsiblePerson.errors.required">Requerido</p>
                        </div>
                    </div>
                    <div class="form-group input-icon right">
                        <i class="fa fa-list"></i>
                        <input id="cntrlPhone" ngControl="phone" class="form-control" #phone
                               placeholder="Telefono" name="phone" type="text">
                        <div class="control-msgs" *ngIf="phone.dirty && !phone.valid && !phone.pending">
                            <p *ngIf="phone.errors.required">Requerido</p>
                        </div>
                    </div>

                    <div class="form-group input-icon right">
                        <i class="fa fa-list"></i>
                        <input id="cntrlAddress" ngControl="address" class="form-control" #address
                               placeholder="Direccion" name="address" type="text">
                        <div class="control-msgs" *ngIf="address.dirty && !address.valid && !address.pending">
                            <p *ngIf="address.errors.required">Requerido</p>
                        </div>
                    </div>
                    <div class="form-group input-icon right">
                        <i class="fa fa-list"></i>
                        <input id="cntrlImage" ngControl="image" class="form-control" #image
                               placeholder="Imagen" name="image" type="text">
                        <div class="control-msgs" *ngIf="image.dirty && !image.valid && !image.pending">
                            <p *ngIf="image.errors.required">Requerido</p>
                        </div>
                    </div>

                    <pre>{{value.id}}</pre>

                </form>
            </div>
            <div class="modal-footer">
                <button (click)="submitForm($event)" data-dismiss="modal" type="button" class="btn btn-primary"
                        id="cntrlsubmit" [disabled]="!form.valid">
                    <i class="fa fa-save"></i>
                    Registrar
                </button>
            </div>
        </div>
    </div>
</div>
