<div class="modal fade" id="{{idModal}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar</h4>
            </div>
            <div class="modal-body">
                <form role="form" [ngFormModel]="form" (submit)="submitForm($event)">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group input-icon right">
                                <i class="fa fa-building"></i>
                                <input ngControl="name" class="form-control" [(ngModel)]="name.value"  placeholder="Nombre" type="text">
                                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                    El campo contiene errores
                                </div>
                            </div>
                            <div *ngIf="companyTypes.count" class="form-group">
                                <ng-select [allowClear]="true"
                                           [items]="items"
                                           (data)="refreshValue($event)"
                                           placeholder="Seleccione un tipo de empresa">

                                </ng-select>
                            </div>
                            <div *ngIf="!myglobal.existsPermission('36')">
                                <div class="btn-red form-group padding-error">
                                    <h5><i class="fa fa-warning"></i>&nbsp;<strong>ADVERTENCIA</strong></h5>
                                    No tiene permisos para listar los tipos de compañias
                                </div>
                            </div>
                            <div class="form-group input-icon right">
                                <i class="fa fa-list"></i>
                                <input ngControl="ruc" class="form-control" [(ngModel)]="ruc.value"  #ruc="ngForm" placeholder="RUC" type="number">
                                <div [hidden]="ruc.valid || ruc.pristine" class="alert alert-danger">
                                    El campo contiene errores
                                </div>
                            </div>
                            <div class="form-group input-icon right">
                                <i class="fa fa-list"></i>
                                <input ngControl="responsiblePerson" class="form-control" [(ngModel)]="responsiblePerson.value"  #responsiblePerson="ngForm" placeholder="Persona Responsable" type="text">
                                <div [hidden]="responsiblePerson.valid || responsiblePerson.pristine" class="alert alert-danger">
                                    El campo contiene errores
                                </div>
                            </div>
                            <div class="form-group input-icon right">
                                <i class="fa fa-list"></i>
                                <input ngControl="phone" class="form-control" [(ngModel)]="phone.value"  #phone="ngForm" placeholder="Telefono" type="number">
                                <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
                                    El campo contiene errores
                                </div>
                            </div>
                            <div class="form-group input-icon right">
                                <i class="fa fa-list"></i>
                                <input ngControl="address" class="form-control" [(ngModel)]="address.value"  #address="ngForm" placeholder="Direccion" type="text">
                                <div [hidden]="address.valid || address.pristine" class="alert alert-danger">
                                    El campo contiene errores
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div x-cropit id="image-cropper" (saveImagen)="changeImage($event)">
                                        <div class="cropit-preview center-block"></div>
                                        <div class="col-lg-12" style="margin-top: 10pt;">
                                            <div class="col-lg-6">
                                                <input type="range" class="cropit-image-zoom-input" />
                                            </div>
                                            <div class="col-lg-6">
                                                <input x-file type="file" class="cropit-image-input" />
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="center-block">
                                                <button class="btn btn-success fa fa-rotate-left rotate-ccw"></button>
                                                <button class="btn btn-success fa fa-rotate-right rotate-cw"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button (click)="submitForm($event)" data-dismiss="modal" type="button" class="btn btn-primary"
                        id="cntrlsubmit" [disabled]="!form.valid">
                    <i class="fa fa-save"></i>
                    Registrar
                </button>
            </div>
        </div>
    </div>
</div>
