.padding-error{
    padding: 5pt;
}
.padding-top-4{
    padding-top: 4pt;
}
.img-search{
    width: 28pt;
}
.form-margin{
    margin-bottom: 10pt;
}
.z-index{
    z-index:1;
}
.alert{
    margin-bottom: 0px !important;
}
.form-group {
    margin-bottom: 5px !important;
}
.input-group-addon {
    padding: 6px 10px;
    font-size: 12px;
}
.form-control {
    font-size: 12px;
}
.alert {
    padding: 0 0 2px 16px;
}