<div class="content-wrapper">
    <section class="content">
        <div class="">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        {{viewOptions.title | translate }}
                    </h3>
                    <button *ngFor="let buttom of getViewOptionsButtons()"
                                class="{{buttom.class}}" type="button" data-toggle="modal"
                                [attr.data-target]="'#'+buttom.modal">
                            <i class="{{buttom.icon}}"></i>
                            {{buttom.title | translate}}
                    </button>

                    <button (click)="typeView = 1"
                            type="button" class="btn btn-box-tool">
                        <i class="fa fa-list fa-lg text-blue"></i>
                    </button>

                    <button (click)="typeView = 2"
                            type="button" class="btn btn-box-tool">
                        <i class="fa fa-list-alt fa-lg text-blue"></i>
                    </button>
                    <tooltip code="INFO_119"></tooltip>

                    <div *ngIf="model.permissions.list" class="pull-right">
                        <div *ngIf="dataList.page && dataList.page.length > 1 && dataList.count > 0"
                             class="btn-group pull-right">
                            <button (click)="loadData(val)" [class.btn-green]="val==((offset/max)+1)" *ngFor="let val of dataList.page" type="button"
                                    class="btn btn-default">
                                {{val}}
                            </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="typeView==1"  class="box-body">
                    <tooltip code="INFO_121"></tooltip>
                    <div *ngIf="dataList.list && model.permissions.list" class="panel-group" id="accordion">
                        <div *ngFor="let data of dataList.list " class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title row">
                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                        <a data-toggle="collapse" data-parent="#accordion" [attr.href]="'#collapse'+data.id">
                                            <label class="title">C&oacute;digo:&nbsp;</label>{{data.code}}&nbsp;
                                            <label class="title">Placa:&nbsp;</label>{{data.plate}}&nbsp;
                                        </a>
                                    </div>
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                        <div class="btn-group">
                                            <label *ngIf="model.permissions.lock">
                                                <a (click)="onLock('enabled',data)">
                                                    <span class="fa {{data.enabled?'fa-lock':'fa-unlock'}}"></span>
                                                </a>
                                            </label>
                                            <label *ngIf="model.permissions.delete">
                                                <a data-toggle="modal" [attr.data-target]="'#modalDelete'"
                                                   (click)="dataSelect = data" >
                                                    <span class="fa fa-trash"></span>
                                                </a>
                                            </label>
                                        </div>
                                    </div>
                                </h4>
                            </div>
                            <div [attr.id]="'collapse'+data.id" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="col-lg-12">
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center separacion">
                                            <figure>
                                                <div [imageSrc]="data.image || '/assets/img/truck-guest.png'" x-cropit
                                                     (saveImagen)="changeImage($event,data.id)">
                                                    <div class="cropit-preview center-block"></div>
                                                    <div class="col-lg-12 margenes" [hidden]="!(myglobal.existsPermission('78') && model.permissions.update)" >
                                                        <div class="col-lg-6">
                                                            <button class="btn btn-box-tool fa fa-rotate-left rotate-ccw fa-fw"></button>
                                                            <button class="btn btn-box-tool fa fa-rotate-right rotate-cw"></button>
                                                            <tooltip code="INFO_122"></tooltip>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <input type="range" class="cropit-image-zoom-input"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12" [hidden]="!(myglobal.existsPermission('78') && model.permissions.update)">
                                                        <div class="col-lg-6">
                                                            <input x-file type="file" class="cropit-image-input"/>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <button (click)="loadImage($event,data)"
                                                                    class="btn btn-success pull-right fa fa-save upload boton-guardar">
                                                                &nbsp;Guardar
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div><tooltip code="INFO_123"></tooltip>
                                            </figure>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                            <div class="row separacion">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                    <strong>
                                                        <a x-editable [endpoint]="endpoint" [function]="onEditable" [disabled]="!model.permissions.update"
                                                           [data]="data" [rules]="model.rules" field="plate"></a>

                                                    </strong>
                                                    <p>
                                                        <strong>Peso neto/Tara:</strong>
                                                        <a x-editable [endpoint]="endpoint" [function]="onEditable" [disabled]="!model.permissions.update"
                                                           [data]="data" [rules]="model.rules" field="weight"></a>
                                                    </p>
                                                    <p>
                                                        Tag RFID: {{ data.tagRFID ? data.tagRFID:"N/A"}}
                                                        <label>
                                                            <button (click)="dataSelect = data"
                                                                    *ngIf="model.permissions.update && tag.permissions.add"
                                                                    data-toggle="modal" [attr.data-target]="'#'+tag.paramsSave.idModal"
                                                                    type="button" class="btn btn-box-tool"
                                                                    title="Asignar un nuevo tag"
                                                            >
                                                                <i class="fa fa-plus text-green"></i>
                                                            </button>
                                                            <button (click)="dataSelect = data"
                                                                    *ngIf="model.permissions.update && tag.permissions.list"
                                                                    data-toggle="modal" [attr.data-target]="'#'+tag.paramsSearch.idModal"
                                                                    type="button" class="btn btn-box-tool"
                                                                    title="Asignar un tag"
                                                            >
                                                                <i class="fa fa-search text-blue"></i>
                                                            </button>
                                                            <button *ngIf="data.tagRFID && tag.permissions.update"
                                                                    (click)="setDataFieldReference(tag,data,true,syncTag)"
                                                                    type="button" class="btn btn-box-tool"
                                                                    title="Liberar chofer"
                                                            >
                                                                <i class="fa fa-minus text-red"></i>
                                                            </button>


                                                        </label>
                                                    </p>
                                                    <p>
                                                        Tipo:&nbsp;
                                                        <i class="{{data.vehicleTypeIcon?data.vehicleTypeIcon:'fa truck'}}"></i>
                                                        <strong>{{data.vehicleTypeTitle}}</strong>
                                                        {{data.vehicleTypeDetail}}
                                                        <label>

                                                            <button (click)="dataSelect = data"
                                                                    *ngIf="myglobal.existsPermission('75') && model.permissions.update && myglobal.existsPermission('30')"
                                                                    data-toggle="modal" [attr.data-target]="'#'+typeVehicle.paramsSave.idModal"
                                                                    type="button" class="btn btn-box-tool">
                                                                <i class="fa fa-plus text-green"></i>
                                                            </button>
                                                            <tooltip code="INFO_126"></tooltip>
                                                            <button (click)="dataSelect = data"
                                                                    *ngIf="myglobal.existsPermission('75') && model.permissions.update && myglobal.existsPermission('32')"
                                                                    data-toggle="modal" [attr.data-target]="'#'+typeVehicle.paramsSearch.idModal"
                                                                    type="button" class="btn btn-box-tool">
                                                                <i class="fa fa-search text-blue"></i>
                                                            </button>
                                                            <tooltip code="INFO_127"></tooltip>
                                                        </label>
                                                    </p>
                                                    <p *ngIf="model.permissions.lock">
                                                        <button (click)="onLock('enabled',data)" class="btn btn-sm"
                                                                [class.btn-green]="data.enabled"
                                                                [class.btn-red]="!data.enabled">
                                                            {{data.enabled?"Habilitado":"Bloqueado"}}
                                                        </button>
                                                        <tooltip code="INFO_131"></tooltip>
                                                    </p>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                    <div *ngIf="!data.companyId">
                                                        No tiene una empresa asignada.
                                                    </div>
                                                    <div *ngIf="data.companyId">
                                                        <div class="pull-left">
                                                            <figure>
                                                                <img src="{{data.companyImage?data.companyImage:'/assets/img/company-guest.png'}}"
                                                                     class="img-responsive img-circle img-list">
                                                            </figure>
                                                            <div class="box-tools">

                                                                <button (click)="dataSelect = data"
                                                                        *ngIf="model.permissions.update && myglobal.existsPermission('74') && myglobal.existsPermission('68')"
                                                                        data-toggle="modal" [attr.data-target]="'#'+company.paramsSave.idModal"
                                                                        type="button" class="btn btn-box-tool">
                                                                    <i class="fa fa-plus text-green"></i>
                                                                </button>
                                                                <tooltip code="INFO_128"></tooltip>
                                                                <button (click)="dataSelect = data"
                                                                        *ngIf="model.permissions.update && myglobal.existsPermission('74') && myglobal.existsPermission('80')"
                                                                        data-toggle="modal" [attr.data-target]="'#'+company.paramsSearch.idModal"
                                                                        type="button" class="btn btn-box-tool">
                                                                    <i class="fa fa-search text-blue"></i>
                                                                </button>
                                                                <tooltip code="INFO_130"></tooltip>
                                                            </div>

                                                        </div>
                                                        <div>
                                                            <strong>{{data.companyName}}</strong><br/>
                                                            <strong>RUC: </strong>{{data.companyRuc}}<br/>
                                                            <strong>Telefono: </strong>{{data.companyPhone}}<br/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                    {{data.choferId?'Chofer':'No tiene chofer asignado'}}
                                                        <div class="pull-left">
                                                            <figure>

                                                                <img src="{{data.image || '/assets/img/truck-guest.png'}}"
                                                                     class="img-responsive img-circle img-list"/>
                                                            </figure>
                                                            <div class="box-tools">
                                                                <button (click)="dataSelect = data"
                                                                        *ngIf="model.permissions.update && driver.permissions.add"
                                                                        data-toggle="modal" [attr.data-target]="'#'+driver.paramsSave.idModal"
                                                                        type="button" class="btn btn-box-tool"
                                                                        title="Asignar un nuevo chofer"
                                                                >
                                                                    <i class="fa fa-plus text-green"></i>
                                                                </button>
                                                                <button (click)="dataSelect = data"
                                                                        *ngIf="model.permissions.update && driver.permissions.list"
                                                                        data-toggle="modal" [attr.data-target]="'#'+driver.paramsSearch.idModal"
                                                                        type="button" class="btn btn-box-tool"
                                                                        title="Asignar un chofer"
                                                                >
                                                                    <i class="fa fa-search text-blue"></i>
                                                                </button>
                                                                <button *ngIf="data.choferId && model.permissions.update"
                                                                        (click)="setNull(data,'chofer')"
                                                                        type="button" class="btn btn-box-tool"
                                                                        title="Liberar chofer"
                                                                >
                                                                    <i class="fa fa-minus text-red"></i>
                                                                </button>
                                                            </div>

                                                        </div>
                                                        <div>
                                                            <strong>{{data.choferNombre}}</strong><br/>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="typeView==2">
                    <div *ngIf="dataList.list && model.permissions.list" class="box-body" >
                        <div *ngFor="let i of [0,3,6,9]" class="row">
                            <div *ngFor="let data of dataList.list | slice:i:i+3">
                                <div class="col-lg-4">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <div class="profile">
                                                <div style="margin-bottom: 15px" class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div *ngIf="model.permissions.lock || myglobal.existsPermission('71')"
                                                             class="btn-group dropdown pull-right"><tooltip code="INFO_132"></tooltip>
                                                            <button type="button" data-toggle="dropdown"
                                                                    class="btn btn-box-tool dropdown-toggle" aria-haspopup="true"
                                                                    aria-expanded="false">
                                                                <i class="fa fa-gears fa-lg"></i>
                                                            </button>
                                                            <ul role="menu" class="dropdown-menu text-left submenu-config">
                                                                <li *ngIf="model.permissions.lock">
                                                                    <a (click)="onLock('enabled',data)">
                                                                        <span class="fa fa-warning"></span>
                                                                        {{data.enabled?"Bloquear":"Habilitar"}}
                                                                    </a>
                                                                </li>
                                                                <li *ngIf="myglobal.existsPermission('71')">
                                                                    <a data-toggle="modal" [attr.data-target]="'#modalDelete'"
                                                                       (click)="dataSelect = data" >
                                                                        <span class="fa fa-trash"></span>
                                                                        &nbsp;Eliminar
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center separacion">
                                                        <figure>
                                                            <div [imageSrc]="data.image || '/assets/img/truck-guest.png'" x-cropit
                                                                 (saveImagen)="changeImage($event,data.id)">
                                                                <div class="cropit-preview center-block"></div>
                                                                <div class="col-lg-12 margenes" [hidden]="!(myglobal.existsPermission('78') && model.permissions.update)" >
                                                                    <div class="col-lg-6">
                                                                        <button class="btn btn-box-tool fa fa-rotate-left rotate-ccw fa-fw"></button>
                                                                        <button class="btn btn-box-tool fa fa-rotate-right rotate-cw"></button>
                                                                        <tooltip code="INFO_133"></tooltip>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <input type="range" class="cropit-image-zoom-input"/>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12" [hidden]="!(myglobal.existsPermission('78') && model.permissions.update)">
                                                                    <div class="col-lg-6">
                                                                        <input x-file type="file" class="cropit-image-input"/>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <button (click)="loadImage($event,data)"
                                                                                class="btn btn-success pull-right fa fa-save upload boton-guardar">
                                                                            &nbsp;Guardar
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div><tooltip code="INFO_134"></tooltip>
                                                        </figure>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-8 col-lg-12">
                                                        <strong>
                                                            <a x-editable [endpoint]="endpoint" [function]="onEditable" [disabled]="!model.permissions.update"
                                                               [data]="data" [rules]="model.rules" field="plate"></a>

                                                        </strong>
                                                        <p>
                                                            <strong>Peso neto/Tara:</strong>
                                                            <a x-editable [endpoint]="endpoint" [function]="onEditable" [disabled]="!model.permissions.update"
                                                               [data]="data" [rules]="model.rules" field="weight"></a>
                                                        </p>
                                                        <p>
                                                            Tag RFID: {{ data.tagRFID ? data.tagRFID:"N/A"}}
                                                            <label>
                                                                <button (click)="dataSelect = data"
                                                                        *ngIf="model.permissions.update && tag.permissions.add"
                                                                        data-toggle="modal" [attr.data-target]="'#'+tag.paramsSave.idModal"
                                                                        type="button" class="btn btn-box-tool"
                                                                        title="Asignar un nuevo tag"
                                                                >
                                                                    <i class="fa fa-plus text-green"></i>
                                                                </button>
                                                                <button (click)="dataSelect = data"
                                                                        *ngIf="model.permissions.update && tag.permissions.list"
                                                                        data-toggle="modal" [attr.data-target]="'#'+tag.paramsSearch.idModal"
                                                                        type="button" class="btn btn-box-tool"
                                                                        title="Asignar un tag"
                                                                >
                                                                    <i class="fa fa-search text-blue"></i>
                                                                </button>
                                                                <button *ngIf="data.tagRFID && tag.permissions.update"
                                                                        (click)="setDataFieldReference(tag,data,true,syncTag)"
                                                                        type="button" class="btn btn-box-tool"
                                                                        title="Liberar chofer"
                                                                >
                                                                    <i class="fa fa-minus text-red"></i>
                                                                </button>


                                                            </label>
                                                        </p>
                                                        <p>
                                                            Tipo:&nbsp;
                                                            <i class="{{data.vehicleTypeIcon?data.vehicleTypeIcon:'fa truck'}}"></i>
                                                            <strong>{{data.vehicleTypeTitle}}</strong>
                                                            {{data.vehicleTypeDetail}}
                                                            <label>

                                                                <button (click)="dataSelect = data"
                                                                        *ngIf="myglobal.existsPermission('75') && model.permissions.update && myglobal.existsPermission('30')"
                                                                        data-toggle="modal" [attr.data-target]="'#'+typeVehicle.paramsSave.idModal"
                                                                        type="button" class="btn btn-box-tool">
                                                                    <i class="fa fa-plus text-green"></i>
                                                                </button>
                                                                <tooltip code="INFO_126"></tooltip>
                                                                <button (click)="dataSelect = data"
                                                                        *ngIf="myglobal.existsPermission('75') && model.permissions.update && myglobal.existsPermission('32')"
                                                                        data-toggle="modal" [attr.data-target]="'#'+typeVehicle.paramsSearch.idModal"
                                                                        type="button" class="btn btn-box-tool">
                                                                    <i class="fa fa-search text-blue"></i>
                                                                </button>
                                                                <tooltip code="INFO_127"></tooltip>
                                                            </label>
                                                        </p>
                                                        <p *ngIf="model.permissions.lock">
                                                            <button (click)="onLock('enabled',data)" class="btn btn-sm"
                                                                    [class.btn-green]="data.enabled"
                                                                    [class.btn-red]="!data.enabled">
                                                                {{data.enabled?"Habilitado":"Bloqueado"}}
                                                            </button>
                                                            <tooltip code="INFO_140"></tooltip>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 text-center divider divider-form">
                                                    <div *ngIf="!data.companyId">
                                                        No tiene una empresa asignada.
                                                    </div>
                                                    <div *ngIf="data.companyId">
                                                        <div class="pull-left">
                                                            <figure>
                                                                <img src="{{data.companyImage?data.companyImage:'/assets/img/company-guest.png'}}"
                                                                     class="img-responsive img-circle img-list">
                                                            </figure>
                                                            <div class="box-tools">

                                                                <button (click)="dataSelect = data"
                                                                        *ngIf="model.permissions.update && myglobal.existsPermission('74') && myglobal.existsPermission('68')"
                                                                        data-toggle="modal" [attr.data-target]="'#'+company.paramsSave.idModal"
                                                                        type="button" class="btn btn-box-tool">
                                                                    <i class="fa fa-plus text-green"></i>
                                                                </button>
                                                                <tooltip code="INFO_128"></tooltip>
                                                                <button (click)="dataSelect = data"
                                                                        *ngIf="model.permissions.update && myglobal.existsPermission('74') && myglobal.existsPermission('80')"
                                                                        data-toggle="modal" [attr.data-target]="'#'+company.paramsSearch.idModal"
                                                                        type="button" class="btn btn-box-tool">
                                                                    <i class="fa fa-search text-blue"></i>
                                                                </button>
                                                                <tooltip code="INFO_130"></tooltip>

                                                            </div>

                                                        </div>
                                                        <div>
                                                            <strong>{{data.companyName}}</strong><br/>
                                                            <strong>RUC: </strong>{{data.companyRuc}}<br/>
                                                            <strong>Telefono: </strong>{{data.companyPhone}}<br/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!model.permissions.list" class="box-body">
                    <div class="btn-red padding-error">
                        <h5><i class="fa fa-warning"></i>&nbsp;<strong>ADVERTENCIA</strong></h5>
                        No tiene permiso para listar los veh&iacute;culos
                    </div>
                </div>

                <!-- ./box-body -->
                <div class="box-footer with-border">

                </div>
            </div>
            <!-- /.box -->
        </div>
    </section>
</div>

<div *ngIf="model.permissions.add">
    <save [params]="model.paramsSave" [rules]="model.rulesSave" (save)="setLoadData($event)"></save>
</div>
<div *ngIf="model.permissions.filter">
    <filter [params]="model.paramsSearch" [rules]="model.rules" (whereFilter)="loadWhere($event)"></filter>
</div>

<div *ngIf="model.permissions.delete">
    <div class="modal fade" [attr.id]="'modalDelete'" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header btn-red text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-warning"></i>&nbsp;<strong>ADVERTENCIA</strong></h4>
                </div>
                <div class="modal-body">
                    ¿ Estás seguro que deseas eliminar a <strong>{{dataSelect.plate}}</strong> ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outlined btn-red fa fa-close" data-dismiss="modal">&nbsp;Cancelar</button>
                    <button (click)="onDelete($event,dataSelect.id)" data-dismiss="modal"  type="button" class="btn btn-red fa fa-trash">&nbsp;Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="model.permissions.update">
    <div *ngIf="vehicle.permissions.add">
        <save [params]="vehicle.paramsSave" [rules]="vehicle.rulesSave" (save)="onPatchId($event,'vehicle',dataSelect)"> </save>
    </div>
    <div *ngIf="driver.permissions.add">
        <save [params]="driver.paramsSave" [rules]="driver.rulesSave" (save)="onPatchId($event,'chofer',dataSelect)"> </save>
    </div>
    <div *ngIf="typeVehicle.permissions.add">
        <save [params]="typeVehicle.paramsSave" [rules]="typeVehicle.rulesSave" (save)="onPatchId($event,'vehicleType',dataSelect)"> </save>
    </div>
    <div *ngIf="company.permissions.add">
        <save [params]="company.paramsSave" [rules]="company.rulesSave" (save)="onPatchId($event,'company',dataSelect)"> </save>
    </div>
    <div *ngIf="tag.permissions.add">
        <save [params]="tag.paramsSave" [rules]="tag.rulesSave" (save)="setDataFieldReference(tag,$event,null,syncTag)"> </save>
    </div>



    <div *ngIf="driver.permissions.list">
        <search [params]="driver.paramsSearch" (result)="onPatchId($event,'chofer',dataSelect)"></search>
    </div>
    <div *ngIf="typeVehicle.permissions.list">
        <search [params]="typeVehicle.paramsSearch" (result)="onPatchId($event,'vehicleType',dataSelect)"></search>
    </div>
    <div *ngIf="company.permissions.list">
        <search [params]="company.paramsSearch" (result)="onPatchId($event,'company',dataSelect)"></search>
    </div>
    <div *ngIf="tag.permissions.list">
        <search [params]="tag.paramsSearch" (result)="setDataFieldReference(tag,$event,null,syncTag)"></search>
    </div>

</div>

<!--

<div *ngIf="myglobal.existsPermission('79') && model.permissions.update">
    <tag-save idModal="saveTagVehiculo" (save)="assignTagNuevo($event)"></tag-save>
</div>
<div *ngIf="myglobal.existsPermission('76') && model.permissions.update && myglobal.existsPermission('120')">
    <search [params]="searchTag" (result)="assignTag($event)"></search>
</div>
-->





