<div class="content-wrapper">
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h4 class="box-title">
                    {{title}}
                </h4>
                <tooltip code="INFO_77"></tooltip>
            </div>
            <div class="box-body">
                <tooltip code="INFO_84"></tooltip><div class="row noprint">
                    <div class="form-group input-icon right col-lg-3">
                        Grupo:&nbsp;{{companyTypeName!="-1"?companyTypeName:"Buscar un grupo"}} <button  *ngIf="myglobal.existsPermission('36')"
                                                                                                         type="button" class="btn btn-box-tool fa fa-search text-blue"
                                                                                                         data-toggle="modal" data-target="#searchTipoEmpresa">
                    </button><br/>
                        <label>
                            <div class="material-switch ">
                                <input (click)="cambiarAll()" id="todos" [attr.accesskey]="msgLabelAll" type="checkbox" [checked]="msgLabelAll"/>
                                <label for="todos" class="label-success"></label>
                                <span>&nbsp;{{msgLabelAll?"Todos los grupos":"Sin grupos"}}</span>
                            </div>
                        </label>
                    </div>
                    <div class="form-group input-icon right col-lg-2">
                        Lapso
                        <div class="input-icon right">
                            <select [(ngModel)]="fechaSelect"  (ngModelChange)="setFecha($event)"  sm-dropdown class="ui fluid search selection dropdown">
                                <option data-hidden="true" value="-1"></option>
                                <option *ngFor="let n of itemsFecha"  [attr.value]="n.id" >{{n.text}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <form role="form" [ngFormModel]="form" (submit)="loadReporte($event)" >
                            Rango
                            <div datepicker [format]="formatDateFact" (fecha)="loadFechaFac($event)" class="input-daterange input-group">
                                <input type="text" class="input-sm form-control" name="start" accessKey="1" />
                                <span class="input-group-addon">Hasta</span>
                                <input type="text" class="input-sm form-control" name="end" accessKey="2"/>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-2 margin-top-12">
                        <button (click)="loadReporte($event)" type="button" class="btn btn-success"
                                id="cntrlsubmit" [disabled]="!form.valid">
                            <i class="fa fa-bank"></i>
                            Consultar
                        </button>
                    </div>
                </div>
                <div id="reporte" *ngIf="dataList.list" class="col-lg-12 col-xs-12 col-md-12 col-sm-12 table-group">
                    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 text-center table-head">
                        <div class="pull-right noprint">
                            <i (click)="onPrint()" class="btn fa fa-print fa-lg" title="Imprimir"></i>
                            <i (click)="exportCSV()" class="btn fa fa-file-excel-o fa-lg" title="Exportar"></i>
                        </div>
                        <strong>
                            <h2>AGUASEO, S.A</h2>
                            <strong>RELLENO SANITARIO DE MONTE ESPERANZA</strong><br/>
                            {{title}}<br/>
                        </strong>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-bottom">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            Fecha:{{formatDate(fechaRegistro,'DD/MM/YYYY')}}<br/>
                            Hora: {{formatDate(fechaRegistro,'LT')}}
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">COMPROBANTE DEL {{params.dateStart}} AL {{params.dateEnd}}</div>
                    </div>
                    <table class="table export table-striped table-hover">
                        <thead>
                            <tr>
                                <th>CODIGO</th>
                                <th>CLIENTE</th>
                                <th>PLACA</th>
                                <th>DOC</th>
                                <th>FECHA</th>
                                <th>HORA</th>
                                <th>PESO NETO</th>
                                <th>VALOR</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let type of dataList.list; let i = index">
                            <tr>
                                <td colspan="8" class="text-center title-companygroup"><h3>{{type.companyTypeTitle}}</h3></td>
                            </tr>
                            <tr *ngFor="let recharge of type.recharges">
                                <td>{{recharge.companyRuc}}</td>
                                <td>{{recharge.companyName}}</td>
                                <td>{{recharge.vehiclePlate}}</td>
                                <td>{{recharge.reference}}</td>
                                <td>{{formatDate(recharge.referenceDate,'DD/MM/YYYY')}}</td>
                                <td>{{formatDate(recharge.referenceDate,'LT')}}</td>
                                <td>{{recharge.weightIn-recharge.weightOut | number:'.0-3'}}</td>
                                <td>{{recharge.quantity*-1 | number:'.0-2'}}</td>
                            </tr>
                            <tr style="font-weight: 900;">
                                <td colspan="4">&nbsp;</td>
                                <td>Veh&iacute;culos - {{sumTotalVeh(i)}}</td>
                                <td>Viajes - {{type.recharges.length}}</td>
                                <td>{{sumTotalPeso(i) | number:'.0-3'}}</td>
                                <td>{{sumTotalFact(i)*-1 | number:'.0-2'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<div *ngIf="myglobal.existsPermission('36')">
    <search [params]="searchTipoEmpresa" (result)="assignTipoEmpresa($event)"></search>
</div>