.form-login{
    background-color: #e5e5e5;
}
.login-box-body{
    background: none !important;
}
.header-login{
    background-color: #d2d6de;
}
.header-login .login-box-body h4{
    font-weight: bolder;
}
.form-content{
    border: 6px solid #242454;
    border-radius: 3px;
}
.login-content{
    background: url('assets/img/fondo.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.img-logo{
    margin-left: -17px;
}
.wrapper{
    height: 100%;
    width: 100%;
    position: absolute;
}