<div class="wrapper" *ngIf="myglobal.init">
    <div *ngIf="validToken()">
        <header class="main-header">
            <a href="index.html" class="logo">
                <span class="logo-mini">
                    <img src="assets/img/logo-blanco-mini.png" class="img-responsive">
                </span>
                <span class="logo-lg"> <img src="assets/img/logo-blanco.png" class="img-responsive col-lg-10 col-md-10 col-sm-10 col-xs-6"> </span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <!-- Notifications Menu -->
                        <li class="dropdown notifications-menu">
                            <!-- Menu toggle button -->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                            <!--<i class="fa fa-bell-o"></i>-->
                            <!--<span class="label label-warning">10</span>-->
                            <!--</a>-->
                            <ul class="dropdown-menu">
                                <!--<li class="header">You have 10 notifications</li>-->
                                <li>
                                    <!-- Inner Menu: contains the notifications -->
                                    <ul class="menu">
                                        <li><!-- start notification -->
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <!-- end notification -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="{{myglobal.user.image?myglobal.user.image:'assets/img/user-guest.png'}}"
                                     class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">{{myglobal.user.username}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="{{myglobal.user.image?myglobal.user.image:'assets/img/user-guest.png'}}"
                                         class="img-circle" alt="User Image">

                                    <p>
                                        {{pageTitle}}
                                        <small *ngIf="pageSubtitle">{{pageSubtitle}}</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" (click)='profile($event)'
                                           class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" (click)='logout($event)' class="btn btn-default btn-flat">Salir</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li *ngIf="myglobal.existsPermission('165')">
                            <a (click)="activeMenu($event,'monitor')" href="#" data-toggle="control-sidebar">
                                <i class="fa fa-video-camera"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">

                    <div class="pull-left image">
                        <img src="{{myglobal.user.image?myglobal.user.image:'assets/img/user-guest.png'}}"
                             class="img-circle">
                    </div>
                    <div class="pull-left info">
                        <p>{{myglobal.user.name}}</p>
                        <!-- Status -->
                        <i class="fa fa-building text-success"></i> {{myglobal.user.companyName}}
                        <!--<p><a href="#" (click)="loadPermisos($event)"><i class="fa fa-refresh">Permisos</i></a></p>-->
                    </div>

                </div>

                <ul class="sidebar-menu">

                    <li class="header" (click)='profile($event)'><i class="fa fa-circle text-success"></i>
                        {{myglobal.user.email}}
                    </li>

                    <li *ngIf="myglobal.existsPermission('26')"><a href="#" [routerLink]="['Dashboard']"><i
                            class="fa fa-home"></i> <span>Dashboard</span></a></li>
                    <li *ngIf="myglobal.existsPermission('3')"><a href="#" [routerLink]="['Taquilla']"><i
                            class="fa fa-dollar"></i> <span>Taquilla</span></a></li>

                    <li class="treeview" [class.active]="activeMenuId=='trans'"
                        *ngIf="myglobal.existsPermission('21') || myglobal.existsPermission('222')
                        || myglobal.existsPermission('214') || myglobal.existsPermission('161') || myglobal.existsPermission('162')
                        || myglobal.existsPermission('14') || myglobal.existsPermission('158') || myglobal.existsPermission('159')
                        "
                    >
                        <a (click)="activeMenu($event,'trans')">
                            <i class="fa fa-gears"></i>
                            <span>Transacciones</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li *ngIf="myglobal.existsPermission('21')"><a href="#" [routerLink]="['Operacion']"><i
                                    class="fa fa-user"></i> <span>Operaci&oacute;n</span></a></li>
                            <li *ngIf="myglobal.existsPermission('222')"><a href="#"
                                                                            [routerLink]="['OperacionPendiente']"><i
                                    class="fa fa-user"></i> <span>Operaci&oacute;n pendiente</span></a></li>
                            <li *ngIf="myglobal.existsPermission('214')"><a href="#" [routerLink]="['Servicio']"><i
                                    class="fa fa-list"></i> <span>Servicios</span></a></li>
                            <li *ngIf="myglobal.existsPermission('161')">
                                <a (click)="inAnt($event)" data-toggle="modal" data-target="#operacionManual">
                                    <i class="fa fa-sign-in"></i> <span>Entrada</span>
                                </a>
                            </li>
                            <li *ngIf="myglobal.existsPermission('162')">
                                <a (click)="outAnt($event)" data-toggle="modal" data-target="#operacionManual">
                                    <i class="fa fa-sign-out"></i> <span>Salida</span>
                                </a>
                            </li>
                            <li *ngIf="myglobal.existsPermission('14')"><a href="#" [routerLink]="['Recarga']"><i
                                    class="fa fa-money"></i> <span>Recargas</span></a></li>
                            <li *ngIf="myglobal.existsPermission('158')"><a href="#" [routerLink]="['RecargaIngresos']"><i
                                    class="fa fa-money"></i> <span>Ingresos</span></a></li>
                            <li *ngIf="myglobal.existsPermission('159')"><a href="#" [routerLink]="['RecargaLibro']"><i
                                    class="fa fa-book"></i> <span>Libro</span></a></li>

                        </ul>
                    </li>

                    <li class="treeview" [class.active]="activeMenuId=='admin'"
                        *ngIf="myglobal.existsPermission('2') || myglobal.existsPermission('1') || myglobal.existsPermission('15') || myglobal.existsPermission('25')"
                    >
                        <a (click)="activeMenu($event,'admin')">
                            <i class="fa fa-gears"></i>
                            <span>Administraci&oacute;n</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li *ngIf="myglobal.existsPermission('2')"><a href="#" [routerLink]="['User']"><i
                                    class="fa fa-user"></i> <span>Usuarios</span></a></li>
                            <li *ngIf="myglobal.existsPermission('1')"><a href="#" [routerLink]="['Empresa']"><i
                                    class="fa fa-building-o"></i> <span>Clientes</span></a></li>
                            <li *ngIf="myglobal.existsPermission('15')"><a href="#" [routerLink]="['Vehiculo']"><i
                                    class="fa fa-truck"></i> <span>Veh&iacute;culos</span></a></li>
                            <li *ngIf="myglobal.existsPermission('25')"><a href="#" [routerLink]="['TagRfid']"><i
                                    class="fa fa-user"></i> <span>Tag RFID</span></a></li>
                        </ul>
                    </li>
                    <li class="treeview" [class.active]="activeMenuId=='report'"
                        *ngIf="myglobal.existsPermission('163') || myglobal.existsPermission('164')
                        || myglobal.existsPermission('167') || myglobal.existsPermission('201') || myglobal.existsPermission('202') || myglobal.existsPermission('205')
                        "
                    >
                        <a (click)="activeMenu($event,'report')">
                            <i class="fa fa-list"></i>
                            <span>Reportes</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li *ngIf="myglobal.existsPermission('205')">
                                <a href="#" [routerLink]="['Caja']">
                                    <i class="fa fa-list"></i>
                                    <span>Caja</span>
                                </a>
                            </li>
                            <li *ngIf="myglobal.existsPermission('164')">
                                <a href="#" [routerLink]="['GruposRutas']">
                                    <i class="fa fa-list"></i>
                                    <span>Rutas</span>
                                </a>
                            </li>
                            <li *ngIf="myglobal.existsPermission('203')">
                                <a href="#" [routerLink]="['ReporteGrupos']">
                                    <i class="fa fa-user"></i>
                                    <span>Grupos</span>
                                </a>
                            </li>
                            <li *ngIf="myglobal.existsPermission('163')">
                                <a href="#" [routerLink]="['ReporteDescargasGrupos']">
                                    <i class="fa fa-user"></i>
                                    <span>Descarga por grupos</span>
                                </a>
                            </li>
                            <li *ngIf="myglobal.existsPermission('167')">
                                <a href="#" [routerLink]="['ReporteGruposVehiculos']">
                                    <i class="fa fa-truck"></i>
                                    <span>Descarga por veh&iacute;culos</span>
                                </a>
                            </li>
                            <li *ngIf="myglobal.existsPermission('201')">
                                <a href="#" [routerLink]="['ReporteDescargasRutas']">
                                    <i class="fa fa-truck"></i>
                                    <span>Descarga por rutas</span>
                                </a>
                            </li>
                            <li *ngIf="myglobal.existsPermission('202')">
                                <a href="#" [routerLink]="['ReporteDescargasBasura']">
                                    <i class="fa fa-trash"></i>
                                    <span>Descarga por tipo de basura</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview" [class.active]="activeMenuId=='access'"
                        *ngIf="myglobal.existsPermission('16') || myglobal.existsPermission('17') || myglobal.existsPermission('18')"
                    >
                        <a (click)="activeMenu($event,'access')">
                            <i class="fa fa-gears"></i>
                            <span>Acceso</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li *ngIf="myglobal.existsPermission('16')"><a href="#" [routerLink]="['Rol']"><i
                                    class="fa fa-key"></i> <span>Roles</span></a></li>
                            <li *ngIf="myglobal.existsPermission('17')"><a href="#" [routerLink]="['Permiso']"><i
                                    class="fa fa-key"></i> <span>Permisos</span></a></li>
                            <li *ngIf="myglobal.existsPermission('18')"><a href="#" [routerLink]="['PermisoRol']"><i
                                    class="fa fa-key"></i> <span>ACL</span></a></li>
                        </ul>
                    </li>


                    <li class="treeview" [class.active]="activeMenuId=='config'"
                        *ngIf="myglobal.existsPermission('147') || myglobal.existsPermission('22') || myglobal.existsPermission('23') || myglobal.existsPermission('19') ||
                        myglobal.existsPermission('149') || myglobal.existsPermission('20') || myglobal.existsPermission('24') || myglobal.existsPermission('141') || myglobal.existsPermission('206')
                        "
                    >
                        <a (click)="activeMenu($event,'config')">
                            <i class="fa fa-gears"></i>
                            <span>Configuraci&oacute;n</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li *ngIf="myglobal.existsPermission('147')"><a href="#" [routerLink]="['Antenna']"><i
                                    class="fa fa-crosshairs"></i> <span>Antenas</span></a></li>
                            <li *ngIf="myglobal.existsPermission('22')"><a href="#" [routerLink]="['Parametro']"><i
                                    class="fa fa-user"></i> <span>Par&aacute;metro</span></a></li>
                            <li *ngIf="myglobal.existsPermission('23')"><a href="#" [routerLink]="['Regla']"><i
                                    class="fa fa-user"></i> <span>Regla</span></a></li>
                            <li *ngIf="myglobal.existsPermission('19')"><a href="#" [routerLink]="['TipoEmpresa']"><i
                                    class="fa fa-user"></i> <span>Grupos de clientes</span></a></li>
                            <li *ngIf="myglobal.existsPermission('149')"><a href="#" [routerLink]="['Ruta']"><i
                                    class="fa fa-crosshairs"></i> <span>Rutas</span></a></li>
                            <li *ngIf="myglobal.existsPermission('20')"><a href="#" [routerLink]="['TipoVehiculo']"><i
                                    class="fa fa-user"></i> <span>Tipo de veh&iacute;culo</span></a></li>
                            <li *ngIf="myglobal.existsPermission('24')"><a href="#" [routerLink]="['TipoRecarga']"><i
                                    class="fa fa-user"></i> <span>Tipo de recarga</span></a></li>
                            <li *ngIf="myglobal.existsPermission('141')"><a href="#" [routerLink]="['TipoBasura']"><i
                                    class="fa fa-trash"></i> <span>Tipo de basura</span></a></li>
                            <li *ngIf="myglobal.existsPermission('206')"><a href="#" [routerLink]="['TipoServicio']"><i
                                    class="fa fa-archive"></i> <span>Tipo de servicio</span></a></li>

                        </ul>
                    </li>

                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
    </div>
    <router-outlet></router-outlet>
    <operacion-save idModal="operacionManual" [rules]="rulesOperacion" [inAnt]="dataOperation"></operacion-save>

</div>
<div class="main-footer-container" *ngIf="validToken() && myglobal.init">
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            Aguaseo, C.A
        </div>
        <strong>Copyright &copy; 2016 <a href="#">AGUASEO</a>.</strong> Todos los derechos reservados.
        <br/>En caso de error comunicarse al
        {{myglobal.getParams('PHONE_SUPPORT')}} / {{myglobal.getParams('EMAIL_SUPPORT')}}
    </footer>
</div>
<div *ngIf="validToken() && !myglobal.init" class="col-lg-12 cargar">
    <h1 *ngFor="let status of myglobal.getKeys(myglobal.status)">
        <i class="fa fa-lg fa-check" *ngIf="myglobal.status[status].status"></i>
        <i class="fa fa-spinner fa-spin" *ngIf="!myglobal.status[status].status"></i>
        &nbsp;{{myglobal.status[status].title}}
    </h1>
</div>


<aside *ngIf="myglobal.existsPermission('165')" class="control-sidebar control-sidebar-dark"
       [class.control-sidebar-open]="activeMenuId=='monitor'">
    {{loadMonitor()}}
    <div class="tab-content">
        <div class="tab-pane active" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Camiones en el vertedero</h3>
            <ul class="control-sidebar-menu">
                <li *ngFor="let data of monitor.list">
                    <a (click)="outAnt($event,data)" data-toggle="modal" data-target="#operacionManual">
                        <i class="menu-icon fa fa-truck bg-red"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">{{data.vehiclePlate}}</h4>
                            <p>{{data.companyName}}<br/>RUC:({{data.companyRUC}})</p>
                            <p>{{formatDate(data.dateCreated,'DD/MM/YYYY, LT')}}</p>
                        </div>
                    </a>
                </li>
                <li *ngIf="!monitor.list || (monitor && monitor.count==0)">
                    <div class="menu-info">
                        <h4 class="control-sidebar-subheading">No hay camiones</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</aside>

<!-- ./wrapper -->
