.blue .main-sidebar{
    background-color: #222d32 !important;
}
.wrapper{
    background-color: white !important;
}
.main-footer-container{
    background-color: #222d32 !important;
}
.truncate{
    text-overflow: ellipsis;
    overflow: hidden;
}