<div class="content-wrapper">
    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h4>Perfil</h4>
            </div>
            <div class="box-body">
                <div *ngIf="myglobal.user.id" class="col-lg-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="profile">
                                <div style="margin-bottom: 15px" class="row">

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                        <div class="btn-group dropdown pull-right">
                                            <button type="button" data-toggle="dropdown"
                                                    class="btn btn-box-tool dropdown-toggle" aria-haspopup="true"
                                                    aria-expanded="false">
                                                <i class="fa fa-gears fa-lg"></i>
                                            </button>
                                            <ul role="menu" class="dropdown-menu text-left submenu-config">
                                                <li>
                                                    <a href="javascript:void(0);"
                                                       (click)="onPatch('accountLocked',myglobal.user)">
                                                        <span class="fa fa-list"></span>
                                                        {{myglobal.user.accountLocked?"Verificar":"No Verificado"}}
                                                    </a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a (click)="onPatch('enabled',myglobal.user)"
                                                       href="javascript:void(0);">
                                                        <span class="fa fa-warning"></span>
                                                        {{myglobal.user.enabled?"Bloquear":"Habilitar"}}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="">
                                            <h2 class="truncate">{{myglobal.user.username}}</h2>
                                            <p>
                                                <strong>Nombre:</strong>
                                                <a x-editable [endpoint]="endpoint" [function]="onEditable"
                                                   [data]="myglobal.user" [rules]="rules" field="name"></a>
                                            </p>
                                            <p>
                                                <strong>Telefonos:</strong>
                                                <a x-editable [endpoint]="endpoint" [function]="onEditable"
                                                   [data]="myglobal.user" [rules]="rules" field="phone"></a>
                                            </p>
                                            <p>
                                                <strong>Email:</strong>
                                                <a x-editable [endpoint]="endpoint" [function]="onEditable"
                                                   [data]="myglobal.user" [rules]="rules" field="email">ewrgtyu</a>
                                            </p>
                                        </div>
                                        <div class="divider separacion-empresa">

                                            <div *ngIf="!myglobal.user.companyId">
                                                No tiene una empresa asignada.
                                            </div>
                                            <div *ngIf="myglobal.user.companyId">
                                                <div class="pull-left">
                                                    <figure>
                                                        <img src="{{myglobal.user.companyImage?user.companyImage:'/assets/img/company-guest.ico'}}"
                                                             class="img-responsive img-circle img-list">
                                                    </figure>
                                                    <div class="box-tools">
                                                        <button (click)="userSelect = myglobal.user.id" type="button"
                                                                class="btn btn-box-tool fa fa-search text-blue"
                                                                data-toggle="modal"
                                                                data-target="#searchEmpresa"></button>
                                                        <button (click)="userSelect = myglobal.user.id" type="button"
                                                                class="btn btn-box-tool fa fa-plus text-green"
                                                                data-toggle="modal"
                                                                data-target="#newEmpresa"></button>
                                                    </div>

                                                </div>
                                                <div>
                                                    <strong>{{myglobal.user.companyName}}</strong><br/>
                                                    <strong>RUC: </strong>{{myglobal.user.companyRuc}}<br/>
                                                    <strong>Telefono: </strong>{{myglobal.user.companyPhone}}<br/>
                                                    <strong>Balance: </strong>{{myglobal.user.companyBalance}}<br/>
                                                </div>
                                            </div>
                                            
                                            
                                            
                                            
                                            
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="row text-center image-profile">
                                            <figure>
                                                <div [imageSrc]="myglobal.user.image" x-cropit id="image-cropper"
                                                     (saveImagen)="changeImage($event)">
                                                    <div class="cropit-preview center-block"></div>
                                                    <div class="col-lg-12 margenes" >
                                                        <div class="col-lg-6">
                                                            <button class="btn btn-box-tool fa fa-rotate-left rotate-ccw fa-fw"></button>
                                                            <button class="btn btn-box-tool fa fa-rotate-right rotate-cw"></button>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <input type="range" class="cropit-image-zoom-input"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="col-lg-6">
                                                            <input x-file type="file" class="cropit-image-input"/>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <button (click)="loadImage()"
                                                                    class="btn btn-success pull-right fa fa-save upload boton-guardar">
                                                                &nbsp;Guardar
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </figure>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">

            </div>
        </div>
    </section>
</div>