<table class="table table-striped table-hover" >
    <thead>
        <tr>
            <th *ngFor="let key of keyVisible()" >{{rules[key].title}}</th>
            <th *ngIf="params.actions"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of dataList.list">
            <td *ngFor="let key of keyVisible()">

             <a *ngIf="!rules[key].object &&  rules[key].type !='boolean'" x-editable  [disabled]="!rules[key].update "  [endpoint]="params.endpoint" [function]="onEditable" [data]="data" [rules]="rules" [field]="key"></a>
             <a *ngIf="rules[key].object &&   rules[key].type !='boolean'">
                 {{data[key]}}
                 <label>
                     <button *ngIf="rulesSearch[key]" type="button" class="btn btn-box-tool"
                             (click)="loadSearchTable(key,data)"
                             data-toggle="modal" [attr.data-target]="'#'+rulesSearch[key].idModal">
                         <i class="fa fa-search text-blue"></i>
                     </button>

                     <button *ngIf="externalSave[rules[key].key]" type="button" class="btn btn-box-tool"
                             (click)="loadSaveTable(rules[key].key,data)" type="button" class="btn btn-box-tool"

                             data-toggle="modal" [attr.data-target]="'#'+externalSave[rules[key].key].paramsSave.idModal">
                         <i class="fa fa-plus text-green"></i>
                     </button>
                 </label>
             </a>
             <button  *ngIf="!rules[key].object &&  rules[key].type =='boolean'" class="btn" [class.btn-green]="data[key]" [class.btn-red]="!data[key]" (click)="onPatch(key,data)">{{data[key]?rules[key].states[0]:rules[key].states[1]}}</button>

            </td>
            <td *ngIf="params.actions">

                <div class="btn-group dropdown pull-right"  *ngIf="keyActions.length > 1">
                    <button type="button" data-toggle="dropdown"
                            class="btn btn-box-tool dropdown-toggle"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-gears fa-lg"></i>
                    </button>
                    <ul role="menu" class="dropdown-menu text-left submenu-config">
                        <li *ngFor="let key of actionPermissionKey()">
                            <a *ngIf="key == 'delete'"
                               data-toggle="modal" [attr.data-target]="'#modalDelete'"
                               (click)="dataSelect = data" href="#">
                                <i class="{{params.actions[key].icon}}"></i>
                                &nbsp;{{params.actions[key].title}}
                            </a>
                            <a *ngIf="key == 'onPatch' && params.actions[key].type=='boolean'"
                               (click)="onPatch(params.actions[key].field,data)">
                                <span class="{{params.actions[key].icon}}"></span>
                                {{data[key]?params.actions[key].titleTrue:params.actions[key].titleFalse}}
                            </a>
                            <a *ngIf="key == 'onLock'"
                               (click)="onLock('enabled',data)">
                                <span class="{{params.actions[key].icon}}"></span>
                                {{data.enabled?params.actions[key].titleTrue:params.actions[key].titleFalse}}
                            </a>
                            <a *ngIf="key == 'print'"
                               (click)="onPrint(params.actions[key].element)">
                                <span class="{{params.actions[key].icon}}"></span>
                                &nbsp;{{params.actions[key].title}}
                            </a>
                        </li>
                    </ul>
                </div>


                <div *ngIf="keyActions.length == 1" >

                   <div *ngFor="let key of actionPermissionKey()">
                       <a *ngIf="key == 'delete'"
                          data-toggle="modal" [attr.data-target]="'#modalDelete'"
                          (click)="dataSelect = data" href="#">
                           <i class="{{params.actions[key].icon}}"></i>
                           &nbsp;{{params.actions[key].title}}
                       </a>
                       <a *ngIf="key == 'onPatch' && params.actions[key].type=='boolean'"
                          (click)="onPatch(params.actions[key].field,data)">
                           <span class="{{params.actions[key].icon}}"></span>
                           {{data[key]?params.actions[key].titleTrue:params.actions[key].titleFalse}}
                       </a>
                       <a *ngIf="key == 'onLock'"
                          (click)="onLock('enabled',data)">
                           <span class="{{params.actions[key].icon}}"></span>
                           {{data.enabled?params.actions[key].titleTrue:params.actions[key].titleFalse}}
                       </a>
                       <a *ngIf="key == 'print'"
                          (click)="onPrint(params.actions[key].element)">
                           <span class="{{params.actions[key].icon}}"></span>
                           &nbsp;{{params.actions[key].title}}
                       </a>
                    </div>
                </div>

            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="dataList && dataList.page.length > 1">
        <tr>
            <td [attr.colspan]="keyVisible().length + 1">
                <div class="btn-group pull-right">

                    <button *ngFor="let val of pagesPager" (click)="pagerFunction(val)" type="button" class="btn btn-default">
                        {{val}}
                    </button>


                    <button (click)="loadAll($event)" type="button" class="btn btn-default">
                        <i class="fa fa-list"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tfoot>
</table>

<div *ngIf="params && params.actions && params.actions.delete && myglobal.existsPermission(params.actions.delete.permission)">
    <div class="modal fade" [attr.id]="'modalDelete'" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header btn-red text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i
                            class="fa fa-warning"></i>&nbsp;<strong>ADVERTENCIA</strong></h4>
                </div>
                <div class="modal-body">
                    {{params.actions.delete.message}} <strong>'{{dataSelect[params.actions.delete.keyAction]}}'</strong> ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outlined btn-red fa fa-close" data-dismiss="modal">&nbsp;Cancelar</button>
                    <button (click)="onDelete($event,dataSelect.id)" data-dismiss="modal" type="button"
                            class="btn btn-red fa fa-trash">&nbsp;Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="dataSave && dataSave.params && dataSave.params.idModal">
    <save [rules]="dataSave.rules" [params]="dataSave.params" (save)="asignData($event)"> </save>
</div>



<div *ngIf="searchTable.idModal">
    <search [params]="searchTable" (result)="getDataSearch($event)"></search>
</div>

<!--div>
    <filter [rules]="rules" [params]="paramsFilter" (whereFilter)="loadWhere($event)"></filter>
</div-->
