<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h2>
            Taquilla
        </h2>
    </section>
    <section class="content">
        <div class="row col-lg-6 col-lg-offset-3 col-md-6 col-sm-12 col-xs-12">
            <form role="form" (submit)="getVehicles(findCamion.value)">
                <div class="input-group input-group-sm">
                    <input  #findCamion type="text" class="form-control" placeholder="Ingrese PLACA / RFID / RUC " value="{{search}}">
                    <span class="input-group-btn">
                        <button (click)="getVehicles(findCamion.value)" type="button" class="btn btn-info btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>

        <div *ngIf="dataVehicles.count" class="row col-lg-10 col-lg-offset-1">
            <table class="table table-hover">
                <tbody>
                <tr *ngFor="let vehicle of dataVehicles.list" (click)="getVehicle(vehicle.id)">
                    <td>
                        <div class="col-lg-2">
                            <img src="{{vehicle.companyImage?vehicle.companyImage:'/assets/img/company-guest.ico'}}"
                                 style="display: inline-block" class="img-responsive img-find">
                        </div>
                        <div>
                            <strong>{{vehicle.companyName}}</strong><br>
                            <strong> RUC: </strong>{{vehicle.companyRuc}}
                        </div>
                    </td>
                    <td>
                        <div class="col-lg-2">
                            <img src="{{vehicle.image?vehicle.image:'/assets/img/truck-guest.ico'}}"
                                 style="display: inline-block" class="img-responsive img-find">
                        </div>
                        <div>
                            <strong>Placa: </strong>{{vehicle.plate}}<br>
                            <strong> RFID: </strong>{{vehicle.tagRFID}}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="dataTruck.id">
            <div class="row col-lg-12">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row"><h3><i class="fa fa-truck fa-lg"></i> <strong> CAMI&Oacute;N</strong></h3>
                        </div>

                        <div class="profile col-lg-2">
                            <div style="margin-bottom: 15px" class="row">
                                <figure>
                                    <img src="{{dataTruck.image?dataTruck.image:'/assets/img/truck-guest.ico'}}" alt=""
                                         style="display: inline-block" class="img-responsive img-bordered">
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>EMPRESA</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{dataTruck.companyName}}</td>
                                </tr>
                                <tr>
                                    <td><strong>RUC: </strong>{{dataTruck.companyRuc}}</td>
                                </tr>
                                <tr>
                                    <td><strong>DIRECCION:</strong> {{dataTruck.companyAddress}}</td>
                                </tr>
                                <tr>
                                    <td><strong>TELEFONO:</strong>{{dataTruck.companyPhone}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-3">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>CAMION</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><strong>PLACA: </strong>{{dataTruck.plate}}</td>
                                </tr>
                                <tr>
                                    <td><strong>PESO: </strong>{{dataTruck.weight}} lbs</td>
                                </tr>
                                <tr>
                                    <td><strong>MARCA: </strong>
                                        {{dataTruck.vehicleTypeTitle?dataTruck.vehicleTypeTitle:"N/A"}}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>DETALLE: </strong>
                                        {{dataTruck.vehicleTypeDetail?dataTruck.vehicleTypeDetail:"N/A"}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!--Fin de Datos de  camion-->
                    <table class="table table-hover table-bordered">

                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Fecha Efectiva</th>
                            <th>Referencia</th>
                            <th>Fecha de Transaccion</th>
                            <th>Tipo</th>
                            <th>Peso</th>
                            <th>Monto</th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let recharges of dataTruck.recharges">
                        <tr>
                            <td>{{recharges.id}}</td>
                            <td>{{recharges.dateCreated}}</td>
                            <td>{{recharges.reference}}</td>
                            <td>{{recharges.referenceDate | fecha | date:'dd-MM-yyyy h:mma'}}</td>
                            <td>
                                <i class="{{recharges.rechargeTypeIcon}}"> {{recharges.rechargeTypeTitle}}</i>
                            </td>
                            <td>{{recharges.weight}}</td>
                            <td>{{recharges.quantity}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h3>Metodos de recarga disponibles:</h3>
                            <div class="btn-group">
                                <img src="assets/img/credit/american-express.png" class="img-responsive btn" alt="">
                                <img src="assets/img/credit/cirrus.png" class="img-responsive btn" alt="">
                                <img src="assets/img/credit/mastercard.png" class="img-responsive btn" alt="">
                                <img src="assets/img/credit/maestro.png" class="img-responsive btn" alt="">
                                <img src="assets/img/credit/visa.png" class="img-responsive btn" alt="">
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h3>Estado de cuenta</h3>
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <td><strong>Saldo Minimo: </strong></td>
                                    <td>{{dataTruck.minBalance}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Saldo Actual: </strong></td>
                                    <td>{{dataTruck.balance}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row pull-right">
                                <button type="button" class="btn  btn-blue">
                                    <i class="fa  fa-download fa-lg"></i> Generar PDF
                                </button>
                                <button type="button" class="btn  btn-success" data-toggle="modal"
                                        data-target="#saveRecarga">
                                    <i class="fa  fa-money fa-lg"></i> Recargar Saldo
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <recarga-save  idModal="saveRecarga" [idVehicle]="dataTruck.id" (save)="assignRecarga($event)"> </recarga-save>
        </div>
    </section>
</div>
