<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h2>
            Taquilla
        </h2>
    </section>
    <section class="box-body">
        <div  class="row col-lg-6 col-lg-offset-3 col-md-6 col-sm-12 col-xs-12 padding-bottom noprint">
            <form role="form" (submit)="getCompanies(findCompany.value)">
                <div class="input-group input-group-sm">
                    <input  #findCompany type="text" class="form-control" placeholder="Ingrese el RUC/Codigo del cliente" value="{{search}}">
                    <span class="input-group-btn">
                        <button (click)="getCompanies(findCompany.value)" type="button" class="btn btn-info btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <div *ngIf="!myglobal.existsPermission('80')" class="col-lg-12">
            <div class="btn-red padding-error">
                <h5><i class="fa fa-warning"></i>&nbsp;<strong>ADVERTENCIA</strong></h5>
                No tiene permisos para listar los clientes
            </div>
        </div>

        <div *ngIf="dataCompanies.count && myglobal.existsPermission('80')" class="row col-lg-10 col-lg-offset-1">
            <table class="table table-hover">
                <tbody>
                <tr *ngFor="let company of dataCompanies.list" (click)="getCompany(company.id)">
                    <td>
                            <img src="{{company.image?company.image:'/assets/img/company-guest.png'}}"
                                 style="display: inline-block" class="img-responsive img-find pull-left">
                            <strong>&nbsp;Nombre:</strong>&nbsp;{{company.title}}
                            <strong>&nbsp;Codigo:</strong>&nbsp;{{company.detail}}
                    </td>
                </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <div *ngIf="dataCompanies.page && dataCompanies.page.length > 1 && dataCompanies.count > 0" class="btn-group pull-right">
                                <button (click)="getCompanies(findCompany.value,val)" [class.btn-green]="val==((offset/max)+1)" *ngFor="let val of dataCompanies.page" type="button" class="btn btn-default">
                                    {{val}}
                                </button>
                            </div>
                        </td>
                    </tr>
                </tfoot>

            </table>

        </div>

        <div *ngIf="dataCompany?.id" id="taquilla">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="panel">
                    <div class="panel-body">
                        <div class="profile col-lg-2 col-md-2 col-xs-12 col-sm-2 noprint">
                            <div style="margin-bottom: 15px" class="row">
                                <figure>
                                    <img src="{{dataCompany.image || '/assets/img/company-guest.png'}}" alt=""
                                         style="display: inline-block" class="img-responsive img-bordered">
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>CLIENTE</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{dataCompany.name}}</td>
                                </tr>
                                <tr>
                                    <td><strong>RUC: </strong>{{dataCompany.ruc}}</td>
                                </tr>
                                <tr>
                                    <td><strong>CODIGO:</strong> {{dataCompany.code}}</td>
                                </tr>
                                <tr>
                                    <td><strong>TEL&Eacute;FONO:</strong>{{dataCompany.phone}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-6 col-sm-6">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>DETALLE</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><strong>TIPO: </strong>
                                            <i class="{{dataCompany.companyTypeIcon}}"></i>
                                            {{dataCompany.companyTypeTitle}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>RESPONSABLE: </strong>
                                            {{dataCompany.responsiblePerson}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>VEH&Iacute;CULOS REGISTRADOS: </strong>
                                            {{dataCompany.vehiclesCount}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>DIRECCI&Oacute;N:</strong> {{dataCompany.address}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!--Fin de Datos de  camion-->
                    <div *ngIf="myglobal.existsPermission('109')">
                        <table id="content" class="table table-hover table-bordered">

                            <thead>
                            <tr>
                                <th>Fecha de transacci&oacute;n</th>
                                <th>#Ref o #Recibo</th>
                                <th>Fecha de referencia</th>
                                <th>Tipo</th>
                                <th>Descargado</th>
                                <th>Veh&iacute;culo</th>
                                <th>Monto ({{MONEY_METRIC}})</th>
                                <th class="noprint"></th>
                            </tr>
                            </thead>
                            <tbody *ngFor="let recharges of dataList.list">
                            <tr>
                                <td>
                                    {{formatDate(recharges.dateCreated,'DD/MM/YYYY, LT')}}
                                </td>
                                <td>{{recharges.reference}}</td>
                                <td>
                                    {{formatDate(recharges.referenceDate,'DD/MM/YYYY')}}
                                </td>
                                <td>
                                    <i class="{{recharges.rechargeTypeIcon}}"> {{recharges.rechargeTypeTitle}}</i>
                                </td>
                                <td>{{recharges.weight | number:'.0-3'}} {{recharges.metric}}</td>
                                <td>{{recharges.vehiclePlate}}</td>
                                <td>{{recharges.quantity | number:'.0-2'}} {{MONEY_METRIC_SHORT}}</td>
                                <td class="noprint">
                                    <a *ngIf="myglobal.existsPermission('157') && recharges.operationId"
                                       (click)="onPrintOperation(recharges)">
                                        <span class="fa fa-print fa-lg btn"></span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot class="noprint">
                            <tr>
                                <td colspan="8">
                                    <div *ngIf="dataList.count==0" class="norecharges">
                                        No tiene recargas asociadas
                                    </div>
                                    <div *ngIf="dataList.page && dataList.page.length > 1 && dataList.count > 0" class="btn-group pull-right">
                                        <button (click)="loadData(val)" [class.btn-green]="val==((offset/max)+1)" *ngFor="let val of dataList.page" type="button" class="btn btn-default">
                                            {{val}}
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div *ngIf="!myglobal.existsPermission('109')">
                        <div class="btn-red padding-error">
                            <h5><i class="fa fa-warning"></i>&nbsp;<strong>ADVERTENCIA</strong></h5>
                            No tiene permisos para listar las recargas
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 noprint">
                            <h3>M&eacute;todos de recarga disponibles:</h3>
                            <div class="btn-group">
                                <img src="assets/img/credit/american-express.png" class="img-responsive btn" alt="">
                                <img src="assets/img/credit/cirrus.png" class="img-responsive btn" alt="">
                                <img src="assets/img/credit/mastercard.png" class="img-responsive btn" alt="">
                                <img src="assets/img/credit/maestro.png" class="img-responsive btn" alt="">
                                <img src="assets/img/credit/visa.png" class="img-responsive btn" alt="">
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h3>Estado de cuenta</h3>
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <td><strong>Saldo m&iacute;nimo: </strong></td>
                                    <td>{{dataCompany.minBalance | number:'.0-2'}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Saldo actual: </strong></td>
                                    <td>{{dataCompany.balance | number:'.0-2'}}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Deuda: </strong></td>
                                    <td>{{dataCompany.debt | number:'.0-2'}}
                                    <span class="btn" *ngIf="dataCompany.debt<0" (click)="RecargarSaldo(dataCompany)"
                                          data-toggle="modal" data-target="#saveRecarga">
                                        &nbsp;<i class="fa fa-money text-green fa-lg"></i>
                                        Pagar deuda
                                    </span>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                            <div class="row pull-right noprint">
                                <button (click)="onPrint($event)" type="button" class="btn  btn-blue">
                                    <i class="fa  fa-print fa-lg"></i> Imprimir
                                </button>
                                <button (click)="exportCSV()" type="button" class="btn btn-default">
                                    <i class="fa fa-download"></i>&nbsp;Exportar a CSV
                                </button>
                                <button type="button" class="btn  btn-success" data-toggle="modal" data-target="#saveRecarga"
                                        *ngIf="myglobal.existsPermission('111')">
                                    <i class="fa  fa-money fa-lg"></i> Recargar Saldo
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="myglobal.existsPermission('111')">
                <recarga-save  idModal="saveRecarga" [idCompany]="dataCompany.id" (save)="assignRecarga($event)"> </recarga-save>
            </div>
        </div>
    </section>
</div>
<div  *ngIf="myglobal.existsPermission('157')">
    <operacion-print [data]="operacionPrint"></operacion-print>
</div>
