<div class="content-wrapper">
    <section class="content">
        <div class="">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        {{viewOptions.title | translate }}&nbsp;<tooltip code="CODE_6"></tooltip>
                    </h3>
                    <button *ngFor="let buttom of getViewOptionsButtons()"
                            class="{{buttom.class.call?buttom.class.call():buttom.class}}" type="button"
                            (click)="buttom.callback($event)"
                            [attr.title]="(buttom.title.call?buttom.title.call():buttom.title | translate)">
                        <i class="{{buttom.icon}}"></i>
                    </button>


                    &nbsp;<tooltip code="CODE_7"></tooltip>
                    <button (click)="typeView = 1"
                            type="button" class="btn btn-box-tool">
                        <i class="fa fa-list fa-lg text-blue"></i>
                    </button>

                    <button (click)="typeView = 2"
                            type="button" class="btn btn-box-tool">
                        <i class="fa fa-list-alt fa-lg text-blue"></i>
                    </button>
                    &nbsp;<tooltip code="CODE_8"></tooltip>

                    <div *ngIf="dataList.list && model.permissions.list" class="pull-right">
                        <div *ngIf="dataList.page && dataList.page.length > 1 && dataList.count > 0"
                             class="btn-group pull-right">
                            <button (click)="loadData(val)" [class.btn-green]="val==((offset/max)+1)" *ngFor="let val of dataList.page" type="button"
                                    class="btn btn-default">
                                {{val}}
                            </button>
                            &nbsp;<tooltip code="CODE_9"></tooltip>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div *ngIf="typeView==1"  class="box-body">
                    <div *ngIf="dataList.list && model.permissions.list" class="panel-group" id="accordion">
                        <div *ngFor="let data of dataList.list " class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title row">
                                    <div class="{{_classCol(10,10,10,10)}}">
                                        <a data-toggle="collapse" data-parent="#accordion" [attr.href]="'#collapse'+data.id">
                                            <label class="title">C&oacute;digo:&nbsp;</label>{{data.code}}&nbsp;
                                            <label class="title">RUC:&nbsp;</label>{{data.ruc}}&nbsp;
                                            <label class="title">Nombre:&nbsp;</label>{{data.name}}&nbsp;
                                        </a>
                                    </div>
                                    <div class="{{_classCol(2,2,2,2)}}">
                                        <div class="btn-group">
                                            <label *ngIf="model.permissions.lock">
                                                <a (click)="onLock('enabled',data)">
                                                    <span class="fa {{data.enabled?'fa-lock':'fa-unlock'}}"></span>
                                                </a>
                                            </label>
                                            <label *ngIf="model.permissions.delete">
                                                <a data-toggle="modal"
                                                   (click)="dataSelect = data"
                                                   [attr.data-target]="'#modalDelete'">
                                                    <span class="fa fa-trash"></span>
                                                </a>
                                            </label>
                                        </div>
                                    </div>
                                </h4>
                            </div>
                            <div [attr.id]="'collapse'+data.id" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="{{_classCol()}}">
                                        <div class="{{_classCol(5,5,12,12)}} text-center separacion">
                                            <figure>
                                                <div [imageSrc]="data.image || '/assets/img/company-guest.png'"
                                                     x-cropit
                                                     (saveImagen)="changeImage($event,data.id)">
                                                    <div class="cropit-preview center-block"></div>
                                                    <div class="{{_classCol()}} margenes"
                                                         [hidden]="! (myglobal.existsPermission('86') && model.permissions.update)">
                                                        <div class="{{_classCol(6,6,6,6)}}">
                                                            <button class="btn btn-box-tool fa fa-rotate-left rotate-ccw fa-fw"></button>
                                                            <button class="btn btn-box-tool fa fa-rotate-right rotate-cw"></button>
                                                        </div>
                                                        <div class="{{_classCol(6,6,6,6)}}">
                                                            <input type="range"
                                                                   class="cropit-image-zoom-input"/>
                                                        </div>
                                                    </div>
                                                    <div class="{{_classCol()}}"
                                                         [hidden]="! (myglobal.existsPermission('86') && model.permissions.update)">
                                                        <div class="{{_classCol(6,6,6,6)}}">
                                                            <input x-file type="file"
                                                                   class="cropit-image-input"/>
                                                        </div>
                                                        <div class="{{_classCol(6,6,6,6)}}">
                                                            <button (click)="loadImage($event,data)"
                                                                    class="btn btn-success pull-right fa fa-save upload boton-guardar">
                                                                &nbsp;Guardar
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </figure>
                                        </div>
                                        <div class="{{_classCol(7,7)}}">
                                            <div class="row separacion">
                                                <div class="{{_classCol(6,6,6)}}">
                                                    <p>
                                                        <strong>
                                                            <a x-editable [disabled]="!model.permissions.update"
                                                               [endpoint]="endpoint" [function]="onEditable"
                                                               [data]="data" [rules]="model.rules" field="name"></a>
                                                        </strong>
                                                    </p>
                                                    <p>
                                                        <strong>RUC: </strong>
                                                        <a x-editable [disabled]="!model.permissions.update"
                                                           [endpoint]="endpoint" [function]="onEditable" [data]="data"
                                                           [rules]="model.rules" field="ruc"></a>
                                                    </p>
                                                    <p>
                                                        <strong>C&oacute;digo: </strong>
                                                        <a x-editable [disabled]="!model.permissions.update"
                                                           [endpoint]="endpoint" [function]="onEditable" [data]="data"
                                                           [rules]="model.rules" field="code"></a>
                                                    </p>
                                                    <p>
                                                        <strong>Responsable:</strong>
                                                        <a x-editable [disabled]="!model.permissions.update"
                                                           [endpoint]="endpoint" [function]="onEditable" [data]="data"
                                                           [rules]="model.rules" field="responsiblePerson"></a>
                                                    </p>
                                                    <p>
                                                        <strong>Tel&eacute;fonos:</strong>
                                                        <a x-editable [disabled]="!model.permissions.update"
                                                           [endpoint]="endpoint" [function]="onEditable" [data]="data"
                                                           [rules]="model.rules" field="phone"></a>
                                                    </p>
                                                    <p>
                                                        <strong>Balance M&iacute;nimo:</strong>
                                                        <a x-editable [endpoint]="endpoint" [function]="onEditable" [disabled]="!model.permissions.update"
                                                           [data]="data" [rules]="model.rules" field="minBalance"></a>
                                                    </p>
                                                    <p>
                                                        <strong>Deuda:&nbsp;</strong>
                                                        {{data.debt}}
                                                    </p>

                                                    <p>
                                                        <strong>Ubicaci&oacute;n:</strong>
                                                        <button data-target="#modalLocation"
                                                                data-toggle="modal"
                                                                class="btn btn-box-tool"
                                                                (click)="_getLocation($event,data)">
                                                            <i class="fa fa-map-pin"></i>&nbsp;Ver
                                                        </button>
                                                    </p>
                                                </div>
                                                <div class="{{_classCol(6,6,6)}}">
                                                    <p>
                                                        <strong>Direcci&oacute;n:</strong>
                                                        <a x-editable [disabled]="!model.permissions.update"
                                                           [endpoint]="endpoint" [function]="onEditable" [data]="data"
                                                           [rules]="model.rules" field="address"></a>
                                                    </p>
                                                    <p><strong>Grupo:</strong>
                                                        {{data.companyTypeTitle?data.companyTypeTitle:"N/A"}}
                                                        <label>
                                                            <button (click)="dataSelect = data"
                                                                    *ngIf="model.permissions.update && companyType.permissions.add"
                                                                    data-toggle="modal" [attr.data-target]="'#'+companyType.paramsSave.idModal"
                                                                    type="button" class="btn btn-box-tool"
                                                                    title="Asignar un nuevo grupo"
                                                            >
                                                                <i class="fa fa-plus text-green"></i>
                                                            </button>
                                                            <button (click)="dataSelect = data"
                                                                    *ngIf="model.permissions.update && companyType.permissions.search"
                                                                    data-toggle="modal" [attr.data-target]="'#'+companyType.paramsSearch.idModal"
                                                                    type="button" class="btn btn-box-tool"
                                                                    title="Asignar un grupo"
                                                            >
                                                                <i class="fa fa-search text-blue"></i>
                                                            </button>

                                                        </label>
                                                    </p>
                                                    <p><strong>Tipo de basura:</strong>
                                                        {{data.trashTypeId?(data.trashTypeTitle+' ('+data.trashTypeReference+')'):"N/A"}}
                                                        <label>
                                                            <button (click)="dataSelect = data"
                                                                    *ngIf="model.permissions.update && trashType.permissions.add"
                                                                    data-toggle="modal" [attr.data-target]="'#'+trashType.paramsSave.idModal"
                                                                    type="button" class="btn btn-box-tool"
                                                                    title="Asignar un nuevo tipo de basura"
                                                            >
                                                                <i class="fa fa-plus text-green"></i>
                                                            </button>
                                                            <button (click)="dataSelect = data"
                                                                    *ngIf="model.permissions.update && trashType.permissions.search"
                                                                    data-toggle="modal" [attr.data-target]="'#'+trashType.paramsSearch.idModal"
                                                                    type="button" class="btn btn-box-tool"
                                                                    title="Asignar un tipo de basura"
                                                            >
                                                                <i class="fa fa-search text-blue"></i>
                                                            </button>
                                                            <button (click)="setNull(data,'trashType')"
                                                                    *ngIf="model.permissions.update && !model.rules['trashType'].required && data.trashTypeId"
                                                                    type="button" class="btn btn-box-tool"
                                                                    title="Eliminar tipo de basura"
                                                            >
                                                                <i class="text-red fa fa-minus"></i>
                                                            </button>


                                                        </label>
                                                    </p>
                                                    <p><strong>Ruta:</strong>
                                                        {{data.routeId?(data.routeTitle+' ('+data.routeReference+')'):"N/A"}}
                                                        <label>
                                                            <button (click)="dataSelect = data"
                                                                    *ngIf="model.permissions.update && route.permissions.add"
                                                                    data-toggle="modal" [attr.data-target]="'#'+route.paramsSave.idModal"
                                                                    type="button" class="btn btn-box-tool"
                                                                    title="Asignar una nueva ruta"
                                                            >
                                                                <i class="fa fa-plus text-green"></i>
                                                            </button>
                                                            <button (click)="dataSelect = data"
                                                                    *ngIf="model.permissions.update && route.permissions.search"
                                                                    data-toggle="modal" [attr.data-target]="'#'+route.paramsSearch.idModal"
                                                                    type="button" class="btn btn-box-tool"
                                                                    title="Asignar una ruta"
                                                            >
                                                                <i class="fa fa-search text-blue"></i>
                                                            </button>
                                                            <button (click)="setNull(data,'route')"
                                                                    *ngIf="model.permissions.update && !model.rules['route'].required && data.routeId"
                                                                    type="button" class="btn btn-box-tool"
                                                                    title="Eliminar ruta"
                                                            >
                                                                <i class="text-red fa fa-minus"></i>
                                                            </button>


                                                        </label>
                                                    </p>
                                                    <p>
                                                        <button (click)="onLock('enabled',data)" class="btn btn-sm"
                                                                [class.btn-green]="data.enabled"
                                                                [class.btn-red]="!data.enabled"
                                                                [disabled]="!(model.permissions.lock)">
                                                            {{data.enabled?"Habilitado":"Bloqueado"}}
                                                        </button>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row text-center divider" *ngIf="myglobal.existsPermission('87')">
                                                <div class="{{_classCol(4,4,6)}} emphasis">
                                                    <h4><strong>{{data.weightCount? (data.weightCount | number:'.0-3'):"N/A"}}</strong>
                                                    </h4>
                                                    <p>
                                                        <small>Descargas</small>
                                                    </p>
                                                    <button (click)="goTimeLine(data.ruc)"
                                                            class="btn btn-yellow btn-block">Registro
                                                    </button>
                                                </div>
                                                <div class="{{_classCol(4,4,6)}} emphasis">
                                                    <h4><strong>{{data.vehiclesCount?data.vehiclesCount:"N/A"}}</strong>
                                                    </h4>
                                                    <p>
                                                        <small>Camiones</small>
                                                    </p>
                                                    <button (click)="goVehiculo($event,data.id)" class="btn btn-yellow btn-block">Cami&oacute;n</button>

                                                </div>
                                                <div class="{{_classCol(4,4)}} emphasis">
                                                    <h4><strong>{{data.balance?(data.balance | number:'.0-2'):"0"}}$</strong></h4>
                                                    <p>
                                                        <small>Saldo</small>
                                                    </p>
                                                    <button (click)="goTaquilla(data.id)"
                                                            class="btn btn-yellow btn-block">Taquilla
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="typeView==2">
                    <div *ngIf="dataList.list && model.permissions.list" class="box-body">
                    <div *ngFor="let i of [0,3,6,9]" class="row">
                        <div *ngFor="let data of dataList.list | slice:i:i+3">
                            <div class="{{_classCol(4,4,4)}}">
                                <div class="panel">
                                    <div class="panel-body">
                                        <div class="profile">
                                            <div style="margin-bottom: 15px" class="row">
                                                <div *ngIf="model.permissions.lock || model.permissions.delete" class="{{_classCol()}}">
                                                    <div class="btn-group dropdown pull-right">
                                                        <button type="button" data-toggle="dropdown"
                                                                class="btn btn-white dropdown-toggle"
                                                                aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-gears fa-lg"></i>
                                                        </button>
                                                        <ul role="menu" class="dropdown-menu text-left submenu-config">
                                                            <li *ngIf="model.permissions.lock">
                                                                <a (click)="onLock('enabled',data)">
                                                                    <span class="fa fa-warning"></span>
                                                                    &nbsp;{{data.enabled?"Bloquear":"Habilitar"}}
                                                                </a>
                                                            </li>
                                                            <li *ngIf="model.permissions.delete">
                                                                <a data-toggle="modal"
                                                                   (click)="dataSelect = data"
                                                                   [attr.data-target]="'#modalDelete'">
                                                                    <span class="fa fa-trash"></span>
                                                                    &nbsp;Eliminar
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>
                                                <div class="{{_classCol()}} text-center separacion">
                                                    <figure>
                                                        <div [imageSrc]="data.image || '/assets/img/company-guest.png'"
                                                             x-cropit
                                                             (saveImagen)="changeImage($event,data.id)">
                                                            <div class="cropit-preview center-block"></div>
                                                            <div class="{{_classCol()}} margenes"
                                                                 [hidden]="! (myglobal.existsPermission('86') && model.permissions.update)">
                                                                <div class="{{_classCol(6,6,6,6)}}">
                                                                    <button class="btn btn-box-tool fa fa-rotate-left rotate-ccw fa-fw"></button>
                                                                    <button class="btn btn-box-tool fa fa-rotate-right rotate-cw"></button>
                                                                </div>
                                                                <div class="{{_classCol(6,6,6,6)}}">
                                                                    <input type="range"
                                                                           class="cropit-image-zoom-input"/>
                                                                </div>
                                                            </div>
                                                            <div class="{{_classCol()}}"
                                                                 [hidden]="! (myglobal.existsPermission('86') && model.permissions.update)">
                                                                <div class="{{_classCol(6,6,6,6)}}">
                                                                    <input x-file type="file"
                                                                           class="cropit-image-input"/>
                                                                </div>
                                                                <div class="{{_classCol(6,6,6,6)}}">
                                                                    <button (click)="loadImage($event,data)"
                                                                            class="btn btn-success pull-right fa fa-save upload boton-guardar">
                                                                        &nbsp;<span class="hidden-sm hidden-xs">Guardar</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </figure>
                                                </div>

                                                <div class="{{_classCol()}}">
                                                    <p>
                                                        <strong>
                                                            <a x-editable [disabled]="!model.permissions.update"
                                                               [endpoint]="endpoint" [function]="onEditable"
                                                               [data]="data" [rules]="model.rules" field="name"></a>
                                                        </strong>
                                                    </p>
                                                    <p>
                                                        <strong>RUC: </strong>
                                                        <a x-editable [disabled]="!model.permissions.update"
                                                           [endpoint]="endpoint" [function]="onEditable" [data]="data"
                                                           [rules]="model.rules" field="ruc"></a>
                                                    </p>
                                                    <p>
                                                        <strong>C&oacute;digo: </strong>
                                                        <a x-editable [disabled]="!model.permissions.update"
                                                           [endpoint]="endpoint" [function]="onEditable" [data]="data"
                                                           [rules]="model.rules" field="code"></a>
                                                    </p>
                                                    <p>
                                                        <strong>Responsable:</strong>
                                                        <a x-editable [disabled]="!model.permissions.update"
                                                           [endpoint]="endpoint" [function]="onEditable" [data]="data"
                                                           [rules]="model.rules" field="responsiblePerson"></a>
                                                    </p>
                                                    <p>
                                                        <strong>Tel&eacute;fonos:</strong>
                                                        <a x-editable [disabled]="!model.permissions.update"
                                                           [endpoint]="endpoint" [function]="onEditable" [data]="data"
                                                           [rules]="model.rules" field="phone"></a>
                                                    </p>
                                                    <p>
                                                        <strong>Ubicaci&oacute;n:</strong>
                                                        <button data-target="#modalLocation"
                                                                data-toggle="modal"
                                                                class="btn btn-box-tool"
                                                                (click)="_getLocation($event,data)">
                                                            <i class="fa fa-map-pin"></i>&nbsp;Ver
                                                        </button>
                                                    </p>
                                                    <p>
                                                        <strong>Balance M&iacute;nimo:</strong>
                                                        <a x-editable [endpoint]="endpoint" [function]="onEditable" [disabled]="!model.permissions.update"
                                                           [data]="data" [rules]="model.rules" field="minBalance"></a>
                                                    </p>
                                                    <p>
                                                        <strong>Direcci&oacute;n:</strong>
                                                        <a x-editable [disabled]="!model.permissions.update"
                                                           [endpoint]="endpoint" [function]="onEditable" [data]="data"
                                                           [rules]="model.rules" field="address"></a>
                                                    </p>
                                                    <p><strong>Grupo:</strong>
                                                        {{data.companyTypeTitle?data.companyTypeTitle:"N/A"}}
                                                        <label>
                                                            <button (click)="dataSelect = data"
                                                                    *ngIf="model.permissions.update && companyType.permissions.add"
                                                                    data-toggle="modal" [attr.data-target]="'#'+companyType.paramsSave.idModal"
                                                                    type="button" class="btn btn-box-tool"
                                                                    title="Asignar un nuevo grupo"
                                                            >
                                                                <i class="fa fa-plus text-green"></i>
                                                            </button>
                                                            <button (click)="dataSelect = data"
                                                                    *ngIf="model.permissions.update && companyType.permissions.search"
                                                                    data-toggle="modal" [attr.data-target]="'#'+companyType.paramsSearch.idModal"
                                                                    type="button" class="btn btn-box-tool"
                                                                    title="Asignar un grupo"
                                                            >
                                                                <i class="fa fa-search text-blue"></i>
                                                            </button>
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <button (click)="onLock('enabled',data)" class="btn btn-sm"
                                                                [class.btn-green]="data.enabled"
                                                                [class.btn-red]="!data.enabled"
                                                                [disabled]="!(model.permissions.lock)"
                                                        >
                                                            {{data.enabled?"Habilitado":"Bloqueado"}}
                                                        </button>
                                                    </p>
                                                </div>
                                            </div>
                                            <div *ngIf="myglobal.existsPermission('87')" class="row text-center divider">
                                                <div class="{{_classCol(4,6)}} emphasis">
                                                    <h4><strong>{{data.weightCount? (data.weightCount | number:'.0-3'):"N/A"}}</strong>
                                                    </h4>
                                                    <p>
                                                        <small>Descargas</small>
                                                    </p>
                                                    <button (click)="goTimeLine(data.ruc)"
                                                            class="btn btn-yellow btn-block">Registro
                                                    </button>
                                                </div>
                                                <div class="{{_classCol(4,6)}} emphasis">
                                                    <h4><strong>{{data.vehiclesCount?data.vehiclesCount:"N/A"}}</strong>
                                                    </h4>
                                                    <p>
                                                        <small>Camiones</small>
                                                    </p>
                                                    <button (click)="goVehiculo($event,data.id)" class="btn btn-yellow btn-block">Cami&oacute;n</button>

                                                </div>
                                                <div class="{{_classCol(4)}} emphasis">
                                                    <h4><strong>{{data.balance?(data.balance | number:'.0-2'):"0"}}$</strong></h4>
                                                    <p>
                                                        <small>Saldo</small>
                                                    </p>
                                                    <button (click)="goTaquilla(data.id)"
                                                            class="btn btn-yellow btn-block">Taquilla
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>


            </div>
            <!-- /.box -->
        </div>
    </section>
</div>

<div *ngIf="model.permissions.update">

    <div *ngIf="companyType.permissions.add">
        <save [params]="companyType.paramsSave" [rules]="companyType.rulesSave" (save)="onPatchId($event,'companyType',dataSelect)"> </save>
    </div>
    <div *ngIf="companyType.permissions.search">
        <search [params]="companyType.paramsSearch" (result)="onPatchId($event,'companyType',dataSelect)"></search>
    </div>

    <div *ngIf="trashType.permissions.add">
        <save [params]="trashType.paramsSave" [rules]="trashType.rulesSave" (save)="onPatchId($event,'trashType',dataSelect)"> </save>
    </div>
    <div *ngIf="trashType.permissions.search">
        <search [params]="trashType.paramsSearch" (result)="onPatchId($event,'trashType',dataSelect)"></search>
    </div>

    <div *ngIf="route.permissions.add">
        <save [params]="route.paramsSave" [rules]="route.rulesSave" (save)="onPatchId($event,'route',dataSelect)"> </save>
    </div>
    <div *ngIf="route.permissions.search">
        <search [params]="route.paramsSearch" (result)="onPatchId($event,'route',dataSelect)"></search>
    </div>
</div>


<div *ngIf="model.permissions.add">
    <save [params]="model.paramsSave" [rules]="model.rulesSave" (save)="setLoadData($event)"></save>
</div>
<div *ngIf="model.permissions.filter">
    <filter [params]="model.paramsSearch" [rules]="model.rules" (whereFilter)="loadWhere($event)"></filter>
</div>


<div *ngIf="model.permissions.delete">
    <div class="modal fade" [attr.id]="'modalDelete'" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header btn-red text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i
                            class="fa fa-warning"></i>&nbsp;<strong>ADVERTENCIA</strong></h4>
                </div>
                <div class="modal-body">
                    ¿ Estás seguro que deseas eliminar a <strong>{{dataSelect.name}}</strong> RUC:{{dataSelect.ruc}} ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outlined btn-red fa fa-close" data-dismiss="modal">&nbsp;Cancelar</button>
                    <button (click)="onDelete($event,dataSelect.id)" data-dismiss="modal" type="button"
                            class="btn btn-red fa fa-trash">&nbsp;Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="modal fade" [attr.id]="'modalLocation'" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        <i class="fa fa-globe text-blue"></i>&nbsp;
                        <strong>UBICACI&Oacute;N</strong>
                    </h4>
                </div>
                <div class="modal-body" *ngIf="_location">
                    <location-picker [params]="_location"></location-picker>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outlined btn-red fa fa-close" data-dismiss="modal">
                        &nbsp;Cancelar
                    </button>

                    <button *ngIf="model.permissions.update"
                            (click)="onSaveLocation($event)"
                            data-dismiss="modal" type="button" class="btn btn-blue fa fa-save">&nbsp;Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

