<div class="content-wrapper">
    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Operaciones</h3>

                <div class="pull-right">
                    <button *ngIf="myglobal.existsPermission('98')"
                            type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#saveOperacion">
                        <i class="fa fa-plus"></i>&nbsp;Agregar
                    </button>
                    <button *ngIf="myglobal.existsPermission('97')"
                            type="button" class="btn btn-blue "
                            data-toggle="modal" [attr.data-target]="'#'+paramsFilter.idModal">
                        <i class="fa fa-filter"></i>&nbsp;Filtrar
                    </button>
                </div>

            </div>
            <!-- /.box-header -->
            <div *ngIf="myglobal.existsPermission('93')" class="box-body">
                <div>
                    <table class="table table-striped table-hover tarjeta">
                        <thead>
                        <tr data-title="email">
                            <th>Cliente</th>
                            <th>Grupo</th>
                            <th>Fecha de transacci&oacute;n</th>
                            <th>#Ref o #Recibo</th>
                            <th>Ruta</th>
                            <th>Tipo de basura</th>
                            <th>Operador</th>
                            <th>Monto</th>
                            <th>Veh&iacute;culo</th>
                            <th>Peso de entrada</th>
                            <th>Peso de salida</th>
                            <th *ngIf="myglobal.existsPermission('94') || myglobal.existsPermission('157')">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of dataList.list">
                            <td>
                                <a class="btn btn-box-tool"
                                   (click)="goTaquilla($event,data.companyId)">
                                    {{data.companyName}}<br/>({{data.companyRUC}})
                                    <i class="fa fa-external-link"></i>
                                </a>
                            </td>
                            <td>{{data.companyTypeName}}</td>
                            <td>
                                {{data.rechargeReferenceDate| fecha | date:'dd'}}/
                                {{data.rechargeReferenceDate| fecha | date:'MM'}}/
                                {{data.rechargeReferenceDate| fecha | date:'yyyy'}},
                                {{data.rechargeReferenceDate| fecha | date:'h:m'}}
                            </td>

                            <td> {{data.rechargeReference || "-"}}</td>
                            <td> {{data.routeTitle}}&nbsp;({{data.routeReference}})</td>
                            <td> {{data.trashTypeTitle}}&nbsp;({{data.trashTypeReference}})</td>
                            <td> {{data.usernameCreator}}</td>

                            <td [class.text-red]="data.rechargeQuantity<0" [class.text-green]="data.rechargeQuantity>=0"> {{data.rechargeQuantity || "-"}}</td>
                            <td>{{data.vehiclePlate}}</td>
                            <td>
                                <a x-editable [endpoint]="endpoint" [function]="onEditableWeight" [data]="data"
                                   [disabled]="!myglobal.existsPermission('95')" [rules]="rules" field="weightIn"></a>
                            </td>
                            <td>
                                <a x-editable [endpoint]="endpoint" [function]="onEditableWeight" [data]="data"
                                   [disabled]="!myglobal.existsPermission('95')" [rules]="rules" field="weightOut"></a>
                            </td>
                            <td *ngIf="myglobal.existsPermission('94') || myglobal.existsPermission('157')" style="vertical-align: middle">
                                <a *ngIf="myglobal.existsPermission('94')"
                                   data-toggle="modal" [attr.data-target]="'#modalDelete'"
                                   (click)="dataSelect = data" href="#">
                                   <span class="fa fa-trash fa-lg btn"></span>
                                </a>
                                <a *ngIf="myglobal.existsPermission('157') && data.rechargeId"
                                   (click)="onPrint(data)">
                                   <span class="fa fa-print fa-lg btn"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- ./box-body -->
            <div *ngIf="myglobal.existsPermission('93')" class="box-footer with-border">
                <div *ngIf="dataList.page && dataList.page.length > 1 && dataList.count > 0" class="btn-group pull-right">
                    <button (click)="loadData(max*(val-1))" *ngFor="let val of dataList.page" type="button"
                            class="btn btn-default">
                        {{val}}
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>
<div *ngIf="myglobal.existsPermission('98')">
    <operacion-save idModal="saveOperacion" (save)="assignOperacion($event)"></operacion-save>
</div>
<div *ngIf="myglobal.existsPermission('97')">
    <filter [rules]="rules" [params]="paramsFilter" (whereFilter)="loadWhere($event)"></filter>
</div>
<div *ngIf="myglobal.existsPermission('94')">
    <div class="modal fade" [attr.id]="'modalDelete'" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header btn-red text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i
                            class="fa fa-warning"></i>&nbsp;<strong>ADVERTENCIA</strong></h4>
                </div>
                <div class="modal-body">
                    ¿ Estás seguro que deseas eliminar la operacion <strong>{{dataSelect.rechargeReference}}</strong> ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outlined btn-red fa fa-close" data-dismiss="modal">&nbsp;Cancelar</button>
                    <button (click)="onDelete($event,dataSelect.id)" data-dismiss="modal" type="button"
                            class="btn btn-red fa fa-trash">&nbsp;Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div  *ngIf="myglobal.existsPermission('157')">
    <operacion-print [data]="operacionPrint"></operacion-print>
</div>