.padding-error{
    padding: 5pt;
}
.padding-top-4{
    padding-top: 4pt;
}
.img-search{
    width: 28pt;
}
.form-margin{
    margin-bottom: 10pt;
}
.z-index{
    z-index:1;
}
.alert{
    margin-bottom: 0px !important;
}
/*Factura*/
.subrayar{
    text-decoration: underline;
}
.head-fact{
    font-weight: 800;
    margin-bottom: 5px;
    font-size: 13px;
}
.body-print{
    font-size: 11px;
}
.detalle-title{
    border-bottom: 1px solid #949494;
    border-top: 1px solid #949494;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.body-fact{
    border-bottom: 1px solid #949494;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.borde-margin{
    border-top: 1px solid black;
    margin-top: 40px;
}
.texto-head{
    color: black;
    font-weight: 600;
}
.text-foot{
    color: red;
    font-size: 12pt
}
.text-search{
    margin-left: 5pt;
    color: blue;
}