<div class="content-wrapper">
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h4 class="box-title">
                    <strong>CIERRE DE CAJA </strong>
                </h4>
                <tooltip code="INFO_75"></tooltip>
            </div>
            <div class="box-body"><tooltip code="INFO_82"></tooltip>
                <div class="col-lg-12">
                    <div class="form-group input-icon right col-lg-3">
                        <div class="input-icon right">
                            <i class="glyphicon glyphicon-calendar"></i>
                            <input datepicker [format]="formatDateFact" (fecha)="loadFechaFac($event)" accesskey="1" value="Hoy" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div  class="col-lg-12" style="margin-top: 10pt">
                    <div *ngIf="myglobal.existsPermission('109')">
                        <div *ngIf="rechargeTotal.debe">
                            <table class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>Peso de entrada({{WEIGTH_METRIC_SHORT}})</th>
                                    <th>Peso de salida({{WEIGTH_METRIC_SHORT}})</th>
                                    <th>Peso descargado({{WEIGTH_METRIC_SHORT}})</th>
                                    <th><i class="fa fa-dollar text-green"></i>&nbsp;Facturado</th>
                                    <th><i class="fa fa-dollar text-green"></i>&nbsp;Saldo de clientes</th>
                                    <th><i class="fa fa-dollar text-green"></i>&nbsp;Ingresos</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>TOTAL</td>
                                    <td>{{rechargeTotal.weightIn | number:'.0-3'}}</td>
                                    <td>{{rechargeTotal.weightOut | number:'.0-3'}}</td>
                                    <td>{{rechargeTotal.weightIn - rechargeTotal.weightOut | number:'.0-3'}}</td>
                                    <td>{{(rechargeTotal.debe * -1) | number:'.0-2'}}</td>
                                    <td>{{(rechargeTotal.haber + rechargeTotal.debe) | number:'.0-2'}}</td>
                                    <td>{{rechargeTotal.haber | number:'.0-2'}}</td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="typeRecharge.list && dataList.count > 0">
                            <table class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th *ngFor="let data of typeRecharge.list">{{data.title}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>TOTAL</td>
                                    <th *ngFor="let data of typeRecharge.list">{{ (data.id==4?(data.total*-1):data.total) | number:'.0-2'}}</th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>Clientes al contado&nbsp;({{MONEY_METRIC_SHORT}})</th>
                                        <th>Clientes a credito&nbsp;({{MONEY_METRIC_SHORT}})</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>TOTAL</td>
                                    <td>{{getRechargeSum(false)*-1 | number:'.0-2'}}</td>
                                    <td>{{getRechargeSum(true) | number:'.0-2'}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                        <div *ngIf=" dataList && dataList.count > 0 ">
                            {{calcRecharges()}}
                            <button class="btn-green btn pull-right" (click)="exportCSV('content',$event)">
                                <i class="fa fa-print"></i>&nbsp;Exportar CSV
                            </button>
                            <table id="content"  class="table table-hover table-bordered">

                                <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <th>Veh. Placa</th>
                                    <th>Fecha de transacci&oacute;n</th>
                                    <th>#Ref o #Recibo</th>
                                    <th>Fecha de referencia</th>
                                    <th>Tipo</th>
                                    <th>Descargado</th>
                                    <th>Debe</th>
                                    <th>Haber</th>
                                </tr>
                                </thead>
                                <tbody *ngFor="let recharges of dataList.list">
                                <tr [class.alert-error]="recharges.rechargeTypeId==4 && recharges.quantity>0">
                                    <td>
                                        <a class="btn btn-box-tool"
                                           (click)="goTaquilla($event,recharges.companyId)">
                                            {{recharges.companyName}}&nbsp;({{recharges.companyRuc}})
                                            <i class="fa fa-external-link"></i>
                                        </a>
                                    </td>
                                    <td>{{recharges.vehiclePlate}}</td>
                                    <td>
                                        {{formatDate(recharges.dateCreated,'DD/MM/YYYY, LT')}}
                                    </td>
                                    <td>{{recharges.reference}}</td>
                                    <td>
                                        {{formatDate(recharges.referenceDate,'DD/MM/YYYY')}}
                                    </td>
                                    <td>
                                        <i class="{{recharges.rechargeTypeIcon}}"> {{recharges.rechargeTypeTitle}}</i>
                                    </td>
                                    <td>
                                        {{ (recharges.weight | number:'.0-3') || "&nbsp;"}} {{recharges.metric}}
                                    </td>
                                    <td>{{recharges.rechargeTypeId!=4?(recharges.quantity | number:'.0-2')+" "+MONEY_METRIC_SHORT:"&nbsp;"}}</td>
                                    <td>{{recharges.rechargeTypeId==4?((recharges.quantity*-1) | number:'.0-2')+" "+MONEY_METRIC_SHORT:"&nbsp;"}}</td>
                                </tr>
                                </tbody>
                                <tfoot *ngIf="dataList && dataList.page.length > 1">
                                <tr>
                                    <td colspan="8">
                                        <div class="btn-group pull-right">
                                            <button (click)="loadData(val)" [class.btn-green]="val==((offset/max)+1)" *ngFor="let val of dataList.page" type="button" class="btn btn-default">
                                                {{val}}
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div *ngIf="dataList && dataList.count == 0">
                            <div class="alert alert-warning alert-dismissable">
                                <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                                <strong><i class="fa fa-warning"></i></strong> No se encontraron registros.
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!myglobal.existsPermission('109')">
                        <div class="btn-red padding-error">
                            <h5><i class="fa fa-warning"></i>&nbsp;<strong>ADVERTENCIA</strong></h5>
                            No tiene permisos para ver caja
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>