<div class="box box-success">
    <div class="box-header">
        <h3 class="box-title">Facturas</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div *ngIf="myglobal.existsPermission('109')"  class="box-body">
        <div *ngIf=" dataList && dataList.count > 0 ">
            <table id="content" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Fecha de transacci&oacute;n</th>
                    <th>Tipo de recarga</th>
                    <th>Detalle</th>
                    <th>Veh&iacute;culo</th>
                    <th>#Ref o #Recibo</th>
                    <th>Fecha de referencia</th>
                    <th>Monto ({{MONEY_METRIC}})</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of dataList.list">
                    <td>
                        <a class="btn btn-box-tool"
                           (click)="goTaquilla($event,data.companyId)">
                            {{data.companyName}}&nbsp;({{data.companyRuc}})
                            <i class="fa fa-external-link"></i>
                        </a>
                    </td>
                    <td>
                        {{formatDate(data.dateCreated,'DD/MM/YYYY, LT')}}
                    </td>
                    <td>
                        <strong> <i class="{{data.rechargeTypeIcon}}"></i>&nbsp;{{data.rechargeTypeTitle}}</strong><br/>
                    </td>
                    <td><span *ngIf="data.operationId"><strong>E/S: </strong>{{data.weightIn}}/{{data.weightOut}} {{data.metric}}</span></td>
                    <td>{{data.vehiclePlate}}</td>
                    <td>{{data.reference}}</td>
                    <td>
                        {{formatDate(data.referenceDate,'DD/MM/YYYY')}}
                    </td>
                    <td>{{data.quantity | number:'.0-2'}}{{MONEY_METRIC_SHORT}}</td>
                </tr>
                </tbody>
            </table>
            <div *ngIf="rechargeTotal.debe">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Peso de entrada</th>
                        <th>Peso de salida</th>
                        <th>Peso descargado</th>
                        <th>Facturado</th>
                        <th><i class="fa fa-dollar text-green"></i>&nbsp;Saldo de clientes</th>
                        <th><i class="fa fa-dollar text-green"></i>&nbsp;Ingresos</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>TOTAL</td>
                        <td>{{rechargeTotal.weightIn | number:'.0-3'}}</td>
                        <td>{{rechargeTotal.weightOut | number:'.0-3'}}</td>
                        <td>{{rechargeTotal.weightIn - rechargeTotal.weightOut | number:'.0-3'}}</td>
                        <td>{{rechargeTotal.debe * -1 | number:'.0-2'}}</td>
                        <td>{{rechargeTotal.haber + rechargeTotal.debe | number:'.0-2'}}</td>
                        <td>{{rechargeTotal.haber | number:'.0-2'}}</td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf=" dataList && dataList.count > 0 " class="col-lg-12">
                <button (click)="exportCSV()" type="button" class="btn btn-default pull-right">
                    <i class="fa fa-download"></i>&nbsp;Exportar a CSV
                </button>
            </div>

        </div>
        <div *ngIf="dataList && dataList.count == 0">
            <div class="alert alert-warning alert-dismissable">
                <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                    <strong><i class="fa fa-warning"></i></strong> No se encontraron facturas.
            </div>
        </div>
    </div>
    <div *ngIf="myglobal.existsPermission('109')"  class="box-footer with-border">
        <div *ngIf="dataList && dataList.page && dataList.page.length > 1" class="btn-group pull-right">
            <button (click)="loadData(val)" [class.btn-green]="val==((offset/max)+1)" *ngFor="let val of dataList.page" type="button" class="btn btn-default">
                {{val}}
            </button>
        </div>
    </div>
    <div *ngIf="!myglobal.existsPermission('109')">
        <div class="btn-red padding-error">
            <h5><i class="fa fa-warning"></i>&nbsp;<strong>ADVERTENCIA</strong></h5>
            No tiene permisos para listar las recargas
        </div>
    </div>

</div>