<div class="content-wrapper">
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h4 class="box-title">
                    <strong>LIBRO: </strong>
                </h4>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" [ngFormModel]="form" (submit)="loadLibro($event)">
                            <div class="form-group input-icon right col-lg-2">
                                Lapso
                                <div class="input-icon right">
                                    <select [(ngModel)]="fechaSelect"  (ngModelChange)="setFecha($event)"  sm-dropdown class="ui fluid search selection dropdown">
                                        <option data-hidden="true" value="-1"></option>
                                        <option *ngFor="let n of itemsFecha"  [attr.value]="n.id" >{{n.text}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group input-icon right col-lg-3">
                                    Inicio
                                    <div class="input-icon right">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                        <input datepicker [format]="formatDateFact" (fecha)="loadFechaFac($event)" accesskey="1" value="Periodo inicial" type="text" class="form-control">
                                    </div>
                            </div>
                            <div class="form-group input-icon right col-lg-3">
                                Fin
                                <div class="input-icon right">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                    <input datepicker [format]="formatDateFact" (fecha)="loadFechaFac($event)" accesskey="2" value="Periodo final" type="text" class="form-control">
                                </div>
                            </div>
                            <div *ngIf="rechargeTypes.list" class="form-group input-icon right col-lg-2">
                                Tipo de recarga
                                <select [(ngModel)]="typeSelect"  (ngModelChange)="setType($event)"  sm-dropdown class="ui fluid search selection dropdown">
                                    <option data-hidden="true" value="-1" >Todos</option>
                                    <option *ngFor="let n of rechargeTypes.list"  [attr.value]="n.id" >{{n.title}}</option>
                                </select>
                            </div>


                            <div class="col-lg-2 center-margin padding-top">
                                <button (click)="loadLibro($event)" type="button" class="btn btn-success pull-right"
                                        id="cntrlsubmit" [disabled]="!form.valid">
                                    <i class="fa fa-bank"></i>
                                    Consultar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div  class="col-lg-12" style="margin-top: 10pt">
                    <div *ngIf="myglobal.existsPermission('109')">
                        <div *ngIf=" dataList && dataList.count > 0 ">
                            <table id="content"  class="table table-hover table-bordered">

                                <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <th>Fecha de transacci&oacute;n</th>
                                    <th>#Ref o #Recibo</th>
                                    <th>Fecha de referencia</th>
                                    <th>Tipo</th>
                                    <th>Descargado</th>
                                    <th>Debe</th>
                                    <th>Haber</th>
                                </tr>
                                </thead>
                                <tbody *ngFor="let recharges of dataList.list">
                                <tr [class.alert-error]="recharges.rechargeTypeId==4 && recharges.quantity>0">
                                    <td>
                                        <a class="btn btn-box-tool"
                                           (click)="goTaquilla($event,recharges.companyId)">
                                            {{recharges.companyName}}&nbsp;({{recharges.companyRuc}})
                                            <i class="fa fa-external-link"></i>
                                        </a>
                                    </td>
                                    <td>
                                        {{formatDate(recharges.dateCreated,'DD/MM/YYYY, LT')}}
                                    </td>
                                    <td>{{recharges.reference}}</td>
                                    <td>
                                        {{formatDate(recharges.referenceDate,'DD/MM/YYYY')}}
                                    </td>
                                    <td>
                                        <i class="{{recharges.rechargeTypeIcon}}"> {{recharges.rechargeTypeTitle}}</i>
                                    </td>
                                    <td>
                                        {{ (recharges.weight | number:'.0-3') || "&nbsp;"}} {{recharges.metric}}
                                    </td>
                                    <td>{{recharges.rechargeTypeId!=4?(recharges.quantity | number:'.0-2')+" "+MONEY_METRIC_SHORT:"&nbsp;"}}</td>
                                    <td>{{recharges.rechargeTypeId==4?((recharges.quantity*-1) | number:'.0-2')+" "+MONEY_METRIC_SHORT:"&nbsp;"}}</td>
                                </tr>
                                </tbody>
                                <tfoot *ngIf="dataList && dataList.page.length > 1">
                                <tr>
                                    <td colspan="8">
                                        <div class="btn-group pull-right">
                                            <button (click)="loadData(val)" [class.btn-green]="val==((offset/max)+1)" *ngFor="let val of dataList.page" type="button" class="btn btn-default">
                                                {{val}}
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>


                        <div *ngIf="rechargeTotal.debe">
                            <table class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>Peso de entrada</th>
                                    <th>Peso de salida</th>
                                    <th>Peso descargado</th>
                                    <th>Facturado</th>
                                    <th><i class="fa fa-dollar text-green"></i>&nbsp;Saldo de clientes</th>
                                    <th><i class="fa fa-dollar text-green"></i>&nbsp;Ingresos</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>TOTAL</td>
                                        <td>{{rechargeTotal.weightIn | number:'.0-3'}}</td>
                                        <td>{{rechargeTotal.weightOut | number:'.0-3'}}</td>
                                        <td>{{rechargeTotal.weightIn - rechargeTotal.weightOut | number:'.0-3'}}</td>
                                        <td>{{(rechargeTotal.debe * -1) | number:'.0-2'}}</td>
                                        <td>{{(rechargeTotal.haber + rechargeTotal.debe) | number:'.0-2'}}</td>
                                        <td>{{rechargeTotal.haber | number:'.0-2'}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>



                        <div *ngIf="dataList && dataList.count == 0">
                            <div class="alert alert-warning alert-dismissable">
                                <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                                <strong><i class="fa fa-warning"></i></strong> No se encontraron facturas.
                            </div>
                        </div>
                    </div>
                    <div *ngIf=" dataList && dataList.count > 0 " class="row pull-right">
                        <button (click)="exportCSV()" type="button" class="btn btn-default">
                            <i class="fa fa-download"></i>&nbsp;Exportar a CSV
                        </button>
                    </div>
                    <div *ngIf="!myglobal.existsPermission('109')">
                        <div class="btn-red padding-error">
                            <h5><i class="fa fa-warning"></i>&nbsp;<strong>ADVERTENCIA</strong></h5>
                            No tiene permisos para listar el libro
                        </div>
                    </div>
                </div>
            </div>
            <div>

            </div>
        </div>
    </section>
</div>