<div class="box box-success">
    <div class="box-header">
        <h3 class="box-title">Facturas</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <div *ngIf=" dataList && dataList.count > 0 ">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Registrado</th>
                    <th>Recarga</th>
                    <th>Vehiculo</th>
                    <th>Referencia</th>
                    <th>Fecha</th>
                    <th>Monto</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of dataList.list">
                    <td>{{data.id}}</td>
                    <td>{{data.dateCreated | fecha | date:'dd-MM-yyyy, h:mma' }}</td>
                    <td>
                        <strong> <i class="{{data.rechargeTypeIcon}}"></i>&nbsp;{{data.rechargeTypeTitle}}</strong><br/>
                    </td>
                    <td>{{data.vehiclePlate}}</td>
                    <td>{{data.reference}}</td>
                    <td>{{data.referenceDate | fecha | date:'dd-MM-yyyy' }}</td>
                    <td>{{data.quantity}} <span *ngIf="data.operationId"><strong>E/S: </strong>{{data.weightIn}}/{{data.weightOut}}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="dataList && dataList.count == 0">
            <div class="alert alert-warning alert-dismissable">
                <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                    <strong><i class="fa fa-warning"></i></strong> No se encontraron facturas.
            </div>
        </div>
    </div>
    <div class="box-footer with-border">
        <div *ngIf="dataList && dataList.count > 0" class="btn-group pull-right">
            <button (click)="loadData(max*(val-1))" *ngFor="let val of dataList.page" type="button" class="btn btn-default">
                {{val}}
            </button>
        </div>
    </div>
</div>