<div class="box box-success">
    <div class="box-header">
        <h3 class="box-title">Facturas</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div *ngIf="myglobal.existsPermission('109')"  class="box-body">
        <div *ngIf=" dataList && dataList.count > 0 ">
            <table class="table table-striped table-hover">
                <thead>
                <tr>

                    <th>Registrado</th>
                    <th>Recarga</th>
                    <th>Veh&iacute;culo</th>
                    <th>Referencia</th>
                    <th>Fecha</th>
                    <th>Monto</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of dataList.list">

                    <td>
                        {{data.dateCreated | fecha | date:'dd' }}/
                        {{data.dateCreated | fecha | date:'MM' }}/
                        {{data.dateCreated | fecha | date:'yyyy' }},
                        {{data.dateCreated | fecha | date:'h:mma' }}
                    </td>
                    <td>
                        <strong> <i class="{{data.rechargeTypeIcon}}"></i>&nbsp;{{data.rechargeTypeTitle}}</strong><br/>
                    </td>
                    <td>{{data.vehiclePlate}}</td>
                    <td>{{data.reference}}</td>
                    <td>
                        {{data.referenceDate | fecha | date:'dd' }}/
                        {{data.referenceDate | fecha | date:'MM' }}/
                        {{data.referenceDate | fecha | date:'yyyy' }}
                    </td>
                    <td>{{data.quantity}} <span *ngIf="data.operationId"><strong>E/S: </strong>{{data.weightIn}}/{{data.weightOut}}</span></td>
                </tr>
                </tbody>
            </table>
            <div *ngIf="rechargeTotal.debe">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Peso de entrada</th>
                        <th>Peso de salida</th>
                        <th>Debe</th>
                        <th>Haber</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>TOTAL</td>
                        <td>{{rechargeTotal.weightIn}}</td>
                        <td>{{rechargeTotal.weightOut}}</td>
                        <td>{{rechargeTotal.debe * -1}}</td>
                        <td>{{rechargeTotal.haber}}</td>

                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div *ngIf="dataList && dataList.count == 0">
            <div class="alert alert-warning alert-dismissable">
                <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                    <strong><i class="fa fa-warning"></i></strong> No se encontraron facturas.
            </div>
        </div>
    </div>
    <div *ngIf="myglobal.existsPermission('109')"  class="box-footer with-border">
        <div *ngIf="dataList && dataList.count > 0" class="btn-group pull-right">
            <button (click)="loadData(max*(val-1))" *ngFor="let val of dataList.page" type="button" class="btn btn-default">
                {{val}}
            </button>
        </div>
    </div>
    <div *ngIf="!myglobal.existsPermission('109')">
        <div class="btn-red padding-error">
            <h5><i class="fa fa-warning"></i>&nbsp;<strong>ADVERTENCIA</strong></h5>
            No tiene permisos para listar las recargas
        </div>
    </div>

</div>