<div class="content-wrapper">
    <section class="content">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Recargas</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#saveRecarga">
                            Agregar
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body" >
                    <div>
                        <table class="table table-striped table-hover tarjeta">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Veh&iacute;culo</th>
                                <th>Referencia</th>
                                <th>Fecha</th>
                                <th>Cantidad </th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let data of dataList.list" >
                                <td>{{data.id}}</td>
                                <td >{{data.vehiclePlate}}</td>
                                <td (blur)="onUpdate($event,data)" accessKey="reference" contenteditable="true">{{data.reference}}</td>
                                <td >{{data.referenceDate | fecha | date:'dd-MM-yyyy' }}</td>
                                <td (blur)="onUpdate($event,data)" accessKey="quantity" contenteditable="true">{{data.quantity}}</td>
                                <td> <i (click)="onDelete($event,data.id)" class="fa fa-trash fa-lg btn"></i></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer with-border">
                    <div class="btn-group pull-right">
                        <button (click)="loadData(max*(val-1))" *ngFor="let val of dataList.page" type="button" class="btn btn-default">
                            {{val}}
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </section>
</div>
<recarga-save idModal="saveRecarga" (save)="assignRecarga($event)"> </recarga-save>
