<div class="modal fade" id="{{idModal}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar</h4>
            </div>
            <div class="modal-body">
                <form role="form" [ngFormModel]="form" (submit)="submitForm($event)">
                    <div class="form-group">
                        <div class="btn-group rechargeTypes">
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" *ngFor="let type of rechargeTypes.list">
                                <i class="{{type.icon}} btn fa-lg" [class.red]="rechargeType.value==type.id"
                                   (click)="setRechargeType(type.id)">
                                    {{type.title}}
                                </i>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!idVehicle" class="form-group input-icon right">
                        <i class="fa fa-car"></i>
                        <input ngControl="vehicle" class="form-control" [(ngModel)]="vehicle.value"  #vehicle="ngForm" placeholder="Vehiculo" type="text">
                        <div [hidden]="vehicle.valid || vehicle.pristine" class="alert alert-danger">
                            El campo contiene errores
                        </div>
                    </div>

                    <div class="form-group input-icon right">
                        <i class="fa fa-money"></i>
                        <input ngControl="quantity" class="form-control" [(ngModel)]="quantity.value"  #quantity="ngForm" placeholder="Cantidad" type="number">
                        <div [hidden]="quantity.valid || quantity.pristine" class="alert alert-danger">
                            El campo contiene errores
                        </div>
                    </div>
                    <div class="form-group input-icon right">
                        <i class="fa fa-location-arrow"></i>
                        <input ngControl="reference" class="form-control" [(ngModel)]="reference.value"  #reference="ngForm" placeholder="Referencia" type="text">
                        <div [hidden]="reference.valid || reference.pristine" class="alert alert-danger">
                            El campo contiene errores
                        </div>
                    </div>

                    <div class="form-group input-icon right">
                        <i class="fa fa-calendar"></i>
                        <input ngControl="referenceDate" class="form-control" [(ngModel)]="referenceDate.value"  #referenceDate="ngForm" placeholder="Fecha" type="date">
                        <div [hidden]="referenceDate.valid || referenceDate.pristine" class="alert alert-danger">
                            El campo contiene errores
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button (click)="submitForm($event)" data-dismiss="modal" type="button" class="btn btn-primary"
                        id="cntrlsubmit" [disabled]="!form.valid">
                    <i class="fa fa-save"></i>
                    Registrar
                </button>
            </div>
        </div>
    </div>
</div>