<div class="modal fade" id="{{idModal}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar</h4>
            </div>
            <div class="modal-body">
                <form role="form" [ngFormModel]="form" (submit)="submitForm($event)">
                    <div *ngIf="myglobal.existsPermission('116')" class="form-group row">
                        <div class="btn-group rechargeTypes center-block">
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" *ngFor="let type of rechargeTypes.list">
                                <i class="{{type.icon}} btn fa-lg" [class.red]="rechargeType.value==type.id"
                                   (click)="setRechargeType(type.id)">
                                    {{type.title}}
                                </i>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!myglobal.existsPermission('116')">
                        <div class="btn-red form-group padding-error">
                            <h5><i class="fa fa-warning"></i>&nbsp;<strong>ADVERTENCIA</strong></h5>
                            No tiene permisos para listar los tipos de recargas
                        </div>
                    </div>
                    <div *ngIf="!idVehicle" class="form-group">
                        <div *ngIf="myglobal.existsPermission('69')">
                            <strong>Veh&iacute;culo: </strong>{{dataVehicle || "Buscar Vehículo"}}
                            <button type="button" class="btn btn-box-tool text-blue" data-toggle="modal" data-target="#searchVehicle">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <div *ngIf="!myglobal.existsPermission('69')">
                            <div class="btn-red form-group padding-error">
                                <h5><i class="fa fa-warning"></i>&nbsp;<strong>ADVERTENCIA</strong></h5>
                                No tiene permisos para listar los vehiculos
                            </div>
                        </div>
                    </div>

                    <div class="form-group input-icon right">
                        <i class="fa fa-money"></i>
                        <input ngControl="quantity" class="form-control" [(ngModel)]="quantity.value"  #quantity="ngForm" placeholder="Cantidad" type="number">
                        <div [hidden]="quantity.valid || quantity.pristine" class="alert alert-danger">
                            El campo contiene errores
                        </div>
                    </div>
                    <div class="form-group input-icon right">
                        <i class="fa fa-location-arrow"></i>
                        <input ngControl="reference" class="form-control" [(ngModel)]="reference.value"  #reference="ngForm" placeholder="Referencia" type="text">
                        <div [hidden]="reference.valid || reference.pristine" class="alert alert-danger">
                            El campo contiene errores
                        </div>
                    </div>

                    <div class="form-group input-icon right ">
                        <div class="input-group date">
                            <input datepicker [format]="formatDateFact" (fecha)="loadFechaFac($event)" value="Ingresar una fecha" type="text" class="form-control">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button (click)="submitForm($event)" data-dismiss="modal" type="button" class="btn btn-primary"
                        id="cntrlsubmit" [disabled]="!form.valid">
                    <i class="fa fa-save"></i>
                    Registrar
                </button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!myglobal.existsPermission('69')">
    <search  [params]="searchVehicle" (result)="assignVehicle($event)"></search>
</div>
