.red {
    color: red;
}
.timeline-icon{
    //padding-top: 10pt;
}
.center-margin{
    margin-top: 11pt;
}
.padding-error{
    padding: 5pt;
}
.bg-ivonne{
    background-color: #c8f3d7 !important;
}
.bg-ivonne::after{
    border-color: transparent #c8f3d7 transparent transparent !important;
}
.recargas{
    color: blue;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    padding-bottom: 15px;
}
.titulo-recarga{
    color: rgba(0, 0, 0, 0.5);font-size: 12pt;
}