<div class="row mtxl">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="timeline-centered timeline-sm bg-">

            <article *ngFor="let data of dataList.list; let i=index; let last = last" class="timeline-entry" [class.left-aligned]="i%2">
                <div class="timeline-entry-inner">
                    <time class="timeline-time">
                        <span>
                            {{formatDate(data.dateCreated,'LT')}}
                        </span>
                        <span>
                            {{formatDate(data.dateCreated,'DD/MM/YYYY')}}
                        </span>
                    </time>
                    <div class="timeline-icon {{color[data.rechargeTypeIcon]}} ">
                        <i class="{{data.rechargeTypeIcon}}"></i>
                    </div>
                    <div class="timeline-label {{color[data.rechargeTypeIcon]}}">
                        <h4 class="timeline-title">
                            {{data.rechargeTypeTitle}}: {{data.quantity | number:'.0-2'}}$
                            Ref: {{data.reference}}
                        </h4>
                        <p>
                            <strong>Fecha de Referencia: </strong>
                                {{formatDate(data.referenceDate,'DD/MM/YYYY')}}
                            <br/>
                            <strong>Cliente:&nbsp;</strong>{{data.companyName}}&nbsp;({{data.companyRuc}})<br/>
                            <span *ngIf="data.operationId">

                                <strong>Placa del veh&iacute;culo: </strong>{{data.vehiclePlate}}<br/>
                                <strong>Peso de entrada: </strong>{{data.weightIn | number:'.0-3'}}<br/>
                                <strong>Peso de salida: </strong>{{data.weightOut | number:'.0-3'}}<br/>
                            </span>
                        </p>
                    </div>
                </div>
            </article>

            <article *ngIf="params.offset+1 < dataList.count" class="timeline-entry">
                <div class="timeline-entry-inner">
                    <a href="#" (click)="addtimeLine($event)">
                    <div  style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);" class="timeline-icon"><i class="fa fa-plus"></i></div>
                    </a>
                </div>
            </article>
        </div>
    </div>
</div>