.cursor {
    cursor: pointer;
}
th.check {
    background: rgba(13, 86, 40, 0.77) !important;
    color: white !important;
}

td.check {
    background: rgba(0, 187, 0, 0.18);
}
.text-picker{
    background-color: transparent;
    border:0;
    cursor: pointer;
}