<div class="modal fade" id="{{idModal}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar</h4>
            </div>
            <div class="modal-body">
                <form role="form" [ngFormModel]="form" >
                    <div class="form-group input-icon right">
                        <i class="fa fa-list"></i>
                        <input id="nombre" ngControl="nombre" class="form-control" #nombre
                               placeholder="Nombre" name="nombre" type="text">
                        <div class="control-msgs" *ngIf="nombre.dirty && !nombre.valid && !nombre.pending">
                            <p *ngIf="nombre.errors.required">Nombre Requerido</p>
                        </div>
                    </div>
                    <div class="form-group input-icon right">
                        <i class="fa fa-image"></i>
                        <input id="telefono" ngControl="telefono" class="form-control" #telefono
                               placeholder="Telefono" name="telefono" type="text">
                        <div class="control-msgs" *ngIf="telefono.dirty && !telefono.valid && !telefono.pending">
                            <p *ngIf="telefono.errors.required">Teléfono Requerido</p>
                        </div>
                    </div>
                    <div class="form-group input-icon right">
                        <i class="fa fa-image"></i>
                        <input id="direccion" ngControl="direccion" class="form-control" #direccion
                               placeholder="Dirección" name="direccion" type="text">
                        <div class="control-msgs" *ngIf="direccion.dirty && !direccion.valid && !direccion.pending">
                            <p *ngIf="direccion.errors.required">Dirección Requerido</p>
                        </div>
                    </div>
                    <div class="form-group input-icon right">
                        <i class="fa fa-image"></i>
                        <input id="email" ngControl="email" class="form-control" #email
                               placeholder="Correo" name="email" type="text">
                        <div class="control-msgs" *ngIf="email.dirty && !email.valid && !email.pending">
                            <p *ngIf="email.errors.required">Correo Requerido</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button (click)="submitForm($event)" data-dismiss="modal" type="button" class="btn btn-primary"
                        id="cntrlsubmit" [disabled]="!form.valid">
                    <i class="fa fa-save"></i>
                    Registrar
                </button>
            </div>
        </div>
    </div>
</div>
