<div class="content-wrapper">
    <section class="content">
        <div class="">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Vehiculos
                        <button type="button" class="btn btn-success fa fa-plus" data-toggle="modal"
                                data-target="#saveVehiculo">
                        </button>
                    </h3>
                    <div class="pull-right">
                        <div *ngIf="dataList.page && dataList.page.length > 1 && dataList.count > 0"
                             class="btn-group pull-right">
                            <button (click)="loadData(max*(val-1))" *ngFor="let val of dataList.page" type="button"
                                    class="btn btn-default">
                                {{val}}
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div *ngFor="let data of dataList.list">
                        <div class="col-lg-4">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="profile">
                                        <div style="margin-bottom: 15px" class="row">
                                            <div class="col-xs-12 col-sm-4 text-center">
                                                <figure>
                                                    <img src="{{data.image?data.image:'/assets/img/truck-guest.ico'}}"
                                                         alt="" style="display: inline-block"
                                                         class="img-responsive img-circle img-form">
                                                </figure>
                                            </div>
                                            <div class="col-xs-12 col-sm-8">
                                                <strong class="truncate">{{data.plate}}</strong>
                                                <div class="btn-group dropdown pull-right">
                                                    <button type="button" data-toggle="dropdown"
                                                            class="btn btn-box-tool dropdown-toggle" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        <i class="fa fa-gears fa-lg"></i>
                                                    </button>
                                                    <ul role="menu" class="dropdown-menu text-left submenu-config">
                                                        <li>
                                                            <a (click)="onPatch('enabled',data)"
                                                               href="javascript:void(0);">
                                                                <span class="fa fa-warning"></span>
                                                                {{data.enabled?"Bloquear":"Habilitar"}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-8 col-lg-12">
                                                <p>
                                                    <strong>Peso:</strong>
                                                    <a x-editable [endpoint]="endpoint" [function]="onEditable"
                                                       [data]="data" [rules]="rules" field="weight"></a>
                                                </p>
                                                <p>
                                                    <strong>Balance Minimo:</strong>
                                                    <a x-editable [endpoint]="endpoint" [function]="onEditable"
                                                       [data]="data" [rules]="rules" field="minBalance"></a>
                                                </p>
                                                <p>
                                                    <strong>Balance:</strong>
                                                    {{data.balance || "N/A"}}
                                                </p>
                                                <p>
                                                    {{ data.tagRFID ? data.tagRFID:"N/A"}}


                                                        <button *ngIf="data.tagRFID" (click)="releaseTag(data)"
                                                                type="button" class="btn btn-box-tool">
                                                            <i class="fa fa-minus text-red"></i>
                                                        </button>

                                                        <button (click)="dataSelect = data.id"
                                                                data-toggle="modal" data-target="#saveTagVehiculo"
                                                                type="button" class="btn btn-box-tool">
                                                            <i class="fa fa-plus text-green"></i>
                                                        </button>

                                                        <button *ngIf="!data.tagRFID" (click)="dataSelect = data.id"
                                                                data-toggle="modal" data-target="#searchTag"
                                                                type="button" class="btn btn-box-tool">
                                                            <i class="fa fa-search text-blue"></i>
                                                        </button>

                                                </p>
                                                <p>
                                                    <i class="{{data.vehicleTypeIcon?data.vehicleTypeIcon:'fa truck'}}"></i>
                                                    <strong>{{data.vehicleTypeTitle}}</strong><br/>
                                                    {{data.vehicleTypeDetail}}


                                                        <button (click)="dataSelect = data.id"
                                                                data-toggle="modal" data-target="#saveTipoVehiculoAdd"
                                                                type="button" class="btn btn-box-tool">
                                                            <i class="fa fa-plus text-green"></i>
                                                        </button>

                                                        <button (click)="dataSelect = data.id"
                                                                data-toggle="modal" data-target="#searchTipoVehiculo"
                                                                type="button" class="btn btn-box-tool">
                                                            <i class="fa fa-search text-blue"></i>
                                                        </button>

                                                </p>
                                                <p>
                                                    <button (click)="onPatch('enabled',user)" class="btn btn-sm"
                                                            [class.btn-green]="data.enabled"
                                                            [class.btn-red]="!data.enabled">
                                                        {{data.enabled?"Habilitado":"Bloqueado"}}
                                                    </button>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 text-center divider divider-form">
                                            <div *ngIf="!data.companyId">
                                                No tiene una empresa asignada.
                                            </div>
                                            <div *ngIf="data.companyId">
                                                <div class="pull-left">
                                                    <figure>
                                                        <img src="{{data.companyImage?data.companyImage:'/assets/img/company-guest.ico'}}"
                                                             class="img-responsive img-circle img-list">
                                                    </figure>
                                                    <div class="box-tools">
                                                        <button (click)="dataSelect = data.id"
                                                                data-toggle="modal" data-target="#saveEmpresaAdd"
                                                                type="button" class="btn btn-box-tool">
                                                            <i class="fa fa-plus text-green"></i>
                                                        </button>

                                                        <button (click)="dataSelect = data.id"
                                                                data-toggle="modal" data-target="#searchEmpresaNueva"
                                                                type="button" class="btn btn-box-tool">
                                                            <i class="fa fa-search text-blue"></i>
                                                        </button>
                                                    </div>

                                                </div>
                                                <div>
                                                    <strong>{{data.companyName}}</strong><br/>
                                                    <strong>RUC: </strong>{{data.companyRuc}}<br/>
                                                    <strong>Telefono: </strong>{{data.companyPhone}}<br/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./box-body -->
                <div class="box-footer with-border">

                </div>
            </div>
            <!-- /.box -->
        </div>
    </section>
</div>
<vehiculo-save idModal="saveVehiculo" (save)="assignVehiculo($event)"></vehiculo-save>
<empresa-save idModal="saveEmpresaAdd" (save)="assignEmpresa($event)"></empresa-save>
<tag-save idModal="saveTagVehiculo" (save)="assignTagNuevo($event)"></tag-save>
<tipoVehiculo-save idModal="saveTipoVehiculoAdd" (save)="assignTipoVehiculo($event)"></tipoVehiculo-save>

<search [params]="searchTag" (result)="assignTag($event)"></search>
<search [params]="searchTipoVehiculo" (result)="assignTipoVehiculo($event)"></search>
<search [params]="searchEmpresa" (result)="assignEmpresa($event)"></search>