<div class="content-wrapper">
    <section class="content">
        <div class="">
            <div class="box">
                <div class="box-header with-border">
                    <button *ngIf="myglobal.existsPermission('70')" type="button" class="btn btn-primary btn-green" data-toggle="modal" data-target="#saveVehiculo">
                        <i class="fa fa-plus"></i>&nbsp;Nuevo
                    </button>
                    <div class="pull-right">
                        <div *ngIf="dataList.page && dataList.page.length > 1 && dataList.count > 0"
                             class="btn-group pull-right">
                            <button (click)="loadData(max*(val-1))" *ngFor="let val of dataList.page" type="button"
                                    class="btn btn-default">
                                {{val}}
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div *ngIf="dataList.list && myglobal.existsPermission('69')" class="box-body" >
                    <div *ngFor="let vehList of dataList.list | divide:3 " class="row">
                        <div *ngFor="let data of vehList">
                            <div class="col-lg-4">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="profile">
                                        <div style="margin-bottom: 15px" class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="btn-group dropdown pull-right">
                                                    <button type="button" data-toggle="dropdown"
                                                            class="btn btn-box-tool dropdown-toggle" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        <i class="fa fa-gears fa-lg"></i>
                                                    </button>
                                                    <ul role="menu" class="dropdown-menu text-left submenu-config">
                                                        <li *ngIf="myglobal.existsPermission('73')">
                                                            <a (click)="onLock('enabled',data)"
                                                               href="javascript:void(0);">
                                                                <span class="fa fa-warning"></span>
                                                                {{data.enabled?"Bloquear":"Habilitar"}}
                                                            </a>
                                                        </li>
                                                        <li *ngIf="myglobal.existsPermission('71')">
                                                            <a data-toggle="modal" [attr.data-target]="'#myModal'+data.id"  href="#">
                                                                <span class="fa fa-trash"></span>
                                                                &nbsp;Eliminar
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center separacion">
                                                <figure>
                                                    <div [imageSrc]="data.image || '/assets/img/truck-guest.png'" x-cropit
                                                         (saveImagen)="changeImage($event,data.id)">
                                                        <div class="cropit-preview center-block"></div>
                                                        <div class="col-lg-12 margenes" [hidden]="!myglobal.existsPermission('78')" >
                                                            <div class="col-lg-6">
                                                                <button class="btn btn-box-tool fa fa-rotate-left rotate-ccw fa-fw"></button>
                                                                <button class="btn btn-box-tool fa fa-rotate-right rotate-cw"></button>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <input type="range" class="cropit-image-zoom-input"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12" [hidden]="!myglobal.existsPermission('78')">
                                                            <div class="col-lg-6">
                                                                <input x-file type="file" class="cropit-image-input"/>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <button (click)="loadImage($event,data)"
                                                                        class="btn btn-success pull-right fa fa-save upload boton-guardar">
                                                                    &nbsp;Guardar
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </figure>
                                            </div>

                                            <div class="col-xs-12 col-sm-8 col-lg-12">
                                                <strong class="truncate">{{data.plate}}</strong>
                                                <p>
                                                    <strong>Peso:</strong>
                                                    <a x-editable [endpoint]="endpoint" [function]="onEditable" [disabled]="!myglobal.existsPermission('72')"
                                                       [data]="data" [rules]="rules" field="weight"></a>
                                                </p>
                                                <p>
                                                    <strong>Balance M&iacute;nimo:</strong>
                                                    <a x-editable [endpoint]="endpoint" [function]="onEditable" [disabled]="!myglobal.existsPermission('72')"
                                                       [data]="data" [rules]="rules" field="minBalance"></a>
                                                </p>
                                                <p>
                                                    <strong>Balance:</strong>
                                                    {{data.balance || "N/A"}}
                                                </p>
                                                <p>
                                                    {{ data.tagRFID ? data.tagRFID:"N/A"}}


                                                        <button *ngIf="data.tagRFID && myglobal.existsPermission('77')"
                                                                (click)="releaseTag(data)"
                                                                type="button" class="btn btn-box-tool">
                                                            <i class="fa fa-minus text-red"></i>
                                                        </button>

                                                        <button (click)="dataSelect = data.id"
                                                                *ngIf="myglobal.existsPermission('79')"
                                                                data-toggle="modal" data-target="#saveTagVehiculo"
                                                                type="button" class="btn btn-box-tool">
                                                            <i class="fa fa-plus text-green"></i>
                                                        </button>

                                                        <button *ngIf="!data.tagRFID && myglobal.existsPermission('76')"
                                                                (click)="dataSelect = data.id"
                                                                data-toggle="modal" data-target="#searchTag"
                                                                type="button" class="btn btn-box-tool">
                                                            <i class="fa fa-search text-blue"></i>
                                                        </button>

                                                </p>
                                                <p>
                                                    <i class="{{data.vehicleTypeIcon?data.vehicleTypeIcon:'fa truck'}}"></i>
                                                    <strong>{{data.vehicleTypeTitle}}</strong><br/>
                                                    {{data.vehicleTypeDetail}}


                                                        <button (click)="dataSelect = data.id"
                                                                *ngIf="myglobal.existsPermission('37')"
                                                                data-toggle="modal" data-target="#saveTipoVehiculoAdd"
                                                                type="button" class="btn btn-box-tool">
                                                            <i class="fa fa-plus text-green"></i>
                                                        </button>

                                                        <button (click)="dataSelect = data.id"
                                                                *ngIf="myglobal.existsPermission('75')"
                                                                data-toggle="modal" data-target="#searchTipoVehiculo"
                                                                type="button" class="btn btn-box-tool">
                                                            <i class="fa fa-search text-blue"></i>
                                                        </button>

                                                </p>
                                                <p *ngIf="myglobal.existsPermission('73')">
                                                    <button (click)="onLock('enabled',data)" class="btn btn-sm"
                                                            [class.btn-green]="data.enabled"
                                                            [class.btn-red]="!data.enabled">
                                                        {{data.enabled?"Habilitado":"Bloqueado"}}
                                                    </button>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 text-center divider divider-form">
                                            <div *ngIf="!data.companyId">
                                                No tiene una empresa asignada.
                                            </div>
                                            <div *ngIf="data.companyId">
                                                <div class="pull-left">
                                                    <figure>
                                                        <img src="{{data.companyImage?data.companyImage:'/assets/img/company-guest.png'}}"
                                                             class="img-responsive img-circle img-list">
                                                    </figure>
                                                    <div class="box-tools">
                                                        <button (click)="dataSelect = data.id"
                                                                *ngIf="myglobal.existsPermission('68')"
                                                                data-toggle="modal" data-target="#saveEmpresaAdd"
                                                                type="button" class="btn btn-box-tool">
                                                            <i class="fa fa-plus text-green"></i>
                                                        </button>

                                                        <button (click)="dataSelect = data.id"
                                                                *ngIf="myglobal.existsPermission('74')"
                                                                data-toggle="modal" data-target="#searchEmpresaNueva"
                                                                type="button" class="btn btn-box-tool">
                                                            <i class="fa fa-search text-blue"></i>
                                                        </button>
                                                    </div>

                                                </div>
                                                <div>
                                                    <strong>{{data.companyName}}</strong><br/>
                                                    <strong>RUC: </strong>{{data.companyRuc}}<br/>
                                                    <strong>Telefono: </strong>{{data.companyPhone}}<br/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- ./box-body -->
                <div class="box-footer with-border">

                </div>
            </div>
            <!-- /.box -->
        </div>
    </section>
</div>
<div *ngIf="myglobal.existsPermission('70')">
    <vehiculo-save idModal="saveVehiculo" (save)="assignVehiculo($event)"></vehiculo-save>
</div>
<div *ngIf="dataList.list && myglobal.existsPermission('71')">
    <div *ngFor="let data of dataList.list" class="modal fade" [attr.id]="'myModal'+data.id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header btn-red text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-warning"></i>&nbsp;<strong>ADVERTENCIA</strong></h4>
                </div>
                <div class="modal-body">
                    ¿ Estás seguro que deseas eliminar a <strong>{{data.plate}}</strong> ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outlined btn-red fa fa-close" data-dismiss="modal">&nbsp;Cancelar</button>
                    <button (click)="onDelete($event,data.id)" data-dismiss="modal"  type="button" class="btn btn-red fa fa-trash">&nbsp;Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="myglobal.existsPermission('68')">
    <empresa-save idModal="saveEmpresaAdd" (save)="assignEmpresa($event)"></empresa-save>
</div>
<div *ngIf="myglobal.existsPermission('79')">
    <tag-save idModal="saveTagVehiculo" (save)="assignTagNuevo($event)"></tag-save>
</div>
<div *ngIf="myglobal.existsPermission('76')">
    <search [params]="searchTag" (result)="assignTag($event)"></search>
</div>
<div *ngIf="myglobal.existsPermission('74')">
    <search [params]="searchEmpresa" (result)="assignEmpresa($event)"></search>
</div>
<div *ngIf="myglobal.existsPermission('37')">
    <tipoVehiculo-save idModal="saveTipoVehiculoAdd" (save)="assignTipoVehiculo($event)"></tipoVehiculo-save>
</div>
<div *ngIf="myglobal.existsPermission('75')">
    <search [params]="searchTipoVehiculo" (result)="assignTipoVehiculo($event)"></search>
</div>

