.img-form{
    width: 50pt;
}
.img-list{
    width: 32pt;
}
.tarjeta{
    border: 1px solid #bdbdbd;
}
.submenu-config{
    border: 1px solid #BDBBBB !important;
}
.panel{
    border: 1px solid rgba(39, 39, 39, 0.18);
    border-radius: 10px !important;
}
.divider-form{
    padding-top: 10pt;
}
.separacion{
    margin-bottom: 10pt;
}
.rotate-cw ,.rotate-ccw{
    margin: 0px !important;
}
.margenes{
    margin-bottom: 10pt;
    margin-top: 10pt;
}
.boton-guardar{
    padding: 8pt;
    margin-top: 0px !important;
}
.padding-error{
    padding: 5pt;
}