<div class="content-wrapper">
    <section class="content-header">
        <h1>
            {{title}}
            <button type="button" class="btn btn-primary btn-sm btn-green" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-plus"></i> Nuevo
            </button>
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <div *ngFor="let user of data">
            <div class="col-lg-4">
                <div class="panel">
                    <div class="panel-body">
                        <div class="profile">
                            <div style="margin-bottom: 15px" class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                    <div class="btn-group dropdown pull-right">
                                        <button type="button" data-toggle="dropdown" class="btn btn-white dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-gears fa-lg"></i>
                                        </button>
                                        <ul role="menu" class="dropdown-menu text-left submenu-config">
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <span class="fa fa-envelope"></span>
                                                    &nbsp;Enviar Email
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <span class="fa fa-list"></span>
                                                    &nbsp;Borrar
                                                </a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <span class="fa fa-warning"></span>
                                                    &nbsp;Bloquear
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                                <div class="col-xs-12 col-sm-4 text-center">
                                    <figure>
                                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" alt="" style="display: inline-block" class="img-responsive img-circle">
                                        <figcaption class="ratings">
                                            <p><a href="javascript:void(0);"><span class="fa fa-star"></span></a><a
                                                    href="javascript:void(0);"><span class="fa fa-star"></span></a><a
                                                    href="javascript:void(0);"><span class="fa fa-star"></span></a><a
                                                    href="javascript:void(0);"><span class="fa fa-star"></span></a><a
                                                    href="javascript:void(0);"><span class="fa fa-star-o"></span></a>
                                            </p>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="col-xs-12 col-sm-8">
                                    <h3>{{user.username}}</h3>

                                    <p><strong>Id:</strong>{{user.id}}</p>
                                    <p><strong>Nombre:</strong> {{user.name}}</p>
                                    <p><strong>Telefonos:</strong>{{user.phone}} </p>
                                </div>
                                <div class="col-xs-12 col-sm-8 col-lg-12">
                                    <p><strong>Email:</strong> {{user.email}}</p>
                                    <p><strong>Empresa:</strong> {{user.empresa}}</p>

                                    <p>
                                        <button *ngIf="!user.accountLocked" class="btn btn-green btn-sm">Habilitado</button>
                                        <button *ngIf="user.accountLocked" class="btn btn-red btn-sm">Bloqueado</button>

                                        <button *ngIf="user.enabled" class="btn btn-green btn-sm">Verificado</button>
                                        <button *ngIf="!user.enabled" class="btn btn-red btn-sm">Sin Verificar</button>
                                    </p>
                                </div>
                            </div>
                            <div class="row text-center divider">
                                <div class="col-xs-12 col-sm-4 emphasis">
                                    <h2><strong> 20,7K</strong></h2>
                                    <p>
                                        <small>Tonealadas</small>
                                    </p>
                                    <button class="btn btn-yellow btn-block">Registro</button>
                                </div>
                                <div class="col-xs-12 col-sm-4 emphasis">
                                    <h2><strong>43</strong></h2>
                                    <p>
                                        <small>Camiones</small>
                                    </p>
                                    <button class="btn btn-yellow btn-block">Camion</button>

                                </div>
                                <div class="col-xs-12 col-sm-4 emphasis">
                                    <h2><strong>245</strong></h2>
                                    <p>
                                        <small>Saldo</small>
                                    </p>
                                    <button class="btn btn-yellow btn-block">Taquilla</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar Usuario</h4>
            </div>
            <div class="modal-body">

                <form role="form">

                    <div class="form-group input-icon right"><i class="fa fa-user"></i>
                        <input type="text" #username class="form-control" id="username" placeholder="Usuario">
                    </div>
                    <div class="form-group input-icon right"><i class="fa fa-user"></i>
                        <input type="text" #name class="form-control" id="name" placeholder="Nombre">
                    </div>
                    <div class="form-group input-icon right"><i class="fa fa-envelope"></i>
                        <input type="email" #email class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group input-icon right"><i class="fa fa-key"></i>
                        <input type="password" #password class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group input-icon right"><i class="fa fa-phone"></i>
                        <input type="text" #phone class="form-control" id="phone" placeholder="Telefono">
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                <button (click)="onSave($event, username.value, password.value,email.value,phone.value,name.value)"
                        data-dismiss="modal" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Registrar
                </button>
            </div>
        </div>
    </div>
</div>
