<div class="content-wrapper">
    <section class="content-header">
        <div class="row">
            <div class="col-lg-3 visible-lg">
                <img src="/assets/img/dashboard/robot.png" class="img-responsive ">
            </div>
            <div class="col-lg-8">
                <h1 class="title">BIENVENIDOS A MONTE ESPERANZA</h1>
                <h3 class="subtitle">QUE DESEA REALIZAR</h3>
                <div class="text-center title">
                    <div class="col-lg-3 btn">
                        <img src="/assets/img/dashboard/vehiculo.png" class="actions-dashboard">
                        <h6>VEHICULO</h6>
                    </div>
                    <div class="col-lg-3 btn">
                        <img src="/assets/img/dashboard/ingresos.png" class="actions-dashboard">
                        <h6>INGRESOS</h6>
                    </div>
                    <div class="col-lg-3 btn">
                        <img src="/assets/img/dashboard/libro.png" class="actions-dashboard">
                        <h6>LIBRO</h6>
                    </div>
                    <div class="col-lg-3 btn" (click)="goTaquilla()">
                        <img src="/assets/img/dashboard/taquilla.png" class="actions-dashboard">
                        <h6>TAQUILLA</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">An&aacute;lisis de Gesti&oacute;n</h3>
                </div>
                <div class="box-body" >
                    <div >
                        <div class="col-md-8" *ngIf="dataArea.series.length>0">
                            <div [ng2-highcharts]="dataArea" ></div>
                        </div>
                        <div class="col-md-4">
                            <p class="text-center">
                                <strong>Balance</strong>
                            </p>
                            <div class="progress-group" *ngFor="let data of dataPlot" >
                                <span class="progress-text"><i class="{{data.icon}}"></i> &nbsp;{{data.title}}</span>
                                <span class="progress-number">{{data.quantity }}/ {{dataPlot.total}}</span>

                                <div class="progress sm">
                                    <div class="progress-bar progress-bar-yellow" [style.width.%]="(data.quantity*100)/dataPlot.total"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <recarga-timeline [params]="paramsTimeLine"> </recarga-timeline>
    </section>
</div>