<div class="content-wrapper">
    <section class="content-header">
        <div class="row">
            <div class="col-lg-3 visible-lg">
                <img src="/assets/img/dashboard/robot.png" class="img-responsive">
            </div>
            <div class="col-lg-8">
                <h1 class="title">BIENVENIDOS A MONTE ESPERANZA</h1><br/>
                <h3 class="subtitle">¿QU&Eacute; DESEA REALIZAR?</h3>
                <div class="text-center title padding-top">
                    <!--<div *ngIf="myglobal.existsPermission('12')" class="col-lg-3 btn" (click)="goVehiculos($event)">-->
                        <!--<img src="/assets/img/dashboard/vehiculo.png" class="actions-dashboard">-->
                        <!--<h6>VEH&Iacute;CULO</h6>-->
                    <!--</div>-->
                    <div *ngIf="myglobal.existsPermission('21')" class="col-lg-3 btn" (click)="goOperaciones($event)">
                        <img src="/assets/img/dashboard/operacion.png" class="actions-dashboard">
                        <h6>Operaciones</h6>
                    </div>
                    <div *ngIf="myglobal.existsPermission('13')" class="col-lg-3 btn" (click)="goFactura($event)">
                        <img src="/assets/img/dashboard/ingresos.png" class="actions-dashboard">
                        <h6>INGRESOS</h6>
                    </div>
                    <div *ngIf="myglobal.existsPermission('11')" class="col-lg-3 btn" (click)="goLibro($event)">
                        <img src="/assets/img/dashboard/libro.png" class="actions-dashboard">
                        <h6>LIBRO</h6>
                    </div>
                    <div *ngIf="myglobal.existsPermission('10')" class="col-lg-3 btn" (click)="goTaquilla($event)">
                        <img src="/assets/img/dashboard/taquilla.png" class="actions-dashboard">
                        <h6>TAQUILLA</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div *ngIf="myglobal.existsPermission('27')" >
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">An&aacute;lisis de gesti&oacute;n</h3>
                </div>
                <div class="box-body" >
                    <div class="row padding-bottom">
                        <div class="col-lg-4">
                            <div class="input-icon right">
                                <i class="glyphicon glyphicon-calendar"></i>
                                <input [class.hide]="msgLabel" datepicker [format]="formatDate1" (fecha)="loadFechaPlot($event)" value="Ingresar un periodo" type="text" class="form-control">
                                <input [class.hide]="!msgLabel" datepicker [format]="formatDate2" (fecha)="loadFechaPlot($event)" value="Ingresar un periodo" type="text" class="form-control">
                            </div>

                        </div>
                        <div class="col-lg-3" style="padding-top: 5pt;">
                            <label>
                                <div class="material-switch">
                                    <input (click)="cambiar()" id="formato" [attr.accesskey]="msgLabel" type="checkbox" [checked]="msgLabel"/>
                                    <label for="formato" class="label-success"></label>
                                    <span>&nbsp;{{msgLabel?"Año":"Mes/Año"}}</span>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div *ngIf="dataAreaPlot1.series.length>0" id="chartcontainer1" width='100%' class="padding-bottom col-lg-6">
                                <chart [options]="dataAreaPlot1" (load)="saveInstance($event.context,'plot1')"></chart>
                            </div>
                            <div *ngIf="dataAreaPlot2.series.length>0" id="chartcontainer2" width='100%' class="padding-bottom col-lg-6">
                                <chart [options]="dataAreaPlot2" (load)="saveInstance($event.context,'plot2')"></chart>
                            </div>
                        </div>
                        <div class="row">
                            <div *ngIf="dataAreaPlot3.series.length>0" id="chartcontainer3" width='100%' class="padding-bottom col-lg-6">
                                <chart [options]="dataAreaPlot3" (load)="saveInstance($event.context,'plot3')"></chart>
                            </div>
                            <div *ngIf="dataAreaPlot4.series.length>0" id="chartcontainer4" width='100%' class="padding-bottom col-lg-6">
                                <chart [options]="dataAreaPlot4" (load)="saveInstance($event.context,'plot4')"></chart>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 border">
                        <div class="col-lg-3">
                            <strong class="titulo-16">Consultar facturas</strong>
                        </div>
                        <div class="col-lg-7">
                            <form role="form" [ngFormModel]="form" (submit)="loadFacturas($event)">
                                <div datepicker [format]="formatDateFact" (fecha)="loadFechaFac($event)" class="input-daterange input-group">
                                    <input type="text" class="input-sm form-control" name="start" accessKey="1" />
                                    <span class="input-group-addon">Hasta</span>
                                    <input type="text" class="input-sm form-control" name="end" accessKey="2"/>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-2">
                            <button (click)="loadFacturas($event)" type="button" class="btn btn-success"
                                    id="cntrlsubmit" [disabled]="!form.valid">
                                <i class="fa fa-bank"></i>
                                Consultar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="consultar" [class.box]="consultar">
                <recarga-factura [params]="paramsFactura"> </recarga-factura>
            </div>
        </div>
        <div *ngIf="myglobal.existsPermission('28')">
            <recarga-timeline  [params]="paramsTimeLine"> </recarga-timeline>
        </div>
    </section>
</div>